<div class="pageEvents">

	<ul masonry-simple="{'gutter':1,'isAnimated':false,'itemSelector':'.pageEventsItem'}" ng-class="pagePhotosWithplayerClass()">

		<li ng-repeat="content in eventlist" class="pageEventsItem" masonry-simple-item id="page_events_{{$index}}">
			<content-event></content-event>
		</li>

	</ul>

	<a href="#" ng-click="loadMore()" skip-default class="loadMorePageContent" ng-style="getTitleStyle()"><i class="fa fa-plus"></i> Events ({{offset}} of {{contentSv.getPageList('events').list.length}}) </a>

</div>