<div class="pageEvents">

	<ul masonry-simple="{'gutter':1,'isAnimated':false,'itemSelector':'.pageEventsItem'}" ng-class="pagePhotosWithplayerClass()">

		<li ng-repeat="content in eventlist" class="pageEventsItem" masonry-simple-item id="page_events_{{$index}}">
			<content-event></content-event>
			<ul class="stats both">
				<li ng-repeat="(key,stat) in content.stats" ng-if="stat != 0" tooltip="{{key|capitalize}}: {{stat}}" tooltip-placement="bottom" class="inline">
					<div>
						<i ng-class="contentSv.getStatIcon(key)"></i> 
						<span count-up="{{stat}}">{{stat}}</span>
					</div>
				</li>
			</ul>
		</li>

	</ul>

	<a href="#" ng-click="loadMore()" skip-default class="loadMorePageContent" ng-style="getPageMoreStyle()"><i class="fa fa-plus"></i> Events</a>

</div>