<div class="pagePhotos">

	<div ng-if="show" class="photo_full_player_container">
		
		<div ng-repeat="content in contents">

			<a href="#" skip-default ng-click="move(-1)" class="photo_prev">
				<i class="icon-left-open"></i>
			</a>

			<a href="#" skip-default ng-click="close()" class="close_player">
				<i class="icon-cancel"></i>
			</a>

			<a href="#" skip-default ng-click="move(1)" class="photo_next">
				<i class="icon-right-open"></i>
			</a>

			<div class="photo_full_player">
				<content-photo></content-photo>
			</div>

			<ul class="stats both">
				<li ng-repeat="(key,stat) in content.stats" ng-if="stat != 0" tooltip="{{key|capitalize}}: {{stat}}" tooltip-placement="bottom" class="inline">
					<div>
						<i ng-class="contentSv.getStatIcon(key)"></i> 
						<span count-up="{{stat}}">{{stat}}</span>
					</div>
				</li>
			</ul>

			<related-contents></related-contents>

			<div class="comments">
				<fb-comments data-href="{{getContentCommentsHash()}}" data-notify="true" data-colorscheme="{{getCommentsColor()}}" class="comments_container"></fb-comments>
			</div>

		</div>

	</div>

	<ul ng-show="!show" masonry-simple="{'gutter':1,'isAnimated':false,'itemSelector':'.pagePhotosItem'}" ng-class="pagePhotosWithplayerClass()">

		<li ng-repeat="content in photolist" class="pagePhotosItem {{current == $index ? 'current':''}}" masonry-simple-item id="page_photos_{{$index}}">
			<content-photo></content-photo>
		</li>

	</ul>

	<a ng-show="!show" href="#" ng-click="loadMore()" skip-default class="loadMorePageContent" ng-style="getPageMoreStyle()"><i class="fa fa-plus"></i> Photos ({{offset}} of {{contentSv.getPageList('photos').list.length}}) </a>

</div>