<div class="pagePhotos">

	<ul masonry-simple="{'gutter':0,'isAnimated':false,'itemSelector':'.pagePhotosItem'}">

		<li ng-repeat="photo in photolist" class="pagePhotosItem" masonry-simple-item>

			<div class="pagePhotoContainer">
				<img ng-src="{{photo.src}}" class="photo" style="position:relative;top:0;left:0;z-index:2;">
			    <div class="overlay" ng-if="photo.title.length>0 && contentSv.getDescription(list[$index]).length>0">
		          <div class="overlay-inner">
		            <h2 ng-if="photo.title.length>0" class="beta">{{photo.title}}</h2>
		            <p ng-if="contentSv.getDescription(list[$index]).length>0" ng-bind-html="getDescription($index)"></p>
		          </div>
		        </div>
		    </div>

		</li>

	</ul>

	<a href="#" ng-if="!loading" ng-click="loadMore()" skip-default>More Photos</a>

</div>