<div class="pagePhotos">

	<div ng-if="show" class="photo_full_player_container" ng-style="getPlayerStyle()">
		
		<div ng-repeat="content in contents">

			<a href="#" skip-default ng-click="move(-1)" class="photo_prev" ng-style="getPlayerStyle()">
				<i class="fa fa-chevron-left"></i>
			</a>

			<a href="#" skip-default ng-click="close()" class="close_player" ng-style="getPlayerStyle()">
				<i class="fa fa-times"></i>
			</a>

			<a href="#" skip-default ng-click="move(1)" class="photo_next" ng-style="getPlayerStyle()">
				<i class="fa fa-chevron-right"></i>
			</a>

			<div class="photo_full_player">
				<content-photo></content-photo>
			</div>

			<related-contents></related-contents>

			<div class="comments">
				<fb-comments data-href="{{getContentCommentsHash()}}" data-notify="true" data-colorscheme="{{getCommentsColor()}}" class="comments_container"></fb-comments>
			</div>

		</div>

	</div>

	<ul masonry-simple="{'gutter':6,'isAnimated':false,'itemSelector':'.pagePhotosItem'}" ng-class="pagePhotosWithplayerClass()">

		<li ng-repeat="content in photolist" class="pagePhotosItem {{current == $index ? 'current':''}}" masonry-simple-item id="page_photos_{{$index}}">
			<content-photo></content-photo>
		</li>

	</ul>

	<a href="#" ng-click="loadMore()" skip-default class="loadMorePageContent" ng-style="getTitleStyle()"><i class="fa fa-icon-plus"></i> Photos ({{offset}} of {{contentSv.getPageList('photos').list.length}}) </a>

</div>