<div class="pageTracks">

	<div ng-if="show" class="track_full_player_container" ng-style="getPlayerStyle()">

		<div ng-repeat="content in contents">
		
			<a href="#" skip-default ng-click="move(-1)" class="track_prev" ng-style="getPlayerStyle()">
				<i class="fa fa-chevron-left"></i>
			</a>

			<a href="#" skip-default ng-click="close()" class="close_player" ng-style="getPlayerStyle()">
				<i class="fa fa-times-circle"></i>
			</a>

			<a href="#" skip-default ng-click="move(1)" class="track_next" ng-style="getPlayerStyle()">
				<i class="fa fa-chevron-right"></i>
			</a>

			<div class="track_full_player player" ng-bind-html="player"></div>

			<related-contents></related-contents>

			<div class="comments">
				<fb-comments data-href="{{getContentCommentsHash()}}" data-notify="true" data-colorscheme="{{getCommentsColor()}}" class="comments_container"></fb-comments>
			</div>

		</div>

	</div>

	<ul masonry-simple="{'gutter':0,'isAnimated':false,'itemSelector':'.pageTracksItem'}" ng-class="pageTracksWithplayerClass()">

		<li ng-repeat="content in tracklist" class="pageTracksItem {{current == $index ? 'current':''}}" masonry-simple-item id="page_tracks_{{$index}}">
			<content-track></content-track>
		</li>

	</ul>

	<a href="#" ng-click="loadMore()" skip-default class="loadMorePageContent" ng-style="getHighlightStyle()"><i class="fa fa-plus"></i> Tracks ({{offset}} of {{contentSv.getPageList('tracks').list.length}}) </a>

</div>