<div class="pageTracks">

	<div ng-if="show" class="track_full_player_container">
		
		<a href="#" skip-default ng-click="close()" class="close"><i class="icon-off"></i></a>

		<a href="#" skip-default ng-click="move(-1)" class="track_prev"><i class="icon-chevron-left"></i></a>

		<a href="#" skip-default ng-click="move(1)" class="track_next"><i class="icon-chevron-right"></i></a>

		<div class="track_full_player" ng-bind-html="player"></div>

	</div>

	<ul masonry-simple="{'gutter':0,'isAnimated':false,'itemSelector':'.pageTracksItem'}" ng-class="pageTracksWithplayerClass()">

		<li ng-repeat="content in tracklist" class="pageTracksItem" masonry-simple-item>
			<content-track></content-track>
		</li>

	</ul>

	<a href="#" ng-if="!loading" ng-click="loadMore()" skip-default class="loadMorePageContent" ng-style="getTitleStyle()"><i class="icon-plus"></i> Tracks ({{offset}} of {{contentSv.getPageList('tracks').list.length}}) </a>

</div>