<div class="pageVideos">

	<div ng-if="show" class="video_full_player_container" ng-style="getPlayerStyle()">

		<div ng-repeat="content in contents">
		
			<a href="#" skip-default ng-click="move(-1)" class="video_prev" ng-style="getPlayerStyle()">
				<i class="fa fa-chevron-circle-left"></i>
			</a>

			<a href="#" skip-default ng-click="close()" class="close_player" ng-style="getPlayerStyle()">
				<i class="fa fa-times-circle"></i>
			</a>

			<a href="#" skip-default ng-click="move(1)" class="video_next" ng-style="getPlayerStyle()">
				<i class="fa fa-chevron-circle-right"></i>
			</a>

			<div class="video_full_player" ng-bind-html="player"></div>

			<div class="comments">
				<fb-comments data-href="{{getContentCommentsHash()}}" data-notify="true" data-colorscheme="{{getCommentsColor()}}" class="comments_container"></fb-comments>
			</div>

		</div>

	</div>

	<ul masonry-simple="{'gutter':0,'isAnimated':false,'itemSelector':'.pageVideosItem'}" ng-class="pageVideosWithplayerClass()">

		<li ng-repeat="content in videolist" class="pageVideosItem {{current == $index ? 'current':''}}" masonry-simple-item id="page_videos_{{$index}}">
			<content-video></content-video>
		</li>

	</ul>

	<a href="#" ng-if="!loading && !show" ng-click="loadMore()" skip-default class="loadMorePageContent" ng-style="getTitleStyle()"><i class="fa fa-icon-plus"></i> Videos ({{offset}} of {{contentSv.getPageList('videos').list.length}}) </a>

</div>