<div class="pageVideos">

	<div ng-if="show" class="video_full_player_container" ng-style="getPlayerStyle()">
		
		<a href="#" skip-default ng-click="close()" class="close"><i class="icon-off"></i></a>

		<a href="#" skip-default ng-click="move(-1)" class="video_prev"><i class="icon-chevron-left"></i></a>

		<a href="#" skip-default ng-click="move(1)" class="video_next"><i class="icon-chevron-right"></i></a>

		<div class="video_full_player" ng-bind-html="player"></div>

	</div>
	

	<ul masonry-simple="{'gutter':0,'isAnimated':false,'itemSelector':'.pageVideosItem'}" ng-class="pageVideosWithplayerClass()">

		<li ng-repeat="content in videolist" class="pageVideosItem" masonry-simple-item>
			<content-video></content-video>
		</li>

	</ul>

	<a href="#" ng-if="!loading" ng-click="loadMore()" skip-default class="loadMorePageContent" ng-style="getTitleStyle()"><i class="icon-plus"></i> Videos ({{offset}} of {{contentSv.getPageList('videos').list.length}}) </a>

</div>