<div class="pageVideos">

	<div ng-if="show" class="video_full_player_container"">

		<div ng-repeat="content in contents">
		
			<a href="#" skip-default ng-click="move(-1)" class="video_prev"">
				<i class="fa fa-chevron-left"></i>
			</a>

			<a href="#" skip-default ng-click="close()" class="close_player"">
				<i class="fa fa-times-circle"></i>
			</a>

			<a href="#" skip-default ng-click="move(1)" class="video_next"">
				<i class="fa fa-chevron-right"></i>
			</a>

			<div class="video_full_player player" ng-bind-html="player"></div>

			<ul class="stats both">
				<li ng-repeat="(key,stat) in content.stats" ng-if="stat != 0" tooltip="{{key|capitalize}}: {{stat}}" tooltip-placement="bottom" class="inline">
					<div>
						<i ng-class="contentSv.getStatIcon(key)"></i> 
						<span count-up="{{stat}}">{{stat}}</span>
					</div>
				</li>
			</ul>

			<h2 ng-if="contentSv.getTitle(content).length>0">{{contentSv.getTitle(content)}}</h2>
			<p ng-if="contentSv.getDescription(content).length>0" ng-bind-html="getDescription()"></p>

			<related-contents></related-contents>

			<div class="comments">
				<fb-comments data-href="{{getContentCommentsHash()}}" data-notify="true" data-colorscheme="{{getCommentsColor()}}" class="comments_container"></fb-comments>
			</div>

		</div>

	</div>

	<ul ng-show="!show" masonry-simple="{'gutter':0,'isAnimated':false,'itemSelector':'.pageVideosItem'}" ng-class="pageVideosWithplayerClass()">

		<li ng-repeat="content in videolist" class="pageVideosItem {{current == $index ? 'current':''}}" masonry-simple-item id="page_videos_{{$index}}">
			<content-video></content-video>
		</li>

	</ul>

	<a ng-show="!show" href="#" ng-click="loadMore()" skip-default class="loadMorePageContent" ng-style="getPageMoreStyle()"><i class="fa fa-plus"></i> Videos</a>

</div>