<div class="big_pin_box" style="margin-top:10px;">
    <div class="pin-sub-header">
        <div class="navbar-inner">
            <div class="pull-left" ng-click="showComments = !showComments">
            	Comments (<div class="fb-comments-count inline" data-href="{{getContentCommentsHash()}}">0</div>)
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="comments" ng-show="showComments">
		<div class="fb-comments" data-href="{{commentsUrl}}" data-numposts="{{commentsNumposts}}" data-colorscheme="{{commentsColor}}"></div>		            	
    </div>
</div>