<div class="app" ng-class="getAppClass()">

	<fb app-id='211895592326072'></fb>
	<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	<script src="http://platform.tumblr.com/v1/share.js"></script>
	<script async="" defer="" src="//platform.instagram.com/en_US/embeds.js"></script>

	<div ng-if="isLogged()" id="config" ng-style="getConfigStyle()" tooltip="Edit theme"  tooltip-placement="right">
		<a href="#/" class="configcontrol" ng-click="adminTheme()" ng-style="getConfigButtonStyle()" skip-default><i class="fa fa-cogs"></i></a>

		<tabset ng-if="showConfig">

			<tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active">
				<div ng-switch="tab.key" class="inside">
					<admin-colors ng-switch-when='colors'></admin-colors>
					<admin-fonts ng-switch-when='fonts'></admin-fonts>
					<admin-background ng-switch-when='background'></admin-background>
				</div>
			</tab>

		</tabset>

	</div>

	<nav class="navbar navbar-fixed-top" role="navigation" get-menu-height ng-style="getMenuStyle()">
	  
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar" ng-style="getCollapseMenuItemStyle()"></span>
				<span class="icon-bar" ng-style="getCollapseMenuItemStyle()"></span>
				<span class="icon-bar" ng-style="getCollapseMenuItemStyle()"></span>
			</button>
			<a class="navbar-brand" href="#/" ng-style="getMenuStyle()">{{user.username|uppercase}}</a>
		</div>

		<div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">

				<li ng-repeat="network in filters.networks" class="inline menu-item" ng-click="filterNetwork(network)" ng-style="filterNetworkStyle(network)" tooltip="On/Off {{network}}" tooltip-placement="bottom">
					<p class="navbar-text navbar-right">
						<a href="#" skip-default>
							<i class="{{networkIcon(network)}}"></i>
						</a>
					</p>
				</li>

				<li ng-repeat="concept in filters.concepts" ng-click="filterConcept(concept)" ng-style="filterConceptStyle(concept)" class="inline menu-item" tooltip="On/Off {{concept}}" tooltip-placement="bottom">
					<p class="navbar-text navbar-right">
						<a href="#" skip-default>
							<i class="{{conceptIcon(concept)}}"></i>
						</a>
					</p>
				</li>

			</ul>

            <form class="navbar-form navbar-left" role="search" style="position:relative;">
                <div class="">
                    <input type="text" ng-model="search" name="search" placeholder="Search content" class="form-control">
                </div>
            </form>			

		</div>

	</nav>

	<div id="container" ng-style="getStyle()">

		<ul id="list">

			<li ng-repeat="content in list" ng-switch="content.concept" class="content left">

				<div class="left_column left rounded" ng-style="getContentStyle()">
					<content-video ng-switch-when='video'></content-video>
					<content-photo ng-switch-when='photo'></content-photo>
					<content-track ng-switch-when='track'></content-track>
					<content-post  ng-switch-when='post' ></content-post>
					<content-quote ng-switch-when='quote'></content-quote>
					<content-chat  ng-switch-when='chat' ></content-chat>
					<content-link  ng-switch-when='link' ></content-link>
					<content-event ng-switch-when='event'></content-event>

					<ul class="stats both">
						<li ng-repeat="(key,stat) in content.stats" ng-if="stat != 0" tooltip="{{key|capitalize}}: {{stat}}" tooltip-placement="bottom" class="stat">
							<div>
								<i ng-class="contentSv.getStatIcon(key)"></i> 
								<span count-up="{{stat}}">{{stat}}</span>
							</div>
						</li>
					</ul>

				</div>

				<div class="right_column right">
					<span class="user_info left">
						<a ng-href="/dashboard/#/socialnets/{{content.network}}/{{content.external_user_id}}">
							<img class="profile rounded" ng-src="{{getProfileImg($index)}}" alt="Go to profile" ng-style="getContentStyle()"/>
							{{content.external_user_name}}
							<i class="{{networkIcon(content.network)}}"></i>
						</a>
					</span>

					<ul class="share left both">
						<h3>Share on:</h3>
						<li class="left inline">
		                	<a target="_blank" href="http://twitter.com/share" share-twitter="{{content}}">
		                		<i class="{{networkIcon('twitter')}}"></i>
		                	</a>
		                </li>
		                <li class="left inline">
		                	<a target="_blank" href="http://www.facebook.com/sharer/sharer.php" share-facebook="{{content}}">
		                		<i class="{{networkIcon('facebook')}}"></i>
		                	</a>
		                </li>
		                <li class="left inline">
		                	<a target="_blank" href="http://www.tumblr.com/share" share-tumblr="{{content}}">
		                		<i class="{{networkIcon('tumblr')}}"></i>
		                	</a>
		                </li>
		            </ul>

					<!--		            
		            <fb-comments ng-if="$index == current" data-href="{{getContentCommentsHash()}}" data-notify="true" class="both comments_container"></fb-comments>
		            -->
		        </div>

			</li>

		</ul>

		<a href="#" class="loadMore" ng-click="moreContent()" skip-default><i class="fa fa-plus-circle"></i></a>

	</div>

</div>