<div>

	<fb app-id='211895592326072'></fb>
	<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	<script src="http://platform.tumblr.com/v1/share.js"></script>

	<nav class="navbar navbar-default" role="navigation" get-menu-height>
	  
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">{{user.username|uppercase}}</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">

				<li ng-repeat="network in filters.networks" class="inline" ng-click="filterNetwork(network)" ng-style="filterNetworkStyle(network)">
					<p class="navbar-text navbar-right">
						<a href="#" class="navbar-link" skip-default>
							<img ng-src="{{networkIcon(network)}}" class="socialIcon" />
						</a>
					</p>
				</li>

				<li ng-repeat="concept in filters.concepts" ng-click="filterConcept(concept)" ng-style="filterConceptStyle(concept)" class="inline">
					<p class="navbar-text navbar-right">
						<a href="#" class="navbar-link" skip-default>
							<i ng-class="conceptIcon(concept)"></i>
						</a>
					</p>
				</li>

			</ul>
		</div>

	</nav>


	<div id="container">

		<ul id="list" infinite-scroll="moreContent()" ng-style="getStyle()">
			<li ng-repeat="content in list" ng-switch="content.concept" class="content well">
				<content-video ng-switch-when='video'></content-video>
				<content-photo ng-switch-when='photo'></content-photo>
				<content-track ng-switch-when='track'></content-track>
				<content-post  ng-switch-when='post' ></content-post>
				<content-quote ng-switch-when='quote'></content-quote>
				<content-chat  ng-switch-when='chat' ></content-chat>
				<content-link  ng-switch-when='link' ></content-link>
				<content-event ng-switch-when='event'></content-event>
			</li>
		</ul>

	</div>


</div>