<div id="{{content.network}}_{{content.concept}}_{{content.external_id}}" class="photo {{content.network}}_{{content.concept}}">


	<div style="background:url('{{current.src}}');background-size:cover;background-position: center center;" class="overlay_photo"></div>


	<div style="position:relative;display:inline-block;margin:0 auto;width:100%;height:100%;">

		<div ng-if="moreThanOne()" class="{{content.network}}_bg left inline photo_prev">
			<a href="#/" skip-default ng-click="move(-1)">
		 		<img src="http://aytema.com/img/themes/simple/arrow-left.png" alt="Previous photo" />
		 	</a>
		</div>

		<div ng-if="moreThanOne()" class="{{content.network}}_bg right inline photo_next">
			<a href="#/" skip-default ng-click="move(1)">
				<img src="http://aytema.com/img/themes/simple/arrow-right.png" alt="Next photo" />
			</a>
		</div>
		<img ng-src="{{current.src}}" class="content_photo" />

	</div>

	<div class="content_caption" ng-if="getTitle().length>0 || getDescription().length>0"> 
		<h2>{{getTitle()}}</h2>
		<p ng-bind-html="getDescription()"></p>
	</div>

</div>