<div id="{{content.network}}_{{content.concept}}_{{content.external_id}}" class="photo {{content.network}}_{{content.concept}}">


	<div style="background:url('{{current.src}}');background-size:cover;background-position: center center;" class="overlay_photo"></div>

	<div class="overlay_content">

		<img ng-repeat="photo in photolist" ng-show="$index == currentPos" ng-src="{{photo.src}}" ng-class="$index == currentPos ? 'content_photo':''" />

		<div style="position:absolute;width:100%;top:0;left:0;">
			<div ng-if="moreThanOne()" class="left photo_prev {{content.network}}_bg">
				<a href="#/" skip-default ng-click="move(-1)">
			 		<img src="http://aytema.com/img/themes/simple/arrow-left.png" alt="Previous photo" />
			 	</a>
			</div>

			<div ng-if="moreThanOne()" class="right photo_next {{content.network}}_bg">
				<a href="#/" skip-default ng-click="move(1)">
					<img src="http://aytema.com/img/themes/simple/arrow-right.png" alt="Next photo" />
				</a>
			</div>
		</div>

	</div>

	<div class="content_caption" ng-if="getTitle().length>0 || getDescription().length>0"> 
		<h2>{{getTitle()}}</h2>
		<p ng-bind-html="getDescription()"></p>
	</div>

</div>