<div id="{{content.network}}_{{content.concept}}_{{content.external_id}}" class="track {{content.network}}_{{content.concept}}">

	<div style="background:url('{{getThumbnail()}}');background-size:cover;background-position: center center;" class="overlay_photo"></div>

	<div class="overlay_content">

		<a href="#/" add-to-queue="getPlayer()" skip-default>Add to queue</a>
		<div ng-if="canShowThumbnail()">
			<img ng-src="{{getThumbnail()}}" class="content_photo" />
		</div>

		<div class="content_caption" ng-if="getTitle().length>0 || getDescription().length>0"> 
			<h2>{{getTitle()}}</h2>
			<p ng-bind-html="getDescription()"></p>
		</div>

	</div>

</div>