<div id="{{content.network}}_{{content.concept}}_{{content.external_id}}" class="video {{content.network}}_{{content.concept}}">

	<div style="position:relative;">
		<strong ng-click="" add-to-queue="getPlayer()" skip-default class="addQueue right">
			<i class="fa fa-play-circle"></i>
		</strong>
		<img thumbnail="content" src="{{contentSv.getThumbnail(content)}}" class="content_photo" />
	</div>
	<div class="content_caption" ng-style="getControlsStyle()" ng-if="getTitle().length>0 || getDescription().length>0">
		<h2 ng-if="getTitle().length>0" class="title">{{getTitle()}}</h2>
		<p ng-bind-html="getDescription()"></p>	
	</div>

</div>