<div id="{{content.network}}_{{content.concept}}_{{content.external_id}}" class="track {{content.network}}_{{content.concept}}" style="background:url('{{getThumbnail()}}');background-size:cover;background-position: center center;">

	<div style="width:100%;height:100%;position:absolute;top:0;left:0;background:url('{{getThumbnail()}}');background-size:cover;background-position: center center;opacity:0.2;"></div>

	<div class="track_embed player" ng-bind-html="getPlayer()"></div>

	<div class="content_caption" ng-if="getTitle().length>0 || getDescription().length>0"> 
		<h2>{{getTitle()}}</h2>
		<p ng-bind-html="getDescription()"></p>
	</div>

</div>