<div class="text">

	<div class="both config_last">
		<div class="form-group">
			<label for="config.text.headline">Headline</label>
			<input type="text" class="form-control" name="config.custom.text.headline" ng-model="config.custom.text.headline" placeholder="Headline">
		</div>
		<div class="form-group">
			<label for="config.custom.text.phone">Phone</label>
			<input type="text" class="form-control" name="config.custom.text.phone" ng-model="config.custom.text.phone" placeholder="Phone">
		</div>
	</div>

	<div class="config-actions">
		<a href="#/" ng-click="saveConfig()" skip-default>Save as my Theme!</a>
		<a href="#/" ng-click="restoreConfig()" skip-default>Restore!</a>
	</div>

</div>