@media (max-width: 768px) {

  #accountPageList .adminContent {
    width: calc(100% - 32px);
  }

  .accountPageHeader .accountInfo {
      display: block;
      width: 100%;
      text-align: left;
  }

  .accountPageHeader .stats {
    float: left;
    text-align: left;
    margin-top: 12px;
  }

}

@media (min-width: 769px) {

  #accountPageList .adminContent {
    width: calc(50% - 23px);
  }

}

@media (min-width: 1025px) {

  #accountPageList .adminContent {
    width: calc(33% - 17px);
  }

}

@media (max-width: 480px) {
  .addContent input[type="text"] {
    width: 90%;
  }
}