@media (max-width: 480px) {

  .accountsContainer i {
    font-size: 20px;
  }

  .accountsContainer .list li {
    margin: 0;
  }

  .accountsContainer .account, .accountsContainer .account:hover  {
    width: 100%;
    min-height: 150px;
    margin: 0 auto;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
  }

  .accountsContainer .accountLayerImage, .accountsContainer .account:hover .accountLayerImage {  
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border: none;
    background-image: contain;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }

  .accountsContainer .accountLayerInfo, .accountsContainer:hover .accountLayerInfo {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border: none;
  }  

  .accountsContainer .account {
    border-color: black;
    background-color: black;
    border-style: solid;
    border-width: 15px;
  }

  .accountsContainer .account:hover  { 
    border-color: #252328 #19151F;
    background-color: black;
    border-style: solid;
    border-width: 5px;
  }

  #accountPageList .small {
    width: calc(100% - 31px);
  }
  #accountPageList .medium {
    width: calc(100% - 31px);
  }
  #accountPageList .large {
    width: calc(100% - 31px);
  }
  #accountPageList .xlarge {
    width: calc(100% - 31px);
  }
}

@media (min-width: 481px) and (max-width: 768px) {

  #accountPageList .small {
    width: calc(25% - 31px);
  }
  #accountPageList .medium {
    width: calc(50% - 31px);
  }
  #accountPageList .large {
    width: calc(75% - 31px);
  }
  #accountPageList .xlarge {
    width: calc(100% - 31px);
  }
}

@media (min-width: 769px) and (max-width: 1024px) {

  #accountPageList .small {
    width: calc(25% - 31px);
  }
  #accountPageList .medium {
    width: calc(50% - 31px);
  }
  #accountPageList .large {
    width: calc(75% - 31px);
  }
  #accountPageList .xlarge {
    width: calc(100% - 31px);
  }

}

@media (min-width: 1025px) and (max-width: 1200px) {

  #accountPageList .small {
    width: calc(25% - 31px);
  }
  #accountPageList .medium {
    width: calc(50% - 31px);
  }
  #accountPageList .large {
    width: calc(75% - 31px);
  }
  #accountPageList .xlarge {
    width: calc(100% - 31px);
  }

}

@media all and (max-width: 2048px) and (min-width: 1201px) {

  #accountPageList .small {
    width: calc(20% - 31px);
  }
  #accountPageList .medium {
    width: calc(25% - 31px);
  }

  #accountPageList .large {
    width: calc(33% - 31px);
  }
  #accountPageList .xlarge {
    width: calc(50% - 31px);
  }
}
