@media (max-width: 768px) {

  #accountPageList .small {
    width: calc(100% - 32px);
  }
  #accountPageList .medium {
    width: calc(100% - 32px);
  }
  #accountPageList .large {
    width: calc(100% - 32px);
  }
  #accountPageList .xlarge {
    width: calc(100% - 32px);
  }

  .accountPageHeader .accountInfo {
      display: block;
      width: 100%;
      text-align: left;
  }

  .accountPageHeader .stats {
    float: left;
    text-align: left;
    margin-top: 12px;
  }

}

@media (min-width: 769px) and (max-width: 1024px) {

  #accountPageList .small {
    width: calc(25% - 32px);
  }
  #accountPageList .medium {
    width: calc(50% - 32px);
  }
  #accountPageList .large {
    width: calc(75% - 32px);
  }
  #accountPageList .xlarge {
    width: calc(100% - 32px);
  }

}

@media (min-width: 1025px) and (max-width: 1200px) {

  #accountPageList .small {
    width: calc(25% - 32px);
  }
  #accountPageList .medium {
    width: calc(50% - 32px);
  }
  #accountPageList .large {
    width: calc(75% - 32px);
  }
  #accountPageList .xlarge {
    width: calc(100% - 32px);
  }

}

@media all and (max-width: 2048px) and (min-width: 1201px) {

  #accountPageList .small {
    width: calc(20% - 32px);
  }
  #accountPageList .medium {
    width: calc(25% - 32px);
  }

  #accountPageList .large {
    width: calc(33% - 32px);
  }
  #accountPageList .xlarge {
    width: calc(50% - 32px);
  }
}

@media (max-width: 480px) {
  .addContent input[type="text"] {
    width: 90%;
  }
}