.cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#config {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8)!important;
  color: #FFFFFF !important;
  font-size: 12px;
  line-height: 21px;
  position: fixed;
  text-transform: uppercase;
  top: 20%;
  z-index: 9000;
  text-align: left;
  font-family: 'Raleway',sans-serif;
  text-transform: none;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
}

#config .configcontrol {
  /*background: url("http://cloudcial.com/img/config.png") no-repeat scroll center center #F9F9F9;*/
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
  display: block;
  /*height: 51px;*/
  position: absolute;
  /*text-indent: -9999px;*/
  /*width: 51px;*/
  outline: none;
  border: none;
  padding: 8px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;    
}

#config .configcontrol i {
  color: #FFFFFF!important;
  font-size: 32px
}

#config .inside {
  width: 100%;
  min-height: 150px;
  padding: 20px;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2)!important;
  display: block;
  clear: both;
}

#config .config-actions {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2)!important;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  clear: both;
  width: 100%;
  margin-top: 20px;
  padding: 15px;
}

#config a, #config li {
  padding: 10px;
  color: #FFFFFF!important;  
}

#config .config-actions a {
  background: none repeat scroll 0 0 #adafae;
  border-radius: 4px;
  color: #FFFFFF!important;
  display: inline-block;
  clear: both;
  font-size: 14px;
  margin: 0px 10px;
  padding: 10px;
  text-align: center;
}

#config ul, #config .nav {
  padding: 0;
  margin: 0;
  border: none;
}


#config .nav a {
  border: medium none;
  border-radius: 0;
  font-size: 15px;
  line-height: 30px;
  margin: 0;
  color: #fff!important;
  -moz-opacity: 0.50;
  -khtml-opacity: 0.50;
  opacity: 0.50;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=50);
  font-style: normal;
}

#config ul > li, #config .nav > li > a, #config .nav > li > a:hover, #config .nav > li.active > a, #config .nav > li.active > a:hover {
  background: none!important;
  border: none;
  color: #EEEEEE!important;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
}

#config .nav > li.active > a, #config .nav > li.active > a:hover, #config .nav > li.active > a, #config .nav > li.active > a:hover {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2)!important;  
}

#config .active {
  border-bottom: 1px solid grey;
}

#config select {
  display: block;
  clear: both;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
  color: #FFFFFF!important;
  margin-bottom: 14px;
  padding: 13px 10px;
  border: none; 
}

#config select option {
  background: none!important;
}

#config .socialIcon {
  width: 20px;
}

/* COLORS */
#config .colors .item-color-element {
  display: inline-block;
}

#config .dropzone {
  width:50px;
  height:50px;
  min-height:initial;
  border:4px dashed green;
  min-height: initial;
  display: inline-block;
  padding: 0;
  margin: 0;
  background: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#config #thumbnail-dropzone {
  width: auto;
  height: auto;
}

#config .dropzone .dz-default.dz-message {
  background-image: none;
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
}

#config .dropzone .dz-preview {
  display: inline-block;
}

.cloudcialAccount {
  background-color: #38424b;
  color:#83bd40;
  border-color: #46515b #38424b;
}

.cloudcialAccountRgba {
  background-color: rgba(45, 46, 38, 0.7);
  color:#83bd40;
  border-color: #9aa48d #fff;
}

.cloudcialAccountPageHeader {
  border-bottom: 4px solid;
  border-color: #9aa48d #fff;
}

.cloudcialAccount a {
  color:#83bd40;
}

.facebookAccount {
  background-color: #3b5998;
  color:#000;
  border-color: #4E6DAD #3b5998;
}

.facebookAccountRgba {
  background-color: rgba(59, 89, 152, 0.7);
  color:#000;
  border-color: #4E6DAD #3b5998;
}

.facebookAccountPageHeader {
  border-bottom: 4px solid;
  border-color: #4E6DAD #3b5998;
}

.facebookAccount a {
  color:#000;
}

.soundcloudAccount {
  background-color: #ff5500;
  color:#000;
  border-color: #FA6E28 #ff5500;

  /*
  background-color: #f50;
  background-image: -webkit-linear-gradient(top,#f70 0%,#f30 100%);
  background-image: linear-gradient(to bottom,#f70 0%,#f30 100%);
  */
}

.soundcloudAccountRgba {
  background-color: rgba(255, 85, 0, 0.7);
  color:#000;
  border-color: #FA6E28 #ff5500;
}

.soundcloudAccountPageHeader {
  border-bottom: 4px solid;
  border-color: #FA6E28 #ff5500;
}

.soundcloudAccount a {
  color:#000;
}

.tumblrAccount {
  background-color: #36465d;
  color:#fff;
  border-color: #62728A #36465d;
}

.tumblrAccountRgba {
  background-color: rgba(72, 87, 109, 0.7);
  color:#fff;
  border-color: #62728A #36465d;
}

.tumblrAccountPageHeader {
  border-bottom: 4px solid;
  border-color: #62728A #36465d;
}

.tumblrAccount a {
  color:#fff;
}

.twitterAccount {
  background-color: #2aa9e0;
  color:#fff;
  border-color: #31BCF7 #2aa9e0;
}

.twitterAccountRgba {
  background-color: rgba(42, 169, 224, 0.7);
  color:#fff;
  border-color: #31BCF7 #2aa9e0;
}

.twitterAccountPageHeader {
  border-bottom: 4px solid;
  border-color: #31BCF7 #2aa9e0;
}

.twitterAccount a {
  color:#fff;  
}

.youtubeAccount {
  background-color: #f4001c;
  color:#fff;
  border-color: #FC2B43 #f4001c;
}

.youtubeAccountRgba {
  background-color: rgba(244, 0, 28, 0.7);
  color:#fff;
  border-color: #FC2B43 #f4001c;
}

.youtubeAccountPageHeader {
  border-bottom: 4px solid;
  border-color: #FC2B43 #f4001c;
}

.youtubeAccount a {
  color:#fff;
}

.vimeoAccount {
  background-color: #3d3d3d;
  color:#fff;
  border-color: #fff #3d3d3d;
}

.vimeoAccountRgba {
  background-color: rgba(61, 61, 61, 0.7);
  color:#fff;
  border-color: #fff #3d3d3d;
}

.vimeoAccountPageHeader {
  border-bottom: 4px solid;
  border-color: #fff #3d3d3d;
}

.vimeoAccount a {
  color:#fff;
}

.mixcloudAccount {
  background-color: #6d6e71;
  color:#fff;
  border-color: #4D4A4A #6d6e71;
}

.mixcloudAccountRgba {
  background-color: rgba(109, 110, 113, 0.7);
  color:#fff;
  border-color: #4D4A4A #6d6e71;
}  

.mixcloudAccountPageHeader {
  border-bottom: 4px solid;
  border-color: #4D4A4A #6d6e71;
}

.mixcloudAccount a {
  color:#fff;
}