.cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#config {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8)!important;
  color: #FFFFFF !important;
  font-size: 12px;
  line-height: 21px;
  position: fixed;
  text-transform: uppercase;
  top: 20%;
  z-index: 9000;
  text-align: left;
  font-family: 'Raleway',sans-serif;
  text-transform: none;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
}

#config .configcontrol {
  /*background: url("http://cloudcial.com/img/config.png") no-repeat scroll center center #F9F9F9;*/
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
  display: block;
  /*height: 51px;*/
  position: absolute;
  /*text-indent: -9999px;*/
  /*width: 51px;*/
  outline: none;
  border: none;
  padding: 8px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;    
}

#config .configcontrol i {
  color: #FFFFFF!important;
  font-size: 32px
}

#config .inside {
  width: 100%;
  min-height: 150px;
  padding: 20px;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2)!important;
  display: block;
  clear: both;
}

#config .config-actions {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2)!important;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  clear: both;
  width: 100%;
  margin-top: 20px;
  padding: 15px;
}

#config a, #config li {
  padding: 10px;
  color: #FFFFFF!important;  
}

#config .config-actions a {
  background: none repeat scroll 0 0 #adafae;
  border-radius: 4px;
  color: #FFFFFF!important;
  display: inline-block;
  clear: both;
  font-size: 14px;
  margin: 0px 10px;
  padding: 10px;
  text-align: center;
}

#config ul, #config .nav {
  padding: 0;
  margin: 0;
  border: none;
}


#config .nav a {
  border: medium none;
  border-radius: 0;
  font-size: 15px;
  line-height: 30px;
  margin: 0;
  color: #fff!important;
  -moz-opacity: 0.50;
  -khtml-opacity: 0.50;
  opacity: 0.50;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=50);
  font-style: normal;
}

#config ul > li, #config .nav > li > a, #config .nav > li > a:hover, #config .nav > li.active > a, #config .nav > li.active > a:hover {
  background: none!important;
  border: none;
  color: #EEEEEE!important;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
}

#config .nav > li.active > a, #config .nav > li.active > a:hover, #config .nav > li.active > a, #config .nav > li.active > a:hover {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2)!important;  
}

#config .active {
  border-bottom: 1px solid grey;
}

#config select {
  display: block;
  clear: both;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
  color: #FFFFFF!important;
  margin-bottom: 14px;
  padding: 13px 10px;
  border: none; 
}

#config select option {
  background: none!important;
}

#config .socialIcon {
  width: 20px;
}

/* COLORS */
#config .colors .item-color-element {
  display: inline-block;
}

#config .dropzone {
  width:50px;
  height:50px;
  min-height:initial;
  border:4px dashed green;
  min-height: initial;
  display: inline-block;
  padding: 0;
  margin: 0;
  background: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#config #thumbnail-dropzone {
  width: auto;
  height: auto;
}

#config .dropzone .dz-default.dz-message {
  background-image: none;
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
}

#config .dropzone .dz-preview {
  display: inline-block;
}