body {
  overflow: hidden;
  font-family: "Josefin Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
}

a {
	cursor: pointer;
}

*[ ng-click ] {
    cursor: pointer ;
}

* {
    scrollbar-face-color: #000000;
    scrollbar-shadow-color: #2D2C4D;  
    scrollbar-highlight-color:#7D7E94;  
    scrollbar-3dlight-color: #7D7E94;  
    scrollbar-darkshadow-color: #2D2C4D;  
    scrollbar-track-color: #7D7E94;  
    scrollbar-arrow-color: #C1C1D1;
    outline: none;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

a,a:hover,a:active,a:focus,
img,img:hover,img:active,img:focus {
    outline: none;
    border: none;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.center {
	text-align: center;
}

.left {
	float: left;
}

.right {
	float: right;
}

.both {
	clear: both;
}

.hide {
	display: none;
}

.next {
  float: right;
}

.prev {
  float: left;
}


/* Menu */
#header {
  display: block;
  width: 100%;
  clear: both;
}

#header li {
	display: inline-block;
}

.navbar {
  margin-bottom: 0;
  border-radius:0;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.8);
  -moz-box-shadow:    0px 0px 20px 0px rgba(0,0,0,0.8);
  box-shadow:         0px 0px 20px 0px rgba(0,0,0,0.8);
  border: none;
  border-bottom: 4px outset grey;
}

.usersSearch li {
  display: block!important;
}

/* Accounts */

.accountsContainer {
  position: relative;
}

.accountsContainer .addList li ,.accountsContainer .filterList li, .accountsContainer .list li {
	display: inline-block;
}

.accountsContainer .addList {
	float: left;
}

.accountsContainer .filterList {
	float: right;
}

.accountsContainer .list {
	clear: both;
	text-align: center;
}

.accountsContainer .addList li {
	margin-left:10px;
}

.accountsContainer .filterList li {
	margin-left:20px;
}

.accountsContainer .socialIcon {
	width: 20px;
}

.accountsContainer .profileImage {
	height:60px;
}

.accountsContainer .account {
	width: 200px;
	margin: 15px;
	padding: 15px;
	outline: 1px solid black;
	text-align: left;
  position: relative;
}

.accountsContainer .stats {
	overflow: auto;
	height: 100px;
	width: 70%;
	float: right;
	text-align: left;	
}

.accountsContainer .stats li {
	margin:4px;
}

/* Account Content List */

#accountList {
  height: 300px!important;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;  
}

.modalAccount {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  width: 100%;
  height: 100%;
  background-color: #F7F7F7;
}

.accountPageHeader .stats {
  width: auto;
  height: auto;
  float: left;
}

.accountPageHeader .stats li {
   float: left;
   margin-left: 10px;
}

#accountPageList {
  clear: both; 
  display: block;
  margin: 0 auto ;

  height: 300px!important;
  overflow: auto;
  width: 100%;
  text-align: center;
}


#accountPageList .stats {
  width: auto;
  height: auto;
}

#accountPageList .stats li {
	margin:4px;
}
  
 
/* stats */
#accountPageList .stats {
  width: 100%;
}

#accountPageList .stats li {
  margin-left:4px;
  float: left;
}

.adminContent {
  float: left;
  margin: 0 0 20px;
  padding: 10px;
  z-index: 1;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
  -moz-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
  box-shadow: 0 1px 3px rgba(34,25,25,0.4);

  overflow: hidden;
}

.adminContent h2 {
  font-size: 20px;
}

/* Masonry */

.masonry {
  -webkit-transition-duration: 0.7s;
   -moz-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
     -o-transition-duration: 0.7s;
      transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: height, width;
   -moz-transition-property: height, width;
    -ms-transition-property: height, width;
     -o-transition-property: height, width;
      transition-property: height, width;
}

/* Responsive */

@media (max-width: 480px) {

  #accountPageList .small {
  width: 97%;
  }
  #accountPageList .medium {
  width: 97%;
  }
  #accountPageList .large {
  width: 97%;
  }
  #accountPageList .xlarge {
  width: 97%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {

  #accountPageList .small {
  width: 22%%;
  }
  #accountPageList .medium {
  width: 47%;
  }
  #accountPageList .large {
  width: 72%;
  }
  #accountPageList .xlarge {
  width: 97%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {

  #accountPageList .small {
    width: 22%;
  }
  #accountPageList .medium {
    width: 47%;
  }
  #accountPageList .large {
    width: 72%;
  }
  #accountPageList .xlarge {
    width: 97%;
  }

}

@media (min-width: 1025px) and (max-width: 1200px) {

  #accountPageList .small {
    width: 22%;
  }
  #accountPageList .medium {
    width: 47%;
  }
  #accountPageList .large {
    width: 72%;
  }
  #accountPageList .xlarge {
    width: 97%;
  }

}

@media all and (max-width: 2048px) and (min-width: 1201px) {

  #accountPageList .small {
    width: 24%;
  }
  #accountPageList .medium {
    width: 32%;
  }

  #accountPageList .large {
    width: 42%;
  }
  #accountPageList .xlarge {
    width: 49.5%;
  }
}

.adminContent img {
  width: 100%;
}

.accountPageHeader {
  display: block;
  width:100%;
  padding:10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.aytemaAccountPageHeader, .aytemaAccount {
  background-color: #2D2E26;
  color:#5AC3C4;
}

.aytemaAccountPageHeader a, .aytemaAccount a {
  color:#8254BA;
}

.facebookAccountPageHeader, .facebookAccount {
  background-color: #3b5998;
  color:#000;  
}

.facebookAccountPageHeader a, .facebookAccount a {
  color:#fff;
}

.soundcloudAccountPageHeader, .soundcloudAccount {
  background-color: #ff200f;
  color:#000;
}

.soundcloudAccountPageHeader a, .soundcloudAccount a {
  color:#000;
}


.tumblrAccountPageHeader, .tumblrAccount {
  background-color: #48576d;
  color:#fff;
}

.tumblrAccountPageHeader a, .tumblrAccount a {
  color:#fff;
}

.twitterAccountPageHeader, .twitterAccount {
  background-color: #2aa9e0;
  color:#fff;
}

.twitterAccountPageHeader a, .twitterAccount a {
  color:#fff;  
}

.youtubeAccountPageHeader, .youtubeAccount {
  background-color: #f4001c;
  color:#fff;
}

.youtubeAccountPageHeader a, .youtubeAccount a {
  color:#fff;
}

.vimeoAccountPageHeader, .vimeoAccount {
  background-color:#3d3d3d;
  color:#fff;
}

.vimeoAccountPageHeader a, .vimeoAccount a {
  color:#fff;
}

.mixcloudAccountPageHeader, .mixcloudAccount {
  background-color: #6d6e71;
  color:#fff;
}

.mixcloudAccountPageHeader a, .mixcloudAccount a {
  color:#fff;
}


.account {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    
    -webkit-transition: all 350ms cubic-bezier(0.745, 0.200, 0.315, 1);
    -webkit-transition: all 350ms cubic-bezier(0.745, 0.200, 0.315, 1.395); 
    -moz-transition: all 350ms cubic-bezier(0.745, 0.200, 0.315, 1.395); 
     -o-transition: all 350ms cubic-bezier(0.745, 0.200, 0.315, 1.395); 
        transition: all 350ms cubic-bezier(0.745, 0.200, 0.315, 1.395);
}


.account.ng-enter {
  left: 100%;
  opacity: 0;
}

.account.ng-enter.ng-enter-active {
  left: 0;
}

.account.ng-leave {
  top: 0;
}

.account.ng-leave.ng-leave-active {
  top: 100%;
}



.accountDetail {
    position: relative;
    top:0;
    left: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    
    -webkit-transition: all 350ms cubic-bezier(0.745, 0.200, 0.315, 1);
    -webkit-transition: all 350ms cubic-bezier(0.745, 0.200, 0.315, 1.395); 
    -moz-transition: all 350ms cubic-bezier(0.745, 0.200, 0.315, 1.395); 
     -o-transition: all 350ms cubic-bezier(0.745, 0.200, 0.315, 1.395); 
        transition: all 350ms cubic-bezier(0.745, 0.200, 0.315, 1.395);
}


.accountDetail.ng-enter {
  left: 100%;
  opacity: 0;
}

.accountDetail.ng-enter.ng-enter-active {
  left: 100%;
}

.accountDetail.ng-leave {
  top:0;
}

.accountDetail.ng-leave.ng-leave-active {
  top:100%;
}