body {
    overflow: hidden;
}

a {
	cursor: pointer;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.center {
	text-align: center;
}

.left {
	float: left;
}

.right {
	float: right;
}

.both {
	clear: both;
}

.hide {
	display: none;
}

.next {
    float: right;
}

.prev {
    float: left;
}


/* Menu */
#header li {
	display: inline-block;
}


/* Accounts */

.accountsContainer .addList li ,.accountsContainer .filterList li, .accountsContainer .list li {
	display: inline-block;
}

.accountsContainer .addList {
	float: left;
}

.accountsContainer .filterList {
	float: right;
}

.accountsContainer .list {
	clear: both;
	text-align: center;
}

.accountsContainer .addList li {
	margin-left:10px;
}

.accountsContainer .filterList li {
	margin-left:20px;
}

.accountsContainer .socialIcon {
	width: 20px;
}

.accountsContainer .profileImage {
	height:60px;
}

.accountsContainer .account {
	width: 200px;
	margin: 15px;
	padding: 15px;
	outline: 1px solid black;
	text-align: left;
}

.accountsContainer .stats {
	overflow: auto;
	height: 100px;
	width: 70%;
	float: right;
	text-align: left;	
}

.accountsContainer .stats li {
	margin:4px;
}

#accountList {
    height: 1000px!important;
	overflow: auto;
}

/* Account Content List */

#accountPageHeader .stats {
    width: auto;
    height: auto;
    float: left;
}

#accountPageHeader .stats li {
   float: left;
   margin-left: 10px;
}

#accountPageList {
    clear: both; 
    display: block;
    margin: 0 auto ;

    height: 1000px!important;
    overflow: auto;
    width: 100%;
}

#accountPageList .item {
    border-bottom: 1px dotted #999999; 
    float: left; 
    height: auto; 
    padding: 0 0 15px; 
    margin: 0 0 20px;
}

#accountPageList .stats {
    width: auto;
    height: auto;
}

#accountPageList .stats li {
	margin:4px;
}
  
/*sizes modulos */
  
#accountPageList .small {
    width: 215px; 
} 
#accountPageList .medium { 
    width: 456px; 
} 
#accountPageList .large { 
    width: 698px; 
}

/* stats */
#accountPageList .stats {
    width: 100%;
}

#accountPageList .stats li {
    margin-left:4px;
    float: left;
}
  
/*images*/
  
#accountPageList .photoBox img {
    display: block; 
    width: 100%; 
} 
  
#accountPageList .twitterBox img { 
    display: block; 
    height: auto; 
} 
  
/*videos*/
  
#accountPageList .video_embed iframe { 
    position: relative; 
    z-index: 0 !important; 
} 
  
#accountPageList .video_embed object, .video_embed embed, .video_embed iframe { 
    display: block; 
} 
  
/*twitterBox*/
  
#accountPageList .twitterBox .datos_twitter {
    float: left; 
    width: 72%; 
} 
#accountPageList .datos_twitter a { 
    float: right !important; 
} 
#accountPageList .twitterBox a { 
    float: left; 
    font-size: 14px; 
    font-weight: 600; 
} 
  
#accountPageList .twitterBox span { 
    clear: both; 
    display: block; 
    text-align: right; 
    font-style: italic; 
    font-size: 13px; 
} 
#accountPageList .twitterBox p { 
    clear: both; 
    margin-top: 65px; 
} 
  
#accountPageList .twitterBox p a { 
    float: none; 
}