.settingsContainer {
	position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

.settingsContainer .settingsWidget {
  color: #adafae;
  text-align: left;
  float: left;
  margin-top: 20px;
  margin-left: 20px;
  height: 430px;
}

.settingsContainer .settingsWidget .settingsWidgetContainer {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 5px 20px;
  background-color: #2a3137;
  border-radius: 4px;
}

.settingsContainer .settingsWidget .settingsWidgetContainer i {
  font-size: 15px;
  padding: 10px;
}

.settingsContainer .settingsWidget h4 {
  color: #fff;
  /*text-shadow: rgb(3, 3, 3) 4px 4px 4px;*/
  text-transform: uppercase;
}

.settingsContainer .profileImageContainer {
  position: relative;
  width: calc(50% - 30px);
}

.settingsContainer #profileImage {
  width: 100%;
  height: 365px;
  margin: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
  -webkit-transition: background 0.5s ease-in-out 0s;
  -moz-transition: background 0.5s ease-in-out 0s;
  -o-transition: background 0.5s ease-in-out 0s;
  transition: background 0.5s ease-in-out 0s;
}

.settingsContainer .profileImageContainer .dropzone {
  min-height:initial;
  border: none;
  display: inline-block;
  padding: 0;
  margin: 0;
  background: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.settingsContainer .profileImageContainer .dropzone .dz-default.dz-message {
  background-image: none;
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
}

.settingsContainer .profileImageContainer .dropzone .dz-preview {
  display: none;
}

.settingsContainer .wysiwygContainer {
  position: relative;
  width: calc(50% - 30px);
  margin-bottom: 20px;
}

.settingsContainer .wysiwygContainer i {
  font-size: initial!important;
  padding: initial!important;
}

.settingsContainer .mapContainer {
  width: calc(50% - 30px);
  margin-bottom: 20px;
}

.settingsContainer .mapContainerPhoto {
  width: 100%;
  height: calc(100% - 110px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.settingsContainer .userContainer {
  position: relative;
  text-align: left;
  width: calc(50% - 30px);
}

.settingsContainer .userContainer form {
  height: 365px;
}

.settingsContainer .userContainer ul li {
  text-align: left;
  color: #1FCE6D;
}


/* TABS */

.nav-tabs.nav-justified > li > a {
  border: none;
  padding: 0;
  margin: 0;
  background: transparent;
  text-decoration: line-through;
}


.settingsContainer .nav-tabs.nav-justified > .active > a,
.settingsContainer .nav-tabs.nav-justified > .active > a:hover,
.settingsContainer .nav-tabs.nav-justified > .active > a:focus {
  color: #b0c19c;
  border: none;
  background: transparent;
  text-decoration: none;
}


.settingsContainer input[type="text"], .settingsContainer input[type="password"] {
  width: 100%;
  padding: 15px 0px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #4A4F53;
  outline: none;
  font-size: 16px;
  box-shadow: none;
}

.settingsContainer input::-moz-placeholder {
  color: #adafae;
  opacity: 1;
}
.settingsContainer input:-ms-input-placeholder {
  color: #adafae;
}
.settingsContainer input::-webkit-input-placeholder {
  color: #adafae;
}