.socialnets {
	max-width: 100%;
}

.socialnetSearch {
	display: inline-block;
	width: auto;
}



/* Socialnet detail */
.socialnetMenu {
	position:fixed;
	bottom:0;
	width:100%;
	z-index: 1;
}

.socialnetMenu .item {
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	display: inline-block;
	font-size:55px;
}


.socialnetSlide {
	position: relative;
	border-style:dotted;
	border-width: 25px;
	border-bottom: none;
	border-left: none;
	border-right: none;
}

.socialnetSlide .next, .socialnetSlide .prev {
	font-size: 150px;
	position:absolute;
	top:calc(50% - 75px);
}

.socialnetSlide .next {
	right: 0;
}

.socialnetSlide .prev {
	left: 0;
}


.socialnet .content {
	width: 100%;
	height: 100%;
}

.socialnet .content img {
	max-height: 100%;
	max-width: 100%;
}