@media (max-width: 480px) {

  .socialnet .footercontrol i {
    font-size: 35px;
  }

}

@media (max-width: 768px) {

	.socialnet .users {
		width: 100%;
		margin: 0 auto;
	}

	.socialnet .users .list_carousel .carousel_container .user {
		width: 60px;
		height: 60px;
	}

	.socialnet .username {
		display: none;
	}

	.socialnet .users .list_carousel .carousel_container .user .theme {
		font-size: 8px;
		padding:5px;
	}

	.socialnet .profileImage {
		width:160px;
		height:160px;
		border-width:5px;
	}

	.socialnet .profileLink, .socialnet .profileLink h1 {
		font-size: 60px;
	}

	.socialnet .stats {
		min-height: inherit;
	}	

	.socialnet .stat {
		font-size:20px;
		margin-left: 5px;
	}
}

@media (max-height: 480px) {

  .socialnet .footer {
    max-height: 250px;
  }

  .socialnet .footercontrol {
    padding: 0px 20px;
  }

  .socialnet .footercontrol i {
    font-size: 25px;
  }

  .socialnet .queued {
    height: 200px;
    width: 100%;
    z-index: 4;
  }

  .socialnet .queued ul {
    height: 200px;
    max-height: 200px;
    width: 100%;
    overflow-x:auto;
    overflow-y:hidden;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    text-align: left;
    scrollbar-face-color: #ffffff;
    scrollbar-shadow-color: #2D2C4D;  
    scrollbar-highlight-color:#7D7E94;  
    scrollbar-3dlight-color: #7D7E94;  
    scrollbar-darkshadow-color: #2D2C4D;  
    scrollbar-track-color: #7D7E94;  
    scrollbar-arrow-color: #C1C1D1; 
  }

  .socialnet .queued ul li {
    display: inline-block;
    height: 200px!important;
    padding: 5px;
    border-right:1px solid grey;
  }

  .socialnet .queued ul li i {
    font-size: 20px;
    line-height: 20px;
    color: #fff;
    float: right;
  }


  .socialnet .queued iframe,
  .socialnet .queued object,
  .socialnet .queued embed,
  .socialnet .queued video,
  .socialnet .queued audio {
    height: 150px;
    width: 200px;
    display: inline-block!important;
  }

}
