@media (max-width: 768px) {

	.socialnet .users {
		width: 100%;
		margin: 0 auto;
	}

	.socialnet .users .list_carousel .carousel_container .user {
		width: 60px;
		height: 60px;
	}

	.socialnet .username {
		display: none;
	}

	.socialnet .users .list_carousel .carousel_container .user .theme {
		font-size: 8px;
		padding:5px;
	}

	.socialnet .profileImage {
		width:160px;
		height:160px;
		border-width:5px;
	}

	.socialnet .profileLink, .socialnet .profileLink h1 {
		font-size: 60px;
	}

	.socialnet .stats {
		min-height: inherit;
	}	

	.socialnet .stat {
		font-size:20px;
		margin-left: 5px;
	}

	.socialnetSlide .content .overlay_photo {
		background-size:contain;
		background-attachment: initial;
	}

}