.statsContainer {
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0 auto
}

.statsContainer i {
	/*text-shadow: none;*/
}

.statsContainer #networkStats {
	width:50%;
	height:350px;
}

.statsContainer #accountStats {
	width:50%;
	height:350px;
}

.statsContainer #byNetworksStats .networkStatContainer {
	margin:20px;
	border-radius:6px;
}

.statsContainer #byNetworksStats .networkStatContainer .head {
	margin:14px;
}

.statsContainer #byNetworksStats .networkStatContainer .head i {
	font-size:40px;
}

.statsContainer #byNetworksStats .networkStatContainer .head strong {
	border-radius:50%;
	border-width:4px;
	border-style:solid;
	padding:6px;
}

.statsContainer #byNetworksStats .networkStatContainer .statList {
	background:#2a3137;
}

.statsContainer #byNetworksStats .networkStatContainer .statList .statItem {
	color:#7d8a90;
	padding:10px 25px;
	margin:5px 0px;
}

.statsContainer #byNetworksStats .networkStatContainer .statList .statItem p {
	font-size:22px;
}

.statsContainer #byNetworksStats .networkStatContainer .statList .statItem i {
	color:#7d8a90;
	font-size:20px;
}