<div class="latest latestPhotos" ng-style="{{getStyle()}}">
	<carousel interval="-8000">
		<slide ng-repeat="photo in photolist">

			<div style="background-image:url('{{photo.src}}');" class="photo" parallax-background parallax-ratio="0.1">

				<div class="text_container">
					<h3 ng-if="photo.title.length>0" class="title" ng-style="getTitleStyle()">{{photo.title}}</h3>

					<div ng-if="contentSv.getDescription(list[$index]).length>0" ng-bind-html="getDescription($index)" class="caption" ng-style="getDescriptionStyle()"></div>
				</div>

			</div>

		</slide>
	</carousel>
</div>