<div id="{{content.network}}_{{content.concept}}_{{content.external_id}}" class="event {{content.network}}_{{content.concept}}" style="position:relative;">

	<div parallax-background parallax-ratio="0.5" style="background-image:url('{{contentSv.getThumbnail(content)}}');" class="overlay_photo left inline"></div>

	<div ng-if="loaded" style="position:absolute;width:70%;top:calc(50% - 50px);left:0;z-index:1;w">
		<a href="#/" ng-click="move(-1)" alt="Previous photo" ng-if="moreThanOne()" skip-default class="prev"></a>

		<a href="#/" ng-click="move(1)" alt="Next photo" ng-if="moreThanOne()" skip-default class="next"></a>
	</div>

	<div class="content_caption right inline">
		<img ng-src="{{userSv.getNetworkProfileImage(content.network,content.external_user_id)}}" class="account_profile"/>
		<p>{{content.external_user_name}}:</p>
		<h2>{{content.data.name}} {{content.data.date}} @ {{content.data.place}}</h2>
		<a ng-if="content.data.ticket.length > 0" ng-href="{{content.data.ticket}}" target="_blank" class="right event_map">Buy Tickets</a>
	</div>

</div>