<div class="app" ng-style="getAppStyle()" ng-class="getAppClass()">

	<fb app-id='211895592326072'></fb>
	<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	<script src="http://platform.tumblr.com/v1/share.js"></script>

	<div ng-if="isLogged()" id="config" ng-style="getConfigStyle()" tooltip="Edit theme"  tooltip-placement="right">
		<a href="#/" class="configcontrol" ng-click="adminTheme()" ng-style="getConfigButtonStyle()" skip-default><i class="fa fa-cogs"></i></a>

		<tabset ng-if="showConfig">

			<tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active">
				<div ng-switch="tab.key" class="inside">
					<admin-background ng-switch-when='background'></admin-background>
					<admin-colors ng-switch-when='colors'></admin-colors>
					<admin-width ng-switch-when='width'></admin-width>
				</div>
			</tab>

		</tabset>

	</div>

	<ul ng-show="current != 'page_profile' && !showingDetail" id="menu">
		<li ng-click="scrollToSection('page_profile')" class="item profile {{current == 'page_profile' ? 'active':''}}">{{user.username|uppercase}}</li>
		<li ng-repeat="page in pages" ng-if="contents[page].list.length>0" ng-click="scrollToSection('page_{{page}}')" class="item {{current == 'page_'+page ? 'active':''}}">
			<span>{{getPluralizedConcepts(page)|capitalize}}</span>
		</li>
		<li ng-click="scrollToSection('page_about')" class="item {{current == 'page_about' ? 'active':''}}">
			<span>About Me</span>
		</li>
		<li ng-click="scrollToSection('page_contact')" class="item {{current == 'page_contact' ? 'active':''}}">
			<span>Contact</span>
		</li>
	</ul>

	<div id="page_profile" class="page" style="height:{{appSv.getHeight()}}px;" parallax-background parallax-ratio="0.5">

		<h3 style="line-height:{{appSv.getHeight()}}px;">{{user.username|uppercase}}</h3>
		<a class="arrow-down" href="#" ng-click="scrollToSection('page_'+pages[0])" skip-default><i class="fa fa-angle-down"></i></a>

	</div>

	<div ng-if="contents.post.list.length>0" id="page_post" class="page" style="height:{{appSv.getHeight()}}px;">

		<div class="triangle-topleft yellow"></div>
		<h3>Posts</h3>

	</div>

	<div ng-if="contents.video.list.length>0" id="page_video" class="page" style="height:{{appSv.getHeight()}}px;">

		<div class="triangle-bottomright black"></div>
		<h3>Videos</h3>

		<div class="wrapper">
			<div class="list_carousel">
				<a id="prev_video" class="prev" href="#/"></a>
				<a id="next_video" class="next" href="#/"></a>
				<div class="carousel_container left">
					<ul id="carousel_videos" caroufredsel="{'selector':'#carousel_videos','auto':false,'prev':'#prev_video','next':'#next_video','mousewheel':true,'swipe':{'onMouse':true,'onTouch':true}}">
						<li ng-repeat="video in contents.video.list" ng-show="contentSv.getThumbnail(video).length">

							<div class="pageVideoContainer">

							    <div class="overlay">
							      <i class="fa fa-play-circle" ng-click="showDetail(video)"></i>
							      <div class="overlay-inner">
									<h2 ng-if="contentSv.getTitle(video).length>0">{{contentSv.getTitle(video)}}</h2>
									<p ng-bind-html="getDescription(video)"></p>
							      </div>
							    </div>

								<div style="background-image:url({{contentSv.getThumbnail(video)}});" class="video_thumbnail" ></div>

							</div>

						</li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>

	</div>

	<div ng-if="contents.track.list.length>0" id="page_track" class="page" style="height:{{appSv.getHeight()}}px;">

		<h3>Tracks</h3>

	</div>

	<div ng-if="contents.photo.list.length>0" id="page_photo" class="page" style="height:{{appSv.getHeight()}}px;position:relative;left:0;">

		<h3>Photos</h3>

		<div slider-rows="{'adaptive': true,'visible': 4,'effect': 'zoom','hover': 'rotate','click': 'zoom','text': {'direction': 'left','selector': 'span'}}" class="rows-slider-wrap rows-slider-wrap_adaptive">
			<ul>
				<li ng-repeat="photo in contents.photo.list" ng-if="$index <= contents.photo.list.length/2">
					<div>
						<img ng-src="{{contentSv.getThumbnail(photo)}}" style="margin:0 auto;width:100%;"/>
					</div>
					<span class="text">{{contentSv.getTitle(photo)}}</span>
				</li>
			</ul>

			<ul>
				<li ng-repeat="photo in contents.photo.list" ng-if="$index > contents.photo.list.length/2">
					<div>
						<img ng-src="{{contentSv.getThumbnail(photo)}}" style="margin:0 auto;width:100%;"/>
					</div>
					<span class="text">{{contentSv.getTitle(photo)}}</span>
				</li>
			</ul>
		</div>

	</div>

	<div ng-if="contents.event.list.length>0" id="page_event" class="page" style="height:{{appSv.getHeight()}}px;">

		<h3>Events</h3>

	</div>

	<div id="page_about" class="page" style="height:{{appSv.getHeight()}}px;">
 
		<div class="triangle-topleft black"></div>
		<h3>About</h3>
		<img class="users-photo" ng-src="{{user.profile_image}}">
		<div class="auriculares"></div>
		<div class="content content-info">
			<p>Lorem fistrum a peich está la cosa muy malar diodeno amatomaa la caidita ese hombree. Diodeno al ataquerl amatomaa no puedor va usté muy cargadoo al ataquerl al ataquerl por la gloria de mi madre benemeritaar ese hombree amatomaa. Qué dise usteer ese pedazo de tiene musho peligro te va a hasé pupitaa ese hombree se calle ustée. Se calle ustée fistro de la pradera qué dise usteer condemor mamaar. Ese hombree a gramenawer sexuarl al ataquerl ese hombree sexuarl. Por la gloria de mi madre diodenoo ese pedazo de ese pedazo de la caidita qué dise usteer apetecan pupita de la pradera al ataquerl llevame al sircoo. Ese que llega mamaar al ataquerl a wan.</p>
		</div>

	</div>

	<div id="page_contact" class="page" style="height:{{appSv.getHeight()}}px;">

		<div class="triangle-bottomright yellow"></div>
		<h3>Contact</h3>
		  <div class="content contacto"> 
		        <form role="form" class="bs-example">
			      <div class="col-sm-12">
			        <div class="form-group">
			          <input type="text" placeholder="Nombre" id="exampleInputNombre" class="form-control">
			        </div>
			        <div class="form-group">
			          <input type="email" placeholder="Email" id="exampleInputEmail" class="form-control">
			        </div>
			        <div class="form-group">
			        <textarea placeholder="Mensaje" rows="3" class="form-control"></textarea>
			         </div>
			        <button class="btn btn-default pull-right" type="submit">enviar</button>
			      </div>
		      </form>
		    </div>		

	</div>

	<div id="footer">

	</div>


	<div id="page_detail" ng-show="showingDetail" style="height:{{appSv.getHeight()}}px;">
		
		<i ng-click="moveDetail(-1)" class="fa fa-chevron-left controlPrev left"></i>
		<i ng-click="moveDetail(1)" class="fa fa-chevron-right controlNext left"></i>

		<i ng-click="showDetail({})" class="fa fa-times controlClose right"></i>

		<div ng-switch="content.concept" class="detail_container both">

			<content-video ng-switch-when='video'></content-video>
			<content-photo ng-switch-when='photo'></content-photo>
			<content-track ng-switch-when='track'></content-track>
			<content-post  ng-switch-when='post' ></content-post>
			<content-quote ng-switch-when='quote'></content-quote>
			<content-chat  ng-switch-when='chat' ></content-chat>
			<content-link  ng-switch-when='link' ></content-link>
			<content-event ng-switch-when='event'></content-event>

			<related-contents></related-contents>

			<div class="comments both">
				<fb-comments data-href="{{getContentCommentsHash()}}" data-notify="true" class="comments_container"></fb-comments>
			</div>


		</div>


	</div>

</div>