<div class="app" ng-style="getAppStyle()" ng-class="getAppClass()">

	<fb app-id='211895592326072'></fb>
	<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	<script src="http://platform.tumblr.com/v1/share.js"></script>

	<div ng-if="isLogged()" id="config" ng-style="getConfigStyle()" tooltip="Edit theme"  tooltip-placement="right">
		<a href="#/" class="configcontrol" ng-click="adminTheme()" ng-style="getConfigButtonStyle()" skip-default><i class="fa fa-cogs"></i></a>

		<tabset ng-if="showConfig">

			<tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active">
				<div ng-switch="tab.key" class="inside">
					<admin-colors ng-switch-when='colors'></admin-colors>
					<admin-fonts ng-switch-when='fonts'></admin-fonts>
					<admin-width ng-switch-when='width'></admin-width>
					<admin-background ng-switch-when='background'></admin-background>
				</div>
			</tab>

		</tabset>

	</div>

	<div id="page_profile" style="height:{{appSv.getHeight()}}px;">

		<h3>{{user.username|uppercase}}</h3>

	</div>

	<div id="page_track" style="height:{{appSv.getHeight()}}px;">

		<h3>Tracks</h3>

	</div>

	<div id="page_video" style="height:{{appSv.getHeight()}}px;">

		<h3>Videos</h3>

	</div>

	<div id="page_photo" style="height:{{appSv.getHeight()}}px;">

		<h3>Photos</h3>

	</div>


	<div id="page_event" style="height:{{appSv.getHeight()}}px;">

		<h3>Events</h3>

	</div>

	<div id="page_post" style="height:{{appSv.getHeight()}}px;">

		<h3>Posts</h3>

	</div>

	<div id="page_about" style="height:{{appSv.getHeight()}}px;">

		<h3>About</h3>

	</div>

	<div id="page_contact" style="height:{{appSv.getHeight()}}px;">

		<h3>Contact</h3>

	</div>

	<div id="footer">

		Footer

	</div>

</div>