<div class="app">

	<fb app-id='211895592326072'></fb>
	<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	<script src="http://platform.tumblr.com/v1/share.js"></script>

	<div ng-if="isLogged()" id="config" ng-style="getConfigStyle()" tooltip="Edit theme"  tooltip-placement="right">
		<a href="#/" class="configcontrol" ng-click="adminTheme()" ng-style="getConfigButtonStyle()" skip-default><i class="fa fa-cogs"></i></a>

		<tabset ng-if="showConfig">

			<tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active">
				<div ng-switch="tab.key" class="inside">
					<admin-background ng-switch-when='background'></admin-background>
					<admin-colors ng-switch-when='colors'></admin-colors>
					<admin-width ng-switch-when='width'></admin-width>
				</div>
			</tab>

		</tabset>

	</div>

	<nav id="menu" ng-show="current != 'page_profile' && current != 'page_footer' && !showingDetail" class="navbar navbar-default" role="navigation" get-menu-height>
	 
		<div class="container">

			<div class="navbar-header">
				<div class="navbar-toggle">
					<strong>{{getPluralizedPage(current.replace("page_",""))|capitalize}}</strong>
					<i class="fa fa-chevron-left" ng-click="movePage(-1)" skip-default></i>
					<i class="fa fa-chevron-right" ng-click="movePage(1)" skip-default></i>
					<button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar" ng-style="getCollapseMenuItemStyle()"></span>
						<span class="icon-bar" ng-style="getCollapseMenuItemStyle()"></span>
						<span class="icon-bar" ng-style="getCollapseMenuItemStyle()"></span>
					</button>
				</div>

			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

				<ul class="nav navbar-nav right">

					<li ng-click="scrollToSection('page_profile')" class="item profile {{current == 'page_profile' ? 'active':''}}">{{user.username|uppercase}}</li>

					<li ng-repeat="page in pages" ng-if="contents[page].list.length>0" ng-click="scrollToSection('page_{{page}}')" class="item {{current == 'page_'+page ? 'active':''}}">
						<span>{{getPluralizedConcepts(page)|capitalize}}</span>
					</li>
					<li ng-click="scrollToSection('page_contact')" class="item {{current == 'page_contact' ? 'active':''}}">
						<span>Contact</span>
					</li>
					<li ng-click="scrollToSection('page_about')" class="item {{current == 'page_about' ? 'active':''}}">
						<span>About Me</span>
					</li>
					<li ng-click="scrollToSection('page_footer')" class="item {{current == 'page_footer' ? 'active':''}}">
						<span>More</span>
					</li>
				</ul>	

			</div>

		</div>

	</nav>	

	<div id="page_profile" style="height:{{appSv.getHeight()}}px;" parallax-background parallax-ratio="0.5">
		<h3 style="line-height:{{appSv.getHeight()}}px;" class="{{isHover?'hover':''}}">{{user.username|uppercase}}</h3>
		<a href="#" style="line-height:100%;" class="arrow-down" ng-click="scrollToSection('page_'+pages[2])" skip-default>
			<i id="menu_init" class="fa fa-angle-down init" ng-mouseover="setInitHover(true)" ng-mouseout="setInitHover(false)"></i>
		</a>
	</div>

	<div ng-repeat="page in pages" ng-if="contents[page].list.length>0 && page != 'profile' && page != 'about' && page != 'contact'&& page != 'detail'" id="page_{{page}}" class="page" style="height:{{appSv.getHeight()}}px;" ng-switch="page" parallax-background parallax-ratio="0.5">

		<div ng-if="$index % 2 == 0" class="triangle-bottomright yellow"></div>
		<div ng-if="$index % 2 != 0" class="triangle-topleft black"></div>

		<div ng-switch-when="post">

			<h3>Posts</h3>

			<div class="content post_container">
				<ul id="{{page}}_list" style="height:{{appSv.getHeight() - 150 - menuHeight}}px;">
					<li ng-repeat="post in contents.post.list" ng-if="canShowPost(post)" class="{{$index%2 ? 'odd':''}}">

						<div class="pageContentContainer">

							<div thumbnail="post" style="background-image:url({{contentSv.getThumbnail(post)}});" class="content_thumbnail cover inline left"></div>
							<i class="view_detail {{contentSv.getConceptIcon('post')}}" ng-click="showDetail(post)"></i>
							<div class="content_caption left">
								<h2 ng-if="contentSv.getTitle(post).length>0">{{contentSv.getTitle(post)}}</h2>
								<p ng-bind-html="getDescription(post)"></p>
							</div>

					    </div>

					</li>
				</ul>
				<a href="#/" ng-if="!loadingContent['post']" ng-click="getContent('post')" class="more right" skip-default>Load More</a>
			</div>			

		</div>

		<div ng-switch-when="track">

			<h3>Tracks</h3>

			<div class="content wrapper">
				<div class="list_carousel">
					<a id="prev_track" class="prev" href="#/" style="height:{{appSv.getHeight() - 150 - menuHeight}}px;"></a>
					<a id="next_track" class="next" href="#/" style="height:{{appSv.getHeight() - 150 - menuHeight}}px;"></a>
					<div class="carousel_container left" style="height:{{appSv.getHeight() - 150 - menuHeight}}px;">
						<ul id="{{page}}_list" caroufredsel="{'selector':'#{{page}}_list','auto':false,'prev':'#prev_track','next':'#next_track','mousewheel':true,'swipe':{'onMouse':true,'onTouch':true}}">
							<li ng-repeat="track in contents.track.list" class="{{$index % 2 ? 'odd':''}}" style="height:100%;width:{{getCarouselItemWidth(page)}}px;">

								<div class="pageContentContainer">

								    <div class="overlay">
								      <i ng-class="contentSv.getConceptIcon('track')" ng-click="showDetail(track)"></i>
								      <div class="overlay-inner">
										<h2 ng-if="contentSv.getTitle(track).length>0">{{contentSv.getTitle(track)}}</h2>
								      </div>
								    </div>

									<div thumbnail="track" style="background-image:url({{contentSv.getThumbnail(track)}});" class="content_thumbnail" ></div>

								</div>

							</li>
							<!--
							<li class="center MORE" style="background-color:rgba(0,0,0,0.3);height:100%;display:block!important;">

								<img class="users-photo" ng-src="{{user.profile_image}}">

								<h3 class="{{isHover?'hover':''}} more">Load More
									<a href="#" ng-click="getContent('track')" skip-default><i class="init {{contentSv.getConceptIcon('track')}}" ng-mouseover="setInitHover(true)" ng-mouseout="setInitHover(false)"></i></a>
								</h3>

							</li>
							-->
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>

		</div>

		<div ng-switch-when="video">

			<h3>Videos</h3>

			<div class="content wrapper">
				<div class="list_carousel">
					<a id="prev_video" class="prev" href="#/" style="height:{{appSv.getHeight() - 150 - menuHeight}}px;"></a>
					<a id="next_video" class="next" href="#/" style="height:{{appSv.getHeight() - 150 - menuHeight}}px;"></a>
					<div class="carousel_container left" style="height:{{appSv.getHeight() - 150 - menuHeight}}px;">
						<ul id="{{page}}_list" caroufredsel="{'selector':'#{{page}}_list','auto':false,'prev':'#prev_video','next':'#next_video','mousewheel':true,'swipe':{'onMouse':true,'onTouch':true}}">
							<li ng-repeat="video in contents.video.list" class="{{$index % 2 ? 'odd':''}}" style="height:100%;width:{{getCarouselItemWidth(page)}}px;">

								<div class="pageContentContainer">

								    <div class="overlay">
								      <i ng-class="contentSv.getConceptIcon('video')" ng-click="showDetail(video)"></i>
								      <div class="overlay-inner">
										<h2 ng-if="contentSv.getTitle(video).length>0">{{contentSv.getTitle(video)}}</h2>
								      </div>
								    </div>

									<div thumbnail="video" style="background-image:url({{contentSv.getThumbnail(video)}});" class="content_thumbnail"></div>

								</div>

							</li>
							<!--
							<li class="center MORE" style="background-color:rgba(0,0,0,0.3);height:100%;display:block!important;">

								<img class="users-photo" ng-src="{{user.profile_image}}">

								<h3 class="{{isHover?'hover':''}} more">Load More
									<a href="#" ng-click="getContent('video')" skip-default><i class="init {{contentSv.getConceptIcon('video')}}" ng-mouseover="setInitHover(true)" ng-mouseout="setInitHover(false)"></i></a>
								</h3>

							</li>
							-->
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>

		</div>

		<div ng-switch-when="photo">

			<h3>Photos</h3>

			<div class="content">
				<ul id="{{page}}_list" style="height:{{appSv.getHeight() - 150 - menuHeight}}px;">
					<li ng-repeat="photo in contents.photo.list" ng-show="contentSv.getThumbnail(photo).length" class="{{$index % 2 ? 'odd':''}}" style="height:50%">

						<div class="pageContentContainer">

						    <div class="overlay">
						      <i ng-class="contentSv.getConceptIcon('photo')" ng-click="showDetail(photo)"></i>
						      <div class="overlay-inner">
								<h2 ng-if="contentSv.getTitle(photo).length>0">{{contentSv.getTitle(photo)}}</h2>
						      </div>
						    </div>

							<div style="background-image:url({{contentSv.getThumbnail(photo)}});" class="content_thumbnail cover"></div>

						</div>

					</li>
				</ul>
				<a href="#/" ng-if="!loadingContent['photo']" ng-click="getContent('photo')" class="more right" skip-default>Load More</a>
			</div>

		</div>

		<div ng-switch-when="event">

			<h3>Events</h3>

			<div class="content" style="height:{{appSv.getHeight() - 150 - menuHeight}}px;">

				<div class="left inline event_menu">
					<ul id="{{page}}_list">
						<li ng-repeat="event in contents.event.list" ng-click="setCurrentEvent(event)" class="{{currentEvent == event ? 'active':''}} {{$index % 2 ? 'odd':''}}" style="background-image:url({{contentSv.getThumbnail(event)}});">
							<a href="#/" ng-click="setCurrentEvent(event)" class="event-date-container" skip-default>
								<p class="event-date-day">{{event.data.date|date:'EEEE'|uppercase}}</p>
								<p class="event-date-long">{{event.data.date|date:'MMM d,y'}}</p>
							</a>
						</li>
					</ul>
					<a href="#/" ng-if="!loadingContent['event']" ng-click="getContent('event')" class="more" skip-default>View More</a>
				</div>

				<div class="right inline event_container">

					<div class="pageContentContainer">

					    <div class="overlay">
					      <i ng-class="contentSv.getConceptIcon('event')" ng-click="showDetail(currentEvent)"></i>
					      <div class="overlay-inner">
							<h2 ng-if="contentSv.getTitle(currentEvent).length>0">{{contentSv.getTitle(currentEvent)}}</h2>
							<p ng-bind-html="getDescription(currentEvent)"></p>
					      </div>
					    </div>

						<div style="background-image:url({{contentSv.getThumbnail(currentEvent)}});" class="content_thumbnail"></div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<div id="page_contact" class="page" style="height:{{appSv.getHeight()}}px;">

		<div ng-if="pages.length % 2 == 0" class="triangle-topleft yellow"></div>
		<div ng-if="pages.length != 0" class="triangle-bottomright yellow"></div>
		<h3>Contact</h3>
		<div class="content" style="height:{{appSv.getHeight() - 150 - menuHeight}}px;">
		    <form role="form" class="bs-example">
		        <div class="form-group">
		          <input type="text" placeholder="Nombre" id="exampleInputNombre" class="form-control">
		        </div>
		        <div class="form-group">
		          <input type="email" placeholder="Email" id="exampleInputEmail" class="form-control">
		        </div>
		        <div class="form-group">
		        <textarea placeholder="Mensaje" rows="5" class="form-control"></textarea>
		         </div>
		        <button class="btn btn-default pull-right" type="submit">enviar</button>
		  </form>
		</div>

	</div>

	<div id="page_about" class="page" style="height:{{appSv.getHeight()}}px;">
 
		<div ng-if="pages.length % 2 == 0" class="triangle-bottomright yellow"></div>
		<div ng-if="pages.length != 0" class="triangle-topleft yellow"></div>
		<h3>About</h3>

		<img class="users-photo" ng-src="{{user.profile_image}}">
		<div class="auriculares"></div>
		<div class="content content-info">
			<p>Lorem fistrum a peich está la cosa muy malar diodeno amatomaa la caidita ese hombree. Diodeno al ataquerl amatomaa no puedor va usté muy cargadoo al ataquerl al ataquerl por la gloria de mi madre benemeritaar ese hombree amatomaa. Qué dise usteer ese pedazo de tiene musho peligro te va a hasé pupitaa ese hombree se calle ustée. Se calle ustée fistro de la pradera qué dise usteer condemor mamaar. Ese hombree a gramenawer sexuarl al ataquerl ese hombree sexuarl. Por la gloria de mi madre diodenoo ese pedazo de ese pedazo de la caidita qué dise usteer apetecan pupita de la pradera al ataquerl llevame al sircoo. Ese que llega mamaar al ataquerl a wan.</p>
		</div>

	</div>

	<div id="page_footer" class="page" style="height:{{appSv.getHeight()}}px;">
		<div class="row content">

            <div class="content-section">
				<ul>
					<li ng-click="scrollToSection('page_profile')" class="item profile {{current == 'page_profile' ? 'active':''}}">{{user.username|uppercase}}</li>
				</ul>		
                <span>"Lorem fistrum a peich está la cosa muy malar"</span>
            </div>
            <div class="content-section">
                <h4>Links</h4>
				<ul class="links">
					<li ng-repeat="page in pages" ng-if="contents[page].list.length>0" ng-click="scrollToSection('page_{{page}}')" class="item {{current == 'page_'+page ? 'active':''}}">
						<span>{{getPluralizedConcepts(page)|capitalize}}</span>
					</li>
					<li ng-click="scrollToSection('page_contact')" class="item {{current == 'page_contact' ? 'active':''}}">
						<span>Contact</span>
					</li>
					<li ng-click="scrollToSection('page_about')" class="item {{current == 'page_about' ? 'active':''}}">
						<span>About Me</span>
					</li>
				</ul>	
            </div>
            <div class="content-section">
            	<h4>Recent</h4>
            	<ul class="social">
	            	<li ng-repeat="page in validPages" class="recent">
		                <div class="clearfix"></div>
		                <h5 ng-if="contents[page].list.length">{{getPluralizedConcepts(page)|capitalize}}</h5>
						<div ng-if="contents[page].list.length" class="recent-content">
							<a href="#/" ng-repeat="content in contents[page].list|withThumbnail|limitTo:3" ng-click="showDetail(content)" skip-default>
		                     	<img style="margin:0 auto;max-width:100%;" ng-src="{{contentSv.getThumbnail(content)}}"/>
		                    </a>
		                </div>
		              	<div class="clearfix"></div>
	            	</li>
	            </ul>
            </div>
            <div class="content-section">
                <h4>Social</h4>
				<ul class="social">
					<li ng-repeat="account in accounts" class="social-link inline">
						<a href="http://cloudcial.com/#/socialnets/{{account.Socialnet.network}}/{{account.Socialnet.external_user_id}}" tooltip="{{account.Socialnet.login}}">
							<img ng-src="{{account.Socialnet.profile_image}}" class="profileImage img-circle"/>
							<!--<i ng-class="networkIcon(account.Socialnet.network)"></i>-->
						</a>
					</li>
				</ul>
            </div>
          </div>
	</div>


	<div id="page_detail" ng-show="showingDetail" style="height:{{appSv.getHeight()}}px;">
		
		<i ng-click="moveDetail(-1)" class="fa fa-chevron-left controlPrev left"></i>
		<i ng-click="moveDetail(1)" class="fa fa-chevron-right controlNext left"></i>

		<i ng-click="showDetail({})" class="fa fa-times controlClose right"></i>

		<div ng-repeat="content in details" ng-switch="content.concept" class="detail_container both">

			<content-video ng-switch-when='video'></content-video>
			<content-photo ng-switch-when='photo'></content-photo>
			<content-track ng-switch-when='track'></content-track>
			<content-post  ng-switch-when='post' ></content-post>
			<content-quote ng-switch-when='quote'></content-quote>
			<content-chat  ng-switch-when='chat' ></content-chat>
			<content-link  ng-switch-when='link' ></content-link>
			<content-event ng-switch-when='event'></content-event>

			<related-contents></related-contents>

			<div class="comments both">
				<fb-comments data-href="{{getContentCommentsHash()}}" data-notify="true" data-colorscheme="dark" class="comments_container"></fb-comments>
			</div>

		</div>


	</div>

</div>