<div id="{{content.network}}_{{content.concept}}_{{content.external_id}}_detail" class="post {{content.network}}_{{content.concept}}" style="position:relative;">

	<div thumbnail="content" style="background-image:url('{{getThumbnail()}}');" class="overlay_photo left inline"></div>

	<div class="content_caption right inline"> 
		<img ng-src="{{userSv.getNetworkProfileImage(content.network,content.external_user_id)}}" class="account_profile"/>
		<p>{{content.external_user_name}}:</p>
		<h2 ng-if="getTitle().length>0">{{getTitle()}}</h2>
		<p ng-bind-html="getDescription()"></p>
	</div>
</div>