<div id="{{content.network}}_{{content.concept}}_{{content.external_id}}" class="video {{content.network}}_{{content.concept}}">

	<div class="pageVideoContainer">

	    <div class="overlay">
	      <div class="overlay-inner">
	        <h2>{{getTitle()}}</h2>
	        <p>{{getDescription()}}</p>
	      </div>
	      <i class="fa fa-play-circle" ng-click="showVideo()"></i>
	    </div>

		<div thumbnail="content" style="background-image:url({{getThumbnail()}});" class="video_thumbnail" ></div>

	</div>
	
</div>