/* Estilos galeria*/
.pageEvents > ul {
   padding: 0px;
   width: 100%;
}

.pageEvents > ul li {
    height: 100%;
    float: none;
    margin: 0;
    padding: 15px;
     width: calc(50% - 1px);
}

.pageEvents > ul li .event {
    position: relative;
}

.pageEvents > ul li .pageEventContainer {
    display: block;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-decoration: none;
    z-index: 1;
}
.pageEvents > ul li .content_event {
    display: block;
    vertical-align: middle;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
    -webkit-transition: all 0.56s ease-in-out 0s;
    -moz-transition: all 0.56s ease-in-out 0s;
    -o-transition: all 0.56s ease-in-out 0s;
    transition: all 0.56s ease-in-out 0s;

    /*-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
    -moz-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
    box-shadow: 0 1px 3px rgba(34,25,25,0.4);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;*/

}
.pageEvents > ul li .pageEventContainer .overlay {
    display: block;
    padding: 10px;
    position: absolute;
    width: 100%;    
    height: 100%;
    left: 100%;
    top: 0;
    z-index: 2;
    opacity: 0;
    /*background: url("http://cloudcial.com/img/themes/clubber/bg-dark.png");*/
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.pageEvents > ul li .pageEventContainer .overlay .overlay-inner {
    padding: 0 0 20px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100%;
}
.pageEvents > ul li .pageEventContainer .overlay .overlay-inner h2 {
    display: block;
    font-size: 2.25rem;
    line-height: 1;
    padding: 5px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    z-index: 4;

    position: relative;
    z-index: 3;
    max-width: 100%;
    padding: .4em;
    opacity: 0.7;
    margin: 0;
    font-weight: 900;
    font-size: 1.2em;
    /*text-shadow: 1px 0 3px #000;*/
}
.pageEvents > ul li .pageEventContainer .overlay .overlay-inner p {
    display: block;
    margin-bottom: 0;
    position: relative;
    text-align: center;
    z-index: 4;
    font-size: 1.125rem;

    position: relative;
    z-index: 3;
    max-width: 100%;
    padding: .4em;
    opacity: 0.7;
    margin: 0;
    font-weight: 300;
    font-size: 1.0em;
    /*text-shadow: 1px 0 2px #000;*/    
}
.pageEvents > ul li .pageEventContainer:hover .overlay {
    top: 0;
    left: 0;
    opacity: 1;
}

.pageEvents > ul li .pageEventContainer .overlay .overlay-inner p a {
    font-style: italic;
    text-decoration: underline;
}
.pageEvents > ul li .pageEventContainer .overlay .overlay-inner p a:hover {
    text-decoration: none;
}

.pageEventsItem {
  -webkit-transition:none;
  -moz-transition:none;
  -o-transition:none;
  transition:none;    
}
.pageEvents , .pageEvents > ul {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    min-height: 400px;
}
.pageEvents > ul li {
    height: auto;
    float: left;
    margin: 0;
    padding: 15px;
    width: calc(50% - 5px);
}
.pageEvents .event-date-container {
    text-align: center;
    float: left;
    display: inline-block;
}
.pageEvents .event-date-container .event-date-day {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 900;
    margin: 0;
    line-height: 50px;
    text-align: center;
    display: inline-block;
}
.pageEvents .event-date-container .event-date-month {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    display: inline-block;
}
.pageEvents .event-map-container {
    padding: 0px;
    float: left;
    display: inline-block;
}
.pageEvents .event-map-container .event_map {
    max-width: 100%;
}
.pageEvents .event-info-container {
    width: 100%;
    margin-left: 2%;
    text-align: left;
    float: left;
    position: relative;
    top: -50%;
}
.pageEvents .event-info-container h2 {
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 0;
}

/* controls */

.pageEvents > ul li .event_prev , .pageEvents > ul li .event_next {
    opacity: 0.5;
    filter: alpha(opacity=50);
    position: absolute;
    top:46%;
}

.pageEvents > ul li .event_prev:hover , .pageEvents > ul li .event_next:hover {
    color: #ffffff;
    text-decoration: none;
    outline: none;
    opacity: 0.9;
    filter: alpha(opacity=90);
}


.pageEvents > ul li .event_prev {
    left: 5%;
}

.pageEvents > ul li .event_next {
    right: 5%;
}

.pageEvents > ul li .event_prev i , .pageEvents > ul li .event_next i {
    position: relative;
    font-size: 25px;
    top:50%;
    color: white;
}

