/* Estilos galeria*/

.pagePhotosWithplayer {
    filter: alpha(opacity=0);
    opacity: 0;
    height: 0px!important;
}

.pagePhotos {
    opacity: 1;

}

.pagePhotos > ul {
   padding: 0px;
   width: 100%;
}

.pagePhotos > ul li {
    height: auto;
    float: left;
    margin: 0;
    padding: 0;
    border: none;
    width: calc(50% - 1px);
}

.pagePhotos > ul li .photo {
    position: relative;
}

.pagePhotos > ul li .pagePhotoContainer {
    display: block;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-decoration: none;
    z-index: 1;
/*    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;*/
}

.pagePhotos > ul li .content_photo_hide {
    opacity: 0;
}

.pagePhotos > ul li .content_photo {
    display: block;
    vertical-align: middle;
    height: auto;
    width: 100%;
    margin: 0 auto;
    opacity: 1;    


   /* -webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
    -moz-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
    box-shadow: 0 1px 3px rgba(34,25,25,0.4);*/
}

.pagePhotosItem {
    -webkit-transition:none;
    -moz-transition:none;
    -o-transition:none;
    transition:none;
}

.pagePhotosItem.current {
   outline: 4px dashed #555555;
}

.pagePhotosItem .content_caption {
    display: none!important;
}

/* controls */

.pagePhotos > ul li .photo_prev , .pagePhotos > ul li .photo_next, .pagePhotos .overlay i {
    opacity: 0.5;
    filter: alpha(opacity=50);
    position: absolute;
    top:20px;
}

.pagePhotos > ul li .photo_prev:hover , .pagePhotos > ul li .photo_next:hover, .pagePhotos .overlay i:hover {
    color: #ffffff;
    text-decoration: none;
    outline: none;
    opacity: 0.9;
    filter: alpha(opacity=90);
}


.pagePhotos > ul li .photo_prev {
    left: 5%;
}

.pagePhotos > ul li .photo_next {
    right: 5%;
}

.pagePhotos > ul li .photo_prev i , .pagePhotos > ul li .photo_next i, .pagePhotos .overlay i {
    /*text-shadow: 2px 2px 2px #000;*/
    position: relative;
    font-size: 25px;
    top:50%;
}

.pagePhotos .photo_full_player_container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    z-index: 2;
}

.pagePhotos .photo_full_player_container .content_photo {
    max-width: 100%;
 }

 .pagePhotos .photo_full_player_container .show {
    display: none!important;
 }

.pagePhotos .photo_full_player_container .close_player, .pagePhotos .photo_full_player_container .photo_prev, .pagePhotos .photo_full_player_container .photo_next {
    z-index: 3;
    font-size: 30px;
}

.pagePhotos .photo_full_player_container .close_player {
    left: calc(50% - 15px);
}

.pagePhotos .photo_full_player_container .photo_prev {
    left: 0;
}

.pagePhotos .photo_full_player_container .photo_next {
    right: 0;
}

.pagePhotos .photo_full_player {
    position: relative;
    min-height: 450px;
    width: 100%;

   /* -webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
    -moz-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
    box-shadow: 0 1px 3px rgba(34,25,25,0.4);*/

    /*text-shadow: 1px 0 3px #000;*/

}


.pagePhotos .photo_full_player.ng-enter {
  left:100%;
}

.pagePhotos .photo_full_player.ng-enter.ng-enter-active {
  left: 0;
}

.pagePhotos .photo_full_player.ng-leave {
  left: 0;
}

.pagePhotos .photo_full_player.ng-leave.ng-leave-active {
  left: -100%;
}


