@media (min-width: 1024px) {

	.pagePhotos ul li {
	    width: calc(33% - 1px);
	}

}

@media (max-width: 1024px) {

	.pagePhotos ul li .overlay .overlay-inner h2 {
		font-size: 12px;
	}
	.pagePhotos ul li .overlay .overlay-inner p {
		line-height: 12px;
	}

}


@media (max-width: 480px) {

	.pagePhotos ul li .overlay .overlay-inner h2 {
		font-size: 22px;
	}	
	.pagePhotos ul li .overlay .overlay-inner p {
		line-height: 16px;
	}

	.pagePhotos ul li .pagePhotoContainer .overlay	{
		display: none;
	}

	.pagePhotos ul li {
	    width: 100%;
	}

}


@media (max-width: 320px) {
   

}
