/* Estilos galeria*/
.pagePhotos ul {
   padding-left: 12;
   width: calc(100% - 12px);
}

.pagePhotos ul li {
    width: calc(33% - 12px);
    height: auto;
    float: left;
    margin: 0;
    padding-right: 12px;
    padding-bottom: 12px;    
}
.pagePhotos ul li .pagePhotoContainer {
    display: block;
    overflow: hidden;
    padding: 0;
    position: relative;
    color: #00A9C5;
    text-decoration: none;
    z-index: 1;
}
.pagePhotos ul li .pagePhotoContainer img {
    position: relative;
    top:0;
    left: 0;
    display: block;
    vertical-align: bottom;
    height: auto;
    max-width: 100%;
}
.pagePhotos ul li .pagePhotoContainer .overlay {
    display: block;
    padding: 10px;
    position: absolute;
    width: 100%;    
    height: 100%;
    left: 100%;
    top: 0;
    z-index: 2;
    opacity: 0;
    background: url("http://cloudcial.com/img/themes/clubber/bg-dark.png");
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;        
}

.pagePhotos ul li .pagePhotoContainer .overlay .overlay-inner {
    padding: 0 0 20px;
    display: inline-block;
}
.pagePhotos ul li .pagePhotoContainer .overlay .overlay-inner h2 {
    background-color: #000000;
    color: #02C0F8;
    display: block;
    font-size: 2.25rem;
    line-height: 1;
    padding: 5px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    z-index: 4;
}
.pagePhotos ul li .pagePhotoContainer .overlay .overlay-inner p {
    color: #FFFFFF;
    display: block;
    margin-bottom: 0;
    position: relative;
    text-align: center;
    z-index: 4;
    font-size: 1.125rem;
}
.pagePhotos ul li .pagePhotoContainer:hover .overlay {
    top: 0;
    left: 0;
    opacity: 1;
}

.pagePhotosItem {
  -webkit-transition:none;
  -moz-transition:none;
  -o-transition:none;
  transition:none;    
}

.pagePhotos ul li .pagePhotoContainer .overlay .overlay-inner p a {
    font-style: italic;
    color: #fff;
    text-decoration: underline;
}
.pagePhotos ul li .pagePhotoContainer .overlay .overlay-inner p a:hover {
    text-decoration: none;
}
