@media (min-width: 1024px) {

	.pageTracks ul li {
	    width: calc(25% - 1px);
	}

	.pageTracks .track_full_player iframe, .pageTracks .track_full_player track, .pageTracks .track_full_player embed {	
		height: 450px;
	}	

}

@media (max-width: 1024px) {

	.pageTracks ul li .overlay .overlay-inner h2 {
		font-size: 12px;
	}
	.pageTracks ul li .overlay .overlay-inner p {
		line-height: 12px;
	}

	.pageTracks .track_full_player iframe, .pageTracks .track_full_player track, .pageTracks .track_full_player embed {	
		height: 350px;
	}	
}

@media (max-width: 768px) {

	.pageTracks .track_full_player iframe, .pageTracks .track_full_player track, .pageTracks .track_full_player embed {	
		height: 350px;
	}

}


@media (max-width: 480px) {

	.pageTracks ul li .overlay .overlay-inner h2 {
		font-size: 22px;
	}	
	.pageTracks ul li .overlay .overlay-inner p {
		line-height: 16px;
	}

	.pageTracks .track_full_player iframe, .pageTracks .track_full_player track, .pageTracks .track_full_player embed {	
		width: 100%;
	}

	.pageTracks ul li {
		width: 100%;
	}	

}


@media (max-width: 320px) {
   

}
