/* Estilos galeria*/

.pageTracksWithplayer {
    opacity: 0.1;
}

.pageTracks {
    opacity: 1;
    -webkit-transition: all 0.56s ease;
    -moz-transition: all 0.56s ease;
    -o-transition: all 0.56s ease;
    transition: all 0.56s ease;
}

.pageTracks ul {
   padding: 0px;
   width: 100%;
}

.pageTracks ul li {
    height: auto;
    float: left;
    margin: 0;
    padding: 15px;
    width: calc(50% - 1px);
}

.pageTracks ul li .track {
    position: relative;
}

.pageTracks ul li .pageTrackContainer {
    display: block;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-decoration: none;
    z-index: 1;
}
.pageTracks ul li .track_thumbnail {
    display: block;
    vertical-align: middle;
    height: auto;
    width: 100%;
    margin: 0 auto;
    -webkit-transition: all 0.56s ease;
    -moz-transition: all 0.56s ease;
    -o-transition: all 0.56s ease;
    transition: all 0.56s ease;

    -webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
    -moz-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
    box-shadow: 0 1px 3px rgba(34,25,25,0.4);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

}
.pageTracks ul li .pageTrackContainer .overlay {
    display: block;
    padding: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index: 2;
    opacity: 0;
    background: url("http://cloudcial.com/img/themes/clubber/bg-dark.png");
    -webkit-transition: all 1.4s ease;
    -moz-transition: all 1.4s ease;
    -o-transition: all 1.4s ease;
    transition: all 1.4s ease;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;    
}

.pageTracks ul li .pageTrackContainer .overlay i {
    position: absolute;
    top: 45%;
    left: 45%;
    font-size: 45px;
    cursor: pointer;
}

.pageTracks ul li .pageTrackContainer .overlay .overlay-inner {
    padding: 0 0 20px;
    display: inline-block;
}
.pageTracks ul li .pageTrackContainer .overlay .overlay-inner h2 {
    display: block;
    font-size: .25rem;
    line-height: 1;
    padding: 5px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    z-index: 4;

    position: relative;
    z-index: 3;
    max-width: 100%;
    padding: .4em;
    opacity: 0.7;
    margin: 0;
    font-weight: 900;
    font-size: 1.2em;
    text-shadow: 1px 0 3px #000;
}
.pageTracks ul li .pageTrackContainer .overlay .overlay-inner p {
    display: block;
    margin-bottom: 0;
    position: relative;
    text-align: center;
    z-index: 4;
    font-size: 1.125rem;

    position: relative;
    z-index: 3;
    max-width: 100%;
    padding: .4em;
    opacity: 0.7;
    margin: 0;
    font-weight: 300;
    font-size: 1.0em;
    text-shadow: 1px 0 2px #000;    
}
.pageTracks ul li .pageTrackContainer:hover .overlay {
    opacity: 1;
}

.pageTracks ul li .pageTrackContainer .overlay .overlay-inner p a {
    font-style: italic;
    text-decoration: underline;
}
.pageTracks ul li .pageTrackContainer .overlay .overlay-inner p a:hover {
    text-decoration: none;
}

.pageTracksItem {
  -webkit-transition:none;
  -moz-transition:none;
  -o-transition:none;
  transition:none;    
}

/* controls */

.pageTracks ul li .track_prev , .pageTracks ul li .track_next {
    height: 100%;
    background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.0001) 0), color-stop(rgba(0, 0, 0, 0.5) 100%));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.5) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    opacity: 0.5;
}

.pageTracks ul li .track_prev:hover , .pageTracks ul li .track_next:hover {
    color: #ffffff;
    text-decoration: none;
    outline: none;
    opacity: 0.9;
    filter: alpha(opacity=90);
}


.pageTracks ul li .track_prev i {
    left: 10%;
}

.pageTracks ul li .track_next i {
    right: 10%;
}

.pageTracks ul li .track_prev i , .pageTracks ul li .track_next i {
    position: relative;
    font-size: 25px;
    top:50%;
}

.pageTracks .track_full_player_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*min-height: 450px;*/
    height: 100%;
    z-index: 2;
    background: url("http://cloudcial.com/img/themes/clubber/bg-dot.png") repeat 0 0 #fff;
}

.pageTracks .track_full_player_container .close_player, .pageTracks .track_full_player_container .track_prev, .pageTracks .track_full_player_container .track_next {
    position: fixed;
    z-index: 3;
    top: 80px;
    font-size: 30px;
}

.pageTracks .track_full_player_container .close_player {
    left: calc(50% - 15px);
}

.pageTracks .track_full_player_container .track_prev {
    left: 0;
}

.pageTracks .track_full_player_container .track_next {
    right: 0;
}


.pageTracks .track_full_player iframe, .pageTracks .track_full_player track, .pageTracks .track_full_player embed {
    position: relative;
    top:0;
    left: 0;
    height: 250px;
    margin: 0 auto;
    -webkit-transition: all 0.56s ease;
    -moz-transition: all 0.56s ease;
    -o-transition: all 0.56s ease;
    transition: all 0.56s ease;
}

.pageTracks .track_full_player {
    position: relative;
    min-height: 450px;
    height: calc(100% - 130px);
    top: 130px;
    width: 100%;

    -webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
    -moz-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
    box-shadow: 0 1px 3px rgba(34,25,25,0.4);

    text-shadow: 1px 0 3px #000;

    -webkit-transition: all 0.56s ease;
    -moz-transition: all 0.56s ease;
    -o-transition: all 0.56s ease;
    transition: all 0.56s ease;
}


.pageTracks .track_full_player.ng-enter {
  left:100%;
}

.pageTracks .track_full_player.ng-enter.ng-enter-active {
  left: 0;
}

.pageTracks .track_full_player.ng-leave {
  left: 0;
}

.pageTracks .track_full_player.ng-leave.ng-leave-active {
  left: -100%;
}
