@media (min-width: 1024px) {

	.pageVideos ul li {
	    width: calc(33% - 1px);
	}

	.pageVideos .video_full_player iframe, .pageVideos .video_full_player video, .pageVideos .video_full_player embed {
		height: 450px;
		width: 600px;
	}

}

@media (max-width: 1024px) {

	.pageVideos ul li .overlay .overlay-inner h2 {
		font-size: 12px;
	}
	.pageVideos ul li .overlay .overlay-inner p {
		line-height: 12px;
	}

	.pageVideos .video_full_player iframe, .pageVideos .video_full_player video, .pageVideos .video_full_player embed {
		height: 350px;
		width: 450px;
	}	
}

@media (max-width: 768px) {

	.pageVideos .video_full_player iframe, .pageVideos .video_full_player video, .pageVideos .video_full_player embed {
		width: 350px;
	}

}


@media (max-width: 480px) {

	.pageVideos ul li .overlay .overlay-inner h2 {
		font-size: 22px;
	}	
	.pageVideos ul li .overlay .overlay-inner p {
		line-height: 16px;
	}

	.pageVideos .video_full_player iframe, .pageVideos .video_full_player video, .pageVideos .video_full_player embed {
		width: 100%;
	}

	.pageVideos ul li {
	    width: 100%;
	}	

}


@media (max-width: 320px) {
   

}
