<div id="{{content.network}}_{{content.concept}}_{{content.external_id}}" class="event {{content.network}}_{{content.concept}}">

	<div class="content_caption" ng-style="getDescriptionStyle()"> 
		<h2>{{content.data.name}} {{content.data.date}} @ {{content.data.place}}</h2>
		<a ng-if="content.data.ticket.length > 0" ng-href="{{content.data.ticket}}" target="_blank" class="event_map">
			<i class="icon-ticket"></i> Buy Tickets
		</a>
	</div>
	<div style="background-image:url('{{contentSv.getThumbnail(content)}}');" class="overlay_cover"></div>
	<div style="background-image:url('{{contentSv.getThumbnail(content)}}');" class="overlay_photo"></div>

</div>