<div class="app" ng-style="getAppStyle()" ng-class="getAppClass()">

	<fb app-id='211895592326072'></fb>
	<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	<script src="http://platform.tumblr.com/v1/share.js"></script>
	<script async="" defer="" src="//platform.instagram.com/en_US/embeds.js"></script>

	<div ng-if="isLogged()" id="config" ng-style="getConfigStyle()" tooltip="Edit theme" tooltip-placement="right">
		<a href="#/" class="configcontrol" ng-click="adminTheme()" ng-style="getConfigButtonStyle()" skip-default><i class="fa fa-cogs"></i></a>

		<tabset ng-if="showConfig">

			<tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active">
				<div ng-switch="tab.key" class="inside">
					<admin-colors ng-switch-when='colors'></admin-colors>
					<admin-fonts ng-switch-when='fonts'></admin-fonts>
					<admin-width ng-switch-when='width'></admin-width>
					<admin-background ng-switch-when='background'></admin-background>
				</div>
			</tab>

		</tabset>

	</div>

	<div id="menu" get-menu-height ng-style="getMenuStyle()">

		<div class="controls" ng-style="getControlsStyle()">

			<a href="#/" ng-if="!isSearch" class="prev" skip-default ng-click="move(-1)" tooltip="Previous content" tooltip-placement="bottom" ng-style="getControlsButtonStyle()">
				<i class="icon-up-open"></i>
			</a>

			<a href="#/" ng-if="!isSearch" class="next" skip-default ng-click="move(1)" tooltip="Next content" tooltip-placement="bottom" ng-style="getControlsButtonStyle()">
				<i class="icon-down-open"></i>
			</a>

			<a href="#/" ng-if="!isSearch" class="mode" skip-default ng-click="changeMode()" tooltip="{{getModeTitle()|capitalize}}" tooltip-placement="bottom" ng-style="getControlsButtonStyle()">
				<i ng-class="getModeIconClass()"></i>
			</a>

			<a href="#/" class="search" skip-default ng-click="showSearch()" ng-style="getControlsButtonStyle()" tooltip="{{isSearch ? 'Close':'Filters'}}" tooltip-placement="bottom">
				<i class="{{isSearch ? 'icon-cancel':'icon-search'}}"></i>
			</a>

			<a ng-if="isSearch" href="#/" class="search" skip-default ng-click="moreContent()" ng-style="getControlsButtonStyle()" tooltip="More content" tooltip-placement="bottom">
				<i class="icon-plus" ng-click="moreContent()"></i>
			</a>

		</div>
  
		<div ng-if="user.profile_image.length" class="profileImage" style="background-image:url('{{user.profile_image}}')"></div>
		<h1 ng-style="getBrandStyle()" class="menu-brand">
			{{user.username|uppercase}}
			<span ng-show="!isSearch"> #<strong count-up="{{current + 1}}">{{current + 1}}</strong></span>
		</h1>
				
		<div class="filterPage {{isSearch ? 'searching' : ''}}" ng-style="getSearchStyle()">

			<ul class="filterPageList">

				<h1>
					#<strong count-up="{{list.length}}">{{list.length}}</strong>
				</h1>

				<h1> > Networks</h1>

				<li ng-repeat="network in filters.networks" class="inline menu-item {{isNetWorkActive(network) ? 'active':''}} {{counters[network] ? 'dotted':''}}" ng-click="filterNetwork(network)" tooltip="{{isNetWorkActive(network) ? 'Hide':'Show'}} {{counters[network] ? counters[network]:'' }} from {{network|networkBrand}}">
					<i ng-class="networkIcon(network)"></i>
					<p count-up="{{counters[network]}}">{{counters[network]}}</p>
				</li>				

			</ul>

			<ul class="filterPageList">

				<h1> > Concepts</h1>

				<li ng-repeat="concept in filters.concepts" ng-click="filterConcept(concept)" class="inline menu-item {{isConceptActive(concept) ? 'active':''}} {{counters[concept] ? 'dotted':''}}" tooltip="{{isConceptActive(concept) ? 'Hide':'Show'}} {{counters[concept] ? counters[concept]:''}} {{getPluralizedConcepts(concept)}}">
					<i ng-class="conceptIcon(concept)"></i>
					<p count-up="{{counters[concept]}}">{{counters[concept]}}</p>
				</li>

			</ul>

		</div>

	</div>

	<div id="container">

		<ul id="list" ng-style="getStyle()" ng-class="getListClass()">

			<li ng-repeat="content in list" ng-switch="content.concept" class="content {{$index%2 ? 'odd':''}}" ng-class="getContentClass($index)" id="content_{{$index}}" ng-style="getContentStyle()">

				<div class="content_bar" ng-style="getContentBarStyle()">

					<span class="user_info">
						<a ng-href="/dashboard/#/socialnets/{{content.network}}/{{content.external_user_id}}" ng-style="getFooterContrastStyle()">
							<img class="profile" ng-src="{{getProfileImg($index)}}" alt="Go to profile" ng-style="getProfileStyle()" />
							{{content.external_user_name}}
							<i class="{{networkIcon(content.network)}} socialIcon"></i>
						</a>
					</span>

					<ul class="share">
						<li class="left inline" tooltip="Show Comments">
			            	<a href="#/" ng-click="showComments($index)" skip-default>
			            		<i class="{{!isComments ? 'icon-chat' : 'icon-close' }}" ng-style="getFooterContrastStyle()"></i>
			            	</a>
			            </li>					
						<li class="left inline" tooltip="Share on Twitter">
			            	<a target="_blank" href="http://twitter.com/share" share-twitter="{{content}}">
			            		<i class="icon-twitter" ng-style="getFooterContrastStyle()"></i>
			            	</a>
			            </li>
			            <li class="left inline" tooltip="Share on FaceBook">
			            	<a target="_blank" href="http://www.facebook.com/sharer/sharer.php" share-facebook="{{content}}">
			            		<i class="fa fa-facebook" ng-style="getFooterContrastStyle()"></i>
			            	</a>
			            </li>
			            <li class="left inline" tooltip="Share on Tumblr">
			            	<a target="_blank" href="http://www.tumblr.com/share" share-tumblr="{{content}}">
			            		<i class="icon-tumblr" ng-style="getFooterContrastStyle()"></i>
			            	</a>
			            </li>
			        </ul>
			    </div>

				<content-video ng-switch-when='video'></content-video>
				<content-photo ng-switch-when='photo'></content-photo>
				<content-track ng-switch-when='track'></content-track>
				<content-post  ng-switch-when='post' ></content-post>
				<content-quote ng-switch-when='quote'></content-quote>
				<content-chat  ng-switch-when='chat' ></content-chat>
				<content-link  ng-switch-when='link' ></content-link>
				<content-event ng-switch-when='event'></content-event>

			</li>

		</ul>

		<div ng-style="getCommentsStyle()" ng-if="isComments" class="overlay_comments">
			<fb-comments data-href="{{getContentCommentsHash()}}" data-notify="true" data-colorscheme="{{getCommentsColor()}}" class="comments_container"></fb-comments>
		</div>


	</div>

	<div ng-show="!isSearch" class="footer" ng-style="getFooterStyle()" get-footer-height>

		<a href="#/" class="footercontrol" ng-click="footer()" ng-style="getFooterButtonStyle()" skip-default>
			<i class="icon-play" ng-style="getFooterContrastStyle()"></i>
		</a>

		<div ng-show="showFooter" class="queued">
			<ul ng-style="getQueueStyle()">
				<li ng-repeat="content in contentSv.getQueue()" class="{{content.network}}_{{content.concept}}" style="position:relative;">
					<i class="icon-cancel both" ng-click="contentSv.deleteFromQueue(content)"></i>
					<div class="player both" ng-bind-html="getPlayer($index)"></div>
				</li>
			</ul>
		</div>

	</div>

</div>