<div id="{{content.network}}_{{content.concept}}_{{content.external_id}}" class="photo {{content.network}}_{{content.concept}}">

	<div style="background-image:url('{{current.src}}');" class="overlay_cover"></div>
	<div style="background-image:url('{{current.src}}');" class="overlay_photo"></div>

	<div ng-if="loaded" style="position:absolute;width:100%;top:calc(50% - 50px);left:0;">
		<a href="#/" skip-default ng-click="move(-1)" alt="Previous photo" ng-if="moreThanOne()" class="prev">
			<i class="icon-chevron-sign-left"></i>
	 	</a>

		<a href="#/" skip-default ng-click="move(1)" alt="Next photo" ng-if="moreThanOne()" class="next">
			<i class="icon-chevron-sign-right"></i>
		</a>
	</div>


	<div class="content_caption" ng-if="getTitle().length>0 || getDescription().length>0" ng-style="getDescriptionStyle()"> 
		<h2>{{getTitle()}}</h2>
		<p ng-bind-html="getDescription()"></p>
	</div>

</div>