<div id="{{content.network}}_{{content.concept}}_{{content.external_id}}" class="photo {{content.network}}_{{content.concept}}">

	<!--
	<div ng-if="current != {}" style="background-image:url('{{current.src}}');" class="overlay_cover"></div>
	-->
	<div thumbnail="content" ng-if="current != {}" style="background-image:url('{{current.src}}');" class="overlay_photo"></div>

	<div ng-if="loaded" style="position:absolute;width:50%;top:calc(50% - 50px);left:0;">
		<a href="#/" ng-click="move(-1)" alt="Previous photo" ng-if="moreThanOne()" class="prev" ng-style="getControlsStyle()" skip-default >
			<i class="icon-left-open-big"></i>
	 	</a>	

		<a href="#/" ng-click="move(1)" alt="Next photo" ng-if="moreThanOne()" class="next"  ng-style="getControlsStyle()" skip-default>
			<i class="icon-right-open-big"></i>
		</a>
	</div>


	<div class="content_caption" ng-style="getDescriptionStyle()"> 
		<h2 ng-if="getTitle().length>0">{{getTitle()}}</h2>
		<p ng-bind-html="getDescription()"></p>
	</div>

</div>