<div id="{{content.network}}_{{content.concept}}_{{content.external_id}}_detail" class="post {{content.network}}_{{content.concept}}">
	<div ng-if="isFromNetwork('facebook')">
		<div ng-if="canEmbedFb()" class="fb-post" data-href="{{getFbPostHref()}}" data-width="350"></div>
	</div>
	<div ng-if="isFromNetwork('twitter')">
		<div ng-bind-html="getEmbed()"></div>
	</div>
	<div ng-if="(isFromNetwork('facebook') && !canEmbedFb()) || !isFromNetwork('facebook') && !isFromNetwork('twitter')" ng-style="getDescriptionStyle()">
		<h2 ng-if="getTitle().length">{{getTitle()}}</h2>
		<p ng-bind-html="getDescription()"></p>
	</div>
</div>