@media (max-width: 480px) {

  #container {
    width: 100%;
  }

  .player > iframe, .player > object, .player > embed, .player > audio, .player > video {
    height: 200px;
  }

  .latestVideos .carousel-inner,
  .latestTracks .carousel-inner {
    height: 200px;
  }

  .latestEvents li.event {
    height: auto;
  }

  .latestEvents .event-date-container .event-date-month {
    font-size: 11px;
  }

  .latestEvents .event-map-container {
    width: 30%;
  }

  .latestEvents .event-map-container .event_map {
    max-width: 100%;
  }

  .latestEvents .event-info-container {
    width: 43%;
  }

  .latestEvents .event-info-container h2 {
    font-size: 14px;
    font-weight: 900;
  }

  .navbar-nav {
    width: 100%;
  }

  .latestPhotos .photo {
    width: 100%;
  }

  .latestPhotos .photo .text_container {
    display: none;
  }

  .latestPhotos .carousel-control i  {
    font-size: 25px;
  }

  .small, .medium, .large, .xlarge {
    width: 100%;
  }

  h1 a {
    font-size: 22px!important;
    line-height: 18px!important;
  }  

}

@media (max-width: 480px) {

  .small, .medium, .large, .xlarge {
    width: 100%;
  }

}

@media (max-width: 768px) {

  .player > iframe, .player > object, .player > embed, .player > audio, .player > video {
    height: 250px;
  }

  .latestVideos .carousel-inner,
  .latestTracks .carousel-inner {
    height: 250px;
  }

}

@media (max-width: 1024px) {
  .small, .medium {
    width: 50%;
  }

  .large, .xlarge {
    width: 100%;
  }

  .latestEvents li.event {

  }

  .section_events {
    width: 100%;
  }

  .latestEvents li.event  {
    width: 100%;
    clear: none;
    float: left;
  }
}

@media (min-width: 1024px) {

  .player > iframe, .player > object, .player > embed, .player > audio, .player > video {
    height: 300px;
  }

  .latestVideos .carousel-inner,
  .latestTracks .carousel-inner {
    height: 300px;
  }

  .latestEvents li.event  {
    width: 100%!important;
  }

}

@media (min-width: 481px) and (max-width: 768px) {

  .player > iframe, .player > object, .player > embed, .player > audio, .player > video {
    height: 250px;
  }

  .latestVideos .carousel-inner,
  .latestTracks .carousel-inner {
    height: 250px;
  }

  .small, .medium, .large, .xlarge {
    width: 100%;
  }

  h1 a {
    font-size: 22px!important;
    line-height: 18px!important;
  }  

  .latestEvents .event-date-container .event-date-month {
    font-size: 12px;
  }

  .latestEvents .event-map-container {
    width: 30%;
  }

  .latestEvents .event-map-container .event_map {
    max-width: 100%;
  }

  .latestEvents .event-info-container {
    width: 43%;
  }

  .latestEvents .event-info-container h2 {
    font-size: 14px;
    font-weight: 900;
  }

}

@media (min-width: 769px) and (max-width: 1024px) {

  .latestEvents .event-date-container .event-date-month {
    font-size: 14px;
  }

  .latestEvents .event-map-container {
    width: 30%;
  }

  .latestEvents .event-map-container .event_map {
    max-width: 100%;
  }

  .latestEvents .event-info-container {
    width: 43%;
  }

  .latestEvents .event-info-container h2 {
    font-size: 14px;
    font-weight: 900;
  }

}