@media (max-width: 480px) {

  iframe, object, embed, audio, video {
    height: auto;
    width: 100%;
    display: block!important;
    margin: 0 auto;
  }

  #container {
    width: 90%;
    padding: 0;
  }

  .small, .medium, .large, .xlarge {
    width: 100%;
  }

  h1 a {
    font-size: 22px!important;
    line-height: 18px!important;
  }  

}

@media (min-width: 481px) and (max-width: 768px) {

  iframe, object, embed, audio, video {
    height: auto;
    width: 100%;
    display: block!important;
    margin: 0 auto;
  }

  #container {
    width: 90%;
    padding: 0;
  }

  .small, .medium, .large {
    width: 48%;
  }

  h1 a {
    font-size: 22px!important;
    line-height: 18px!important;
  }  

}