 <div id="container">

 	<div id="header" ng-style="getHeaderStyle()" get-menu-width>

	 	<div id="menuControl">
	 		<i class="fa fa-align-justify" ng-click="manageControl()"></i>
	 	</div>

		<div class="container" ng-style="getMenuContainerStyle()">

			<a href="#" class="navbar-brand">{{user.username}}</a>

	 		<form class="navbar-form navbar-left" role="search" style="position:relative;">
	 			<div class="">
	 				<input type="text" ng-model="userSearch" name="userSearch" placeholder="Search users" class="form-control">
	 			</div>
	 			<div ng-if="usersList.length > 0" style="position:absolute;height:100%;z-index:10;">
	 				<ul class="nav navbar-nav usersSearch">
	 					<li class="dropdown active open">
	 						<ul class="dropdown-menu">
	 							<li ng-repeat="userFind in usersList" class="userFind">
	 								<a href="/users/{{userFind.username}}" tabindex="-1" class="ajax">{{userFind.username}}</a>
	 							</li>
	 						</ul>
	 					</li>
	 				</ul>
	 			</div>
	 		</form>

		 	<login ng-if="!isLogged()"></login>

			<ul class="">

				<li ng-if="isLogged()">
				    <i class="fa fa-users"></i>
					<a ng-click="activateStep(1)" href="#/accounts" skip-default>Accounts</a>
				</li>

				<li ng-if="isLogged()">
				    <i class="fa fa-files-o"></i>
					<a ng-click="activateStep(2)" href="#/themes" skip-default>Themes</a>
				</li>

				<li ng-if="isLogged()">
				    <i class="fa fa-share-alt"></i>
					<a ng-click="activateStep(3)" href="#/share" skip-default>Share</a>
				</li>

				<li ng-if="isLogged()">
				    <i class="fa fa-sign-out"></i>
					<a href="/users/logout">LogOut</a>
				</li>

			</ul>

		</div>

	 </div>


 	<div id="content"  ng-style="getContentStyle()">

 		<div ng-if="steps.1" class="step_1">

 			<admin-accounts></admin-accounts>

 		</div>

 		<div ng-if="steps.2" class="step_2">

 			<admin-themes></admin-themes>

 		</div>

 		<div ng-if="steps.3" class="step_3">

 			<p>Step 3</p>

 		</div>

 	</div>

 	<div id="footer"></div>

 </div>
