 <div id="container">

 	<div id="header">

 		<ul>
 			<li ng-click="activateStep(1)">#1 Accounts</li>

 			<li ng-click="activateStep(2)">#2 Themes</li>

 			<li ng-click="activateStep(3)">#3 Share</li>
 		</ul>

 	</div>

 	<div id="content">

 		<div ng-if="steps.1" class="step_1">

 			<admin-accounts></admin-accounts>

 		</div>

 		<div ng-if="steps.2" class="step_2">

 			<admin-themes></admin-themes>

 		</div>

 		<div ng-if="steps.3" class="step_3">

 			<p>Step 3</p>

 		</div>

 	</div>

 	<div id="footer"></div>

 </div>
