 <div id="header">
 	<ul>
 		<li ng-if="isLogged()">
 			<a ng-click="activateStep(1)" href="#/accounts" skip-default>Accounts</a>
 		</li>
 		
 		<li ng-if="isLogged()">
 			<a ng-click="activateStep(2)" href="#/themes" skip-default>Themes</a>
 		</li>
 		
 		<li ng-if="isLogged()">
 			<a ng-click="activateStep(3)" href="#/share" skip-default>Share</a>
 		</li>
 		
 		<li ng-if="isLogged()">
 			<a href="/users/logout">LogOut</a>
 		</li>

		<li ng-if="!isLogged()" class="right"><login></login></li>

 		<li class="right" style="position:relative;">
 			<input type="text" ng-model="userSearch" name="userSearch" placeholder="Search users" />
 			<a href="#/" ng-click="searchUsers()" skip-default>Go!</a>
 			<div ng-if="usersList.length > 0" style="position:absolute;height:100%">
 				<ul>
 					<li ng-repeat="user in usersList">
 						<a href="/users/{{user.User.username}}">{{user.User.username}}</a>
 					</li>
 				</ul>

 			</div>
 		</li>

 	</ul>
 </div>