<div class="big_pin_box" style="margin-top:10px;">
    <div class="pin-sub-header">
        <div class="navbar-inner">
            <a href="#" id="toggleComments" ng-click="showComments()" skip-default>
                <div class="pull-left">
                	Comments(<div class="fb-comments-count inline" data-href="{{getContentCommentsHash()}}">0</div>)
                </div>
                <div class="pull-right">{{textComment()}} Comments</div>
            </a>
            <div class="clearfix"></div>
        </div>
    </div>
    <div ng-hide="hideComments" class="comments">
		<div class="fb-comments" data-href="{{commentsUrl}}" data-numposts="{{commentsNumposts}}" data-colorscheme="{{commentsColor}}"></div>		            	
    </div>
</div>