<fb app-id='211895592326072'></fb>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<div ng-if="isLogged()" id="config" ng-style="getConfigStyle()" title="Edit theme">
	<a href="#/" class="control" ng-click="adminTheme()" ng-style="getConfigButtonStyle()" skip-default>Edit <i class="icon-cogs"></i></a>

	<div class="inside" ng-if="showConfig">
		<admin-pagefilter></admin-pagefilter>
		<admin-colors></admin-colors>
		<admin-fonts></admin-fonts>
		<admin-contentsize></admin-contentsize>
	</div>

</div>

<div class="navbar navbar-default both" get-menu-height>
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<h1><a class="navbar-brand" href="#/">Digest Theme</a></h1>
		</div>
		<div class="navbar-collapse collapse">

			<ul ng-if="configLoaded" class="nav navbar-nav">
				<li ng-repeat="page in pages" ng-class="getMenuItemClass('{{page}}')">
					<a href="#/" ng-click="setCurrent('{{page}}')" skip-default>{{page}} <span ng-class="getMenuItemClass('{{page}}')">x<span></a>
				</li>
			</ul>

		</div>
	</div>
</div>

<div style="position:relative;">

	<div ng-if="showingContent" class="modalContent" ng-style="getModalBackgroundStyle()">

		<div class="content_detalle" ng-style="getStyle()">

			<div class="left-column">

				<div class="section content well" ng-style="getContentStyle(content)" ng-repeat="content in contentModal" ng-switch="content.concept">

					<div class="both">
						<i class="icon-remove-circle right" ng-click="closeContent()"></i>
						<div ng-if="isLogged()">{{content.status}}</div>
					</div>

					<content-detail-video ng-switch-when='video'></content-detail-video>
					<content-detail-photo ng-switch-when='photo'></content-detail-photo>
					<content-detail-track ng-switch-when='track'></content-detail-track>
					<content-detail-post  ng-switch-when='post' ></content-detail-post>
					<content-detail-quote ng-switch-when='quote'></content-detail-quote>
					<content-detail-chat  ng-switch-when='chat' ></content-detail-chat>
				</div>
			</div>

			<div class="right-column well" ng-style="getContentStyle(content)" ng-repeat="content in contentModal">

				<span class="user_info">
					<a ng-href="{{getAccountLink(currentContent,content.external_user_id)}}" target="_blank">
						<img class="profile" ng-src="{{getProfileImg()}}" alt="Go to profile">
					</a>
					<div>
						<h3> {{getCurrentProperty('external_user_name')}}</h3>
						<a ng-href="{{getAccountLink(currentContent,content.external_user_id)}}" target="_blank">
							<img alt="" ng-src="img/themes/digest/{{getCurrentProperty('network')}}.png">
							<p> / {{getCurrentProperty('external_user_name')}}</p>
						</a>
					</div>


					<div>
			              <ul>
			                <li class="left inline"><a href="#"><img src="img/themes/digest/twitter.png" alt="Twitter"></a></li>
			                <li class="left inline"><a href="#about"><img src="img/themes/digest/facebook.png" alt="Facebook"></a></li>
			                <li class="left inline"><a href="#contact"><img src="img/themes/digest/tumblr.png" alt="Tumblr"></a></li>
			                <li class="left inline"><a href="#contact"><img src="img/themes/digest/rss.png" alt="rss"></a></li>
			              </ul>
				    </div>

				</span>


				<div class="more_user_info">
					<h3>More about {{getCurrentProperty('external_user_name')}}</h3>

					<div class="wrapper">
						<div class="list_carousel" ng-if="relateds.length">
							<a id="prev2" class="prev" href="#/"><img alt="" src="img/themes/digest/arrow-left.png"></a>
							<a id="next2" class="next" href="#/"><img alt="" src="img/themes/digest/arrow-right.png"></a>
							<div class="carousel_container">
								<ul id="carousel">
									<li ng-repeat="related in relateds" caroufredsel="{'selector':'#carousel', 'auto':false,'prev':'#prev2','next':'#next2','mousewheel':true,'swipe':{'onMouse':true,'onTouch':true}}">
										<a href="#/" ng-click="showRelated($index)" skip-default >
											<i ng-hide="getRelatedThumbnail($index).length" ng-class="contentSv.getConceptIcon(related.concept)" style="maring:auto 0;top:45%;left:45%;position:relative;"></i>
											<img alt="" ng-src="{{getRelatedThumbnail($index)}}" restrictsize="109">
										</a>
									</li>
								</ul>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div ng-if="!relateds.length">There is not related contents</div>
				</div>

			    <fb-comments data-href="{{getContentCommentsHash()}}" data-notify="true"></fb-comments>

			</div>

		</div>

		<a href="#/" ng-click="move(-1)" title="{{getNavigatorTitle(-1)}}" skip-default class="arrows arrows_detalle arrow_left" ng-class="getNavigatorClass(-1)" ng-style="getStyle()">
			<i class="social-icon" ng-class="getNavigatorConceptIcon(-1)"></i>
			<div class="more-user" ng-show="getNavigatorThumbnail(-1).length">
				<img ng-src="{{getNavigatorThumbnail(-1)}}" alt="" restrictsize="120" >
			</div>
			<img class="arrow" src="img/themes/digest/arrow-left.png" alt="">
			<img class="social-media" ng-src="img/themes/digest/{{getNavigatorNetwork(-1)}}-big.png" alt="">
		</a>

		<a href="#/" ng-click="move(1)" title="{{getNavigatorTitle(1)}}" skip-default class="arrows arrows_detalle arrow_right" ng-class="getNavigatorClass(1)" ng-style="getStyle()">
			<i class="social-icon" ng-class="getNavigatorConceptIcon(1)"></i>
			<div class="more-user" ng-show="getNavigatorThumbnail(1).length">
				<img ng-src="{{getNavigatorThumbnail(1)}}" alt="" restrictsize="120" >
			</div>
			<img class="arrow" src="img/themes/digest/arrow-right.png" alt="">
			<img class="social-media" ng-src="img/themes/digest/{{getNavigatorNetwork(1)}}-big.png" alt="">
		</a>

	</div>

	<div class="arrows arrows_home arrow_left" ng-style="getStyle()">
	 	<a href="#/" skip-default ng-click="movePage(-1)" title="{{getPageArrowTitle(-1)}}">
	 		<img class="arrow" src="img/themes/digest/arrow-left.png" alt="Previous page">
	 	</a>
	 </div>

	<ul id="container" infinite-scroll="moreContent()" ng-style="getMasonryStyle()" masonry="{'columnWidth':10,'gutter':5,'isAnimated':true,'itemSelector':'.content'}" class="masonry">

		<li ng-repeat="content in list" class="content" ng-class="getContentSize($index)" ng-switch="content.concept" masonry-item hover-shadow ng-style="getContentStyle(content)">

			<div ng-if="isLogged()" class="left">{{content.status}}</div>
			<i ng-if="isLogged()" ng-click="delete($index)" class="icon-trash right"></i>

			<div class="stats both">
				<ul>
					<li ng-repeat="(key,stat) in content.stats" title="{{key}}:{{stat}}">
						<div ng-if="canShowStat(stat)" >
							<i ng-class="statIcon(key)"></i> {{stat}}
						</div>
					</li>
				</ul>
			</div>

			<div class="both">

			    <content-video ng-switch-when='video'></content-video>
			    <content-photo ng-switch-when='photo'></content-photo>
			    <content-track ng-switch-when='track'></content-track>
			    <content-post  ng-switch-when='post' ></content-post>
			    <content-quote ng-switch-when='quote'></content-quote>
			    <content-chat  ng-switch-when='chat' ></content-chat>

				<span class="user_info"><a ng-href="{{getAccountLink($index,content.external_user_id)}}" target="_blank"><img ng-src="img/themes/digest/{{content.network}}.png" alt="Go to {{content.network}} profile" class="socialIcon"><p> / {{content.external_user_name}}</p></a></span>

			</div>

			<strong ng-click="showContent($index)">View</strong>

		</li>

	</ul>

	<div class="arrows arrows_home arrow_right" ng-style="getStyle()">
		<a href="#/" skip-default ng-click="movePage(1)" title="{{getPageArrowTitle(1)}}">
			<img class="arrow" src="img/themes/digest/arrow-right.png" alt="Next page">
		</a>
	</div>

</div>


<div class="both well user_message" ng-style="getUserMessageStyle()" ng-hide="showingContent">
	<img alt="loading" class="loading" ng-src="img/themes/digest/ajax-loader.gif">
	<span class="text_message">{{userMessage}}</span>	
</div>