<div id="{{content.network}}_{{content.concept}}_{{content.external_id}}" class="video">

	<div ng-if="isFromNetwork('facebook')">
		<div class="fb-post" data-href="{{getFbPostHref()}}"></div>
	</div>

	<div ng-if="!isFromNetwork('facebook')">

		<div ng-if="canShowThumbnail()">
			<img ng-src="{{getThumbnail()}}" />
		</div>	
		<div ng-if="canShowPlayer()" class="video_embed" ng-bind-html="getPlayer()"></div>
		<div ng-if="isEmpty()">EMPTY</div>
		<h2>{{getTitle()}}</h2>
		<p>{{getDescription()}}</p>
		
	</div>
</div>