<div id="{{content.network}}_{{content.concept}}_{{content.external_id}}" class="event {{content.network}}_{{content.concept}}">

	<div class="event-date-container">
		<p class="event-date-day" ng-style="getDayStyle()">
			<i class="{{contentSv.getConceptIcon('event')}}"></i>
			{{content.data.date|date:'dd'}} {{content.data.date|date:'MMMM'}}
		</p>
		
	</div>

	<div class="event-map-container">
		<img alt="Google map on {{content.data.address}}" ng-src="{{contentSv.getThumbnail(content)}}" class="event_map" />
	</div>

	<div class="event-info-container">
		<h2 ng-style="getTitleStyle()">{{content.data.name}}</h2>
		<p ng-style="getDescriptionStyle()" class="event-info-place">{{content.data.place}}</p>
		<a ng-if="content.data.ticket.length > 0" ng-href="{{content.data.ticket}}" target="_blank">Buy Tickets</a>
	</div>

</div>