<div class="app" ng-style="getAppStyle()" ng-class="getAppClass()">

	<fb app-id='211895592326072'></fb>
	<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	<script src="http://platform.tumblr.com/v1/share.js"></script>

	<div ng-if="isLogged()" id="config" ng-style="getConfigStyle()" title="Edit theme">
		<a href="#/" class="configcontrol" ng-click="adminTheme()" ng-style="getConfigButtonStyle()" skip-default>Edit <i class="icon-cogs"></i></a>

		<tabset ng-if="showConfig">

			<tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active">
				<div ng-switch="tab.key" class="inside">
					<admin-contentsize ng-switch-when='contentsize'></admin-contentsize>
					<admin-colors ng-switch-when='colors'></admin-colors>
					<admin-fonts ng-switch-when='fonts'></admin-fonts>
					<admin-width ng-switch-when='width'></admin-width>
				</div>
			</tab>

		</tabset>

	</div>

	<nav class="navbar navbar-default" role="navigation">
	 
		<div class="container">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<h1><a class="navbar-brand" href="#/">{{user.username|uppercase}}</a></h1>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

				<ul ng-if="configLoaded" class="nav navbar-nav right">

					<li ng-class="getMenuItemClass('home')" class="menu-item active" ng-style="getMenuItemStyle('home')">
						<a href="#/" ng-click="setCurrent('home')" ng-style="getMenuItemStyle('home')" skip-default>Home </a>
					</li>

					<li ng-repeat="page in pages" ng-class="getMenuItemClass(page)" class="menu-item" ng-if="hasContent(page)" ng-style="getMenuItemStyle(page)">
						<a href="#/" ng-click="setCurrent(page)" ng-style="getMenuItemStyle(page)" skip-default> <i ng-class="getMenuItemIconClass(page)"></i> {{page}}</a>
					</li>

				</ul>
			</div>

		</div>

	</nav>

	<div class="container_wrap">

		<div id="container">

			<ul class="page block {{getPageClass('home')}}" ng-if="isActive('home')">
				<li class="section section_photos {{getHomepageSize('photos')}}" ng-if="hasContent('photos')" >
					<h3 class="title">Latest <span ng-style="getHighlightStyle()">Photos</span></h3>
					<div>
						<latest-photos limit="4" config="config"></latest-photos>
					</div>
					<div class="both">
						<a href="#/photos" skip-default ng-click="setCurrent('photos')">
							<i class="icon-plus"></i> Photos
						</a>
					</div>
				</li>
			</ul>

			<ul id="masonry" class="page block masonry {{getPageClass('home')}}" ng-if="isActive('home')" masonry-simple="{'columnWidth':1,'gutter':1,'isAnimated':false,'itemSelector':'.section'}">

				<li ng-repeat="page in pages" class="section section_{{page}} {{getHomepageSize(page)}}" ng-if="hasContent(page) && page != 'photos'" masonry-simple-item>

					<h3 class="title">Latest <span ng-style="getHighlightStyle()">{{page}}</span></h3>

					<div ng-switch="page">
						<latest-videos ng-switch-when='videos' limit="3" config="config"></latest-videos>
						<latest-tracks ng-switch-when='tracks' limit="3" config="config"></latest-tracks>
						<latest-events ng-switch-when='events' limit="3" config="config"></latest-events>
						<latest-posts  ng-switch-when='posts'  limit="3" config="config"></latest-posts>
					</div>

					<div class="both">
						<a href="#/{{page}}" skip-default ng-click="setCurrent(page)">
							<i class="icon-plus"></i> {{page}}
						</a>
					</div>

				</li>

			</ul>

			<div ng-repeat="page in pages" class="page {{getPageClass(page)}}" ng-if="isActive(page)" ng-switch="page">

				<h3 class="title"><span ng-style="getHighlightStyle()">{{page}}</span></h3>
				
				<photos ng-switch-when='photos'></photos>
				<videos ng-switch-when='videos'></videos>
				<tracks ng-switch-when='tracks'></tracks>

			</div>


		</div>

	</div>

	<div id="footer" class="block" ng-style="getFooterStyle()">

		<div ng-style="getDividerStyle()" class="divider">&nbsp;</div>


		<ul class="social-links">

			<h3 class="title">Follow me <span ng-style="getHighlightStyle()">on:</span></h3>

			<li ng-repeat="account in accounts" class="social-link inline">
				<a href="{{account.Socialnet.profile_url}}" target="_blank">
					<img ng-src="{{account.Socialnet.profile_image}}" class="profileImage img-circle"/>
					<img alt="{{account.Socialnet.network}} profile" ng-src="{{networkIcon(account.Socialnet.network)}}" class="socialIcon" />					
				</a>
			</li>

		</ul>

	</div>

</div>