<div class="app" ng-class="getAppClass()">

	<fb app-id='211895592326072'></fb>
	<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	<script src="http://platform.tumblr.com/v1/share.js"></script>
	<script async="" defer="" src="//platform.instagram.com/en_US/embeds.js"></script>

	<div ng-if="isLogged()" id="config" ng-style="getConfigStyle()" tooltip="Edit theme" tooltip-placement="right">
		<a href="#/" class="configcontrol" ng-click="adminTheme()" ng-style="getConfigButtonStyle()" skip-default><i class="fa fa-cogs"></i></a>

		<tabset ng-if="showConfig">

			<tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active">
				<div ng-switch="tab.key" class="inside">
					<admin-contentsize ng-switch-when='contentsize'></admin-contentsize>
					<admin-colors ng-switch-when='colors'></admin-colors>
					<admin-width ng-switch-when='width'></admin-width>
					<admin-background ng-switch-when='background'></admin-background>
				</div>
			</tab>

		</tabset>

	</div>

	<nav class="navbar navbar-default" role="navigation" get-menu-height>
	 
		<div class="container">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar" ng-style="getCollapseMenuItemStyle()"></span>
					<span class="icon-bar" ng-style="getCollapseMenuItemStyle()"></span>
					<span class="icon-bar" ng-style="getCollapseMenuItemStyle()"></span>
				</button>

				<h1 ng-show="!fixed" class="username">
					<img ng-src="{{user.profile_image}}" class="profileImage img-circle"/>
					<a href="#/" ng-click="setCurrent('home')" class="navbar-brand" skip-default>{{user.username|uppercase}}</a>
				</h1>
				
			</div>

			<div class="right collapse navbar-collapse" id="bs-example-navbar-collapse-1">

				<ul ng-if="configLoaded" class="nav navbar-nav right">

					<li ng-class="getMenuItemClass('home')" class="menu-item active" ng-style="getMenuItemStyle('home')">
						<a href="#/" ng-click="setCurrent('home')" ng-style="getMenuItemStyle('home')" skip-default> <i class="fa fa-home"></i> <strong>Home</strong></a>
					</li>

					<li ng-repeat="page in pages" ng-class="getMenuItemClass(page)" class="menu-item" ng-if="hasContent(page)" ng-style="getMenuItemStyle(page)">
						<a href="#/" ng-click="setCurrent(page)" ng-style="getMenuItemStyle(page)" skip-default> <i ng-class="getMenuItemIconClass(page)"></i> <strong>{{page}}</strong></a>
					</li>

				</ul>
			</div>

		</div>

	</nav>

	<div class="container_wrap">

		<div class="{{getPageClass('home')}} {{getHomepageSize('photos')}}" ng-if="isActive('home') && hasContent('photos')" style="height:{{getSliderHeight()}}px;">
			<latest-photos limit="8" config="config"></latest-photos>
		</div>

		<div id="container">

			<ul id="masonry" class="page block masonry {{getPageClass('home')}}" ng-if="isActive('home')" masonry-simple="{'columnWidth':1,'gutter':1,'isAnimated':false,'itemSelector':'.section'}">

				<li ng-repeat="page in pages" class="section section_{{page}} {{getHomepageSize(page)}}" ng-if="hasContent(page) && page != 'photos'" masonry-simple-item>

					<h3 class="title" ng-style="getHighlightStyle()">Latest {{page}}</h3>

					<div ng-switch="page">
						<latest-videos ng-switch-when='videos' limit="8" config="config"></latest-videos>
						<latest-tracks ng-switch-when='tracks' limit="8" config="config"></latest-tracks>
						<latest-events ng-switch-when='events' limit="8" config="config"></latest-events>
						<latest-posts  ng-switch-when='posts'  limit="8" config="config"></latest-posts>
					</div>

					<div class="both">
						<a href="#/{{page}}" skip-default ng-click="setCurrent(page)" ng-style="getMoreStyle()" class="loadMore" >
							More <i class="fa {{contentSv.getConceptIcon(page)}}"></i>
						</a>
					</div>

				</li>

			</ul>

			<div ng-repeat="page in pages" class="page {{getPageClass(page)}}" ng-if="isActive(page)" ng-switch="page">

				<photos ng-switch-when='photos'></photos>
				<videos ng-switch-when='videos'></videos>
				<tracks ng-switch-when='tracks'></tracks>
				<posts  ng-switch-when='posts'></posts>
				<events ng-switch-when='events'></events>

			</div>

			<a href="#/" ng-show="showUp" ng-click="scrollToTop()" ng-style="getTopStyle()" class="scrollToTop right" skip-default>
				<i class="icon-up"></i>
			</a>


		</div>

	</div>

	<div id="footer" class="block" ng-style="getFooterStyle()">		

		<div ng-style="getDividerStyle()" class="divider">&nbsp;</div>

		<ul id="footer-modules" class="modules" ng-style="getFooterModulesStyle()">

	        <li ng-if="accounts.length" class="content-section">
	            <h3 class="title">Follow me on:</h3>
				<ul class="social social-links">
					<li ng-repeat="account in accounts" class="social-link inline">
						<a href="/dashboard/#/socialnets/{{account.Socialnet.network}}/{{account.Socialnet.external_user_id}}" tooltip="{{account.Socialnet.login}}">
							<img ng-src="{{account.Socialnet.profile_image}}" class="profileImage img-circle"/>
						</a>
					</li>
				</ul>
	        </li>

	        <li class="content-section">
	        	<form role="form" class="bs-example">
				    <div class="form-group col-md-6">
				    	<input type="text" placeholder="Name" id="exampleInputNombre" class="form-control">
				    </div>
				    <div class="form-group col-md-6">
				    	<input type="email" placeholder="Email" id="exampleInputEmail" class="form-control">
				    </div>
				    <div class="form-group col-md-10">
				    	<textarea placeholder="Message" rows="3" class="form-control" name="message"></textarea>
				    </div>
				    <div class="form-group col-md-2 pull-right">
				    	<button class="btn" type="submit">Contact</button>
				    </div>
				</form>
	        </li>

	        <!--
	        <li ng-if="user.address.length" class="content-section cover" style="background-image:url({{getMapSrc()}})"></li>

	        <li ng-if="user.biography.length" class="content-section cover" style="background-image:url({{user.profile_image}})">
	            <h3 class="title">About Me:</h3>
	            <div ng-bind-html="getBiography()"></div>
	        </li>
	        -->

	    </ul>
        
	</div>


</div>