<div id="{{content.network}}_{{content.concept}}_{{content.external_id}}" class="photo {{content.network}}_{{content.concept}}">

	<div class="pagePhotoContainer">

		<img ng-repeat="photo in photolist" ng-show="$index == currentPos" ng-src="{{photo.src}}" ng-class="$index == currentPos ? 'content_photo':'content_photo_hide'" />

		<div style="position:absolute;width:100%;top:0;bottom:0;left:0;z-index:3;">

			<a ng-if="moreThanOne()" class="left photo_prev" href="#/" skip-default ng-click="move(-1)">
				<i class="icon-chevron-sign-left"></i>
		 	</a>

			<a ng-if="moreThanOne()" class="right photo_next" href="#/" skip-default ng-click="move(1)">
				<i class="icon-chevron-sign-right"></i>
			</a>

		</div>

	</div>


</div>