<div id="{{content.network}}_{{content.concept}}_{{content.external_id}}" class="video {{content.network}}_{{content.concept}}">

	<div ng-click="showVideo()" class="pageVideoContainer">

	    <div class="overlay {{content.network}}AccountRgba">
	      <div class="overlay-inner">
	        <h2 ng-if="getTitle().length>0">{{getTitle()}}</h2>
	      </div>
	      <i class="fa fa-play-circle" ng-click="showVideo()"></i>
	    </div>

		<img thumbnail="content" ng-src="{{getThumbnail()}}" class="video_thumbnail" />
	
	</div>

</div>