<div id="{{content.network}}_{{content.concept}}_{{content.external_id}}" class="video {{content.network}}_{{content.concept}}">

	<div class="pageVideoContainer">

	    <div class="overlay {{content.network}}AccountRgba">
	      <div class="overlay-inner">
	        <h2 ng-if="getTitle().length>0" ng-style="getTitleStyle()">{{getTitle()}}</h2>
	        <p ng-if="contentSv.getDescription(content).length" class="content_caption" ng-bind-html="getDescription()"></p>
	      </div>
	      <i class="fa fa-play-circle" ng-click="showVideo()" ng-style="getHighlightStyle()"></i>
	    </div>

		<img thumbnail="content" ng-src="{{getThumbnail()}}" class="video_thumbnail" />
	
	</div>

</div>