body {
  color: #080808; 
  /*overflow: hidden;*/
  background-color: #131313;
  font-family: 'Open Sans', sans-serif;/*la puse acá porque en Themedj.php no me la toma por defecto, eliminar de acá luego que este por defecto alla*/
  font-weight: 200;
}

::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 194, 41,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 194, 41,0.4); 
}

* {
    outline: none;
}

*[ ng-click ] {
  cursor: pointer ;
}

img {
  max-width: 100%;
}

a,a:hover,a:active,a:focus,
img,img:hover,img:active,img:focus {
    outline: none;
}

a,a:hover,a:active,a:focus {
  outline: none;
  text-decoration: none;
}

.ng-enter, .ng-leave.ng-leave-active, .ng-hide-add.ng-hide-add-active, .ng-hide-add, .ng-hide-remove {
  -webkit-transition:all 0.5s ease-in-out 0s;
  -moz-transition:all 0.5s ease-in-out 0s;
  -o-transition:all 0.5s ease-in-out 0s;
  transition:all 0.5s ease-in-out 0s; 
}

.ng-enter, .ng-leave.ng-leave-active, .ng-hide-add.ng-hide-add-active, .ng-hide-remove {
  opacity: 0;
  filter: alpha(opacity=0);

  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);  
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);  
}

.ng-enter.ng-enter-active, .ng-leave, .ng-hide-add, .ng-hide-remove.ng-hide-remove-active  {
  opacity: 1;
  filter: alpha(opacity=100);
  
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);

  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

i {
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

.app {
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.both {
  clear: both;
}

.inline {
  display: inline-block;
}

.center {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.well {
  background-color: transparent;
}

.img-circle {
  border-radius:50%;
}

ul {
  list-style-type: none;
  padding:0!important;
  margin:0!important;
}

.next {
  float: right;
}

.prev {
  float: left;
}

a { 
  text-decoration:none; 
  color: #000;
  outline: 0;
  border: none;
  -webkit-transition:all 0.5s ease-in-out 0s;
  -moz-transition:all 0.5s ease-in-out 0s;
  -o-transition:all 0.5s ease-in-out 0s;
  transition:all 0.5s ease-in-out 0s;
}

a:hover, a:active, a:focus, iframe, object, embed, audio, video input::-moz-focus-inner {
  outline: 0;
  border: 0;
}

a:hover 
{ 
  text-decoration: none; 
  color: #efb526;

}

button {
  -webkit-transition:all 0.5s ease-in-out 0s;
  -moz-transition:all 0.5s ease-in-out 0s;
  -o-transition:all 0.5s ease-in-out 0s;
  transition:all 0.5s ease-in-out 0s;
}

h3 {
   font-size: 30px;	
   color: #ffffff;
   text-transform: uppercase;
   text-align: center;
   margin: 0;
   font-family: 'Oswald', sans-serif;
   letter-spacing: 0.2em;
   padding: 45px 5px;
   position: relative;
   z-index: 2;
}

p {
	font-size: 20px;
	line-height: 40px;
   position: relative;
   z-index: 2;
}

.overlay_cover {
  -webkit-transition:all 0.5s ease-in-out 0s;
  -moz-transition:all 0.5s ease-in-out 0s;
  -o-transition:all 0.5s ease-in-out 0s;
  transition:all 0.5s ease-in-out 0s;
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
  filter: alpha(opacity=30);
  z-index: 1;
  background-size:cover;
  background-position: center;
}

.overlay_photo {
  -webkit-transition:all 0.5s ease-in-out 0s;
  -moz-transition:all 0.5s ease-in-out 0s;
  -o-transition:all 0.5s ease-in-out 0s;
  transition:all 0.5s ease-in-out 0s;
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity:1;
  filter: alpha(opacity=100);
  z-index: 1;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 70%;
}

.overlay {
  display: block;
  padding: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 2;
  opacity: 0;
  -webkit-transition:all 0.2s ease 0s;
  -moz-transition:all 0.2s ease 0s;
  -o-transition:all 0.2s ease 0s;
  transition:all 0.2s ease 0s;

}

.content {
  margin: 0 auto;
  position: relative;
  z-index: 2;
  max-width: 80%;
}

/*colors*/

.yellow {
	border-top-color: #eab526!important;
	border-bottom-color: #eab526!important;
}
.black {
	border-top-color: #131313!important;
	border-bottom-color: #131313!important;
}


/*shapes*/

.latest_page {
  background-image:url("../../../img/admin/bg_dark_mosaic.png");
  background-color:rgba(16, 16, 16, 0.9);
  background-attachment: fixed;
  overflow-y: auto;
  overflow-x:hidden;
}

.latest_page_cover {
  background-size: cover;
  background-attachment:fixed;
  background-position: center center!important;
  background-repeat: no-repeat;
  position: absolute;
  overflow-x:hidden;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  filter: alpha(opacity=30);
  -webkit-transition:opacity 0.66s ease-in-out 0s;
  -moz-transition:opacity 0.66s ease-in-out 0s;
  -o-transition:opacity 0.66s ease-in-out 0s;
  transition:opacity 0.66s ease-in-out 0s;  
}

.latest_page:hover .latest_page_cover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.latest_page_title {
  color:#ffc229;
  text-shadow: 4px 3px 0px rgba(0, 0, 0, 0.37);
  font-family: 'Rock Salt', cursive;
  letter-spacing: -0.05em;
  padding: 0;
  position: relative;
  z-index: 2;
}

.page {
	position: relative;
  overflow: hidden;
} 

.triangle-topleft { 
	width: 0;
	height: 0;
	border-top: 516px solid;
	border-right: 257px solid transparent;
	position: absolute;
  z-index: 1;
}
.triangle-bottomright {
	width: 0;
	height: 0;
	border-bottom: 516px solid;
	border-left:  257px solid transparent;
	position: absolute;
	bottom: 0;
	right: 0;
  z-index: 1;
}

/*menu*/
.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent;
  border: none;
  right: 5px;
  top: 15px;
  z-index: 1;
}

.navbar-toggle button {
  background: transparent;
  border: none;
  position: relative;
  top: 10px;
}

.navbar-toggle i {
  position: relative;
  z-index: 2;
}

#menu { 
	font-family: 'Oswald', sans-serif;/*la puse acá porque en Themedj.php no me la toma por defecto, eliminar de acá luego que este por defecto alla*/
	letter-spacing: 0.25em;
  position:fixed;
  bottom: 0;
  z-index:10;
  width:100%;
  margin: 0;
  background-color: #020202;
  color: #ffffff;
  border: none;
  line-height: 83px;
  font-size: 17px;
  text-transform: uppercase;
  border-radius: 0;
  -webkit-transition:all 0.66s ease-in-out 0s;
  -moz-transition:all 0.66s ease-in-out 0s;
  -o-transition:all 0.66s ease-in-out 0s;
  transition:all 0.66s ease-in-out 0s;
}
#menu .active { 
   color: #ffb740;
}
#menu span {
   transition: all 0.5s ease-in-out 0s;
    height: 4px;
    margin-bottom: 5px;
    width: 40px;   
}
#menu span:hover {
   color: #ffb740;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color:#ffc229;
}
.navbar-default .navbar-toggle:hover .icon-bar {
	background-color:#fff;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: transparent;
}
#menu .item {
  padding: 0 20px;
  display: inline-block;
  height: auto;
}

#menu .container {
  padding: 0;
  margin: 0;
  width:100%;
}

/*header*/
#page_profile {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow: hidden;
}
#page_profile .init {
  position: relative;
  z-index: 1;
  font-size:80px;
  width:100px;
  height:100px;
  padding: 40px;
  display: none;
  -webkit-transform: scale(1);
  -moz-transform:    scale(1);
  -ms-transform:     scale(1);
  -o-transform:      scale(1);
  transform:         scale(1);  
  -webkit-transition:all 0.89s ease 0s;
  -moz-transition:all 0.89s ease 0s;
  -o-transition:all 0.89s ease 0s;
  transition:all 0.89s ease 0s;
}
#page_profile .init:hover {
  color: #ffc229;
  -webkit-transform: scale(1.2);
  -moz-transform:    scale(1.2);
  -ms-transform:     scale(1.2);
  -o-transform:      scale(1.2);
  transform:         scale(1.2);
}
#page_profile h3 { 
	font-size: 150px;
	font-size: 7.9vw;
	text-shadow: 4px 3px 0px rgba(0, 0, 0, 0.37);
	font-family: 'Rock Salt', cursive;
	letter-spacing: -0.05em;
	padding: 0;
  position: relative;
  z-index: 1;
  -webkit-transition:all 0.89s ease 0s;
  -moz-transition:all 0.89s ease 0s;
  -o-transition:all 0.89s ease 0s;
  transition:all 0.89s ease 0s;
  -webkit-transform: scale(1) rotate(0deg);
  -moz-transform:    scale(1) rotate(0deg);
  -ms-transform:     scale(1) rotate(0deg);
  -o-transform:      scale(1) rotate(0deg);
  transform:         scale(1) rotate(0deg);  
}
#page_profile h3.hover { 
  color: #ffc229;
  background-color: rgba(0,0,0,0.3);
  -webkit-transform: scale(1.2) rotate(-2deg);
  -moz-transform:    scale(1.2) rotate(-2deg);
  -ms-transform:     scale(1.2) rotate(-2deg);
  -o-transform:      scale(1.2) rotate(-2deg);
  transform:         scale(1.2) rotate(-2deg);
}

.arrow-down {
  animation: 2s linear 0s normal none infinite hoverup;
  -webkit-animation: 2s linear 0s normal none infinite hoverup;
  -moz-animation: 2s linear 0s normal none infinite hoverup;
  -o-animation: 2s linear 0s normal none infinite hoverup;

  -webkit-transition:all 0.89s ease 0s;
  -moz-transition:all 0.89s ease 0s;
  -o-transition:all 0.89s ease 0s;
  transition:all 0.89s ease 0s;

  bottom: 100px;
  color: #fff!important;
  font-size: 47px;
  left: calc(50% - 24px);
  margin-left: -15px;
  position: absolute;
  z-index: 3;
}

.profile {
  padding-right: 20px;
  font-family: 'Rock Salt', cursive;
  float: left;
}

.content_thumbnail {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;

  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transform: none;
  -moz-transform:    none;
  -ms-transform:     none;
  -o-transform:      none;
  transform:         none;
  -webkit-transition: transform 0.2s ease 0s;
  -moz-transition: transform 0.2s ease 0s;
  -o-transition: transform 0.2s ease 0s;
  transition: transform 0.2s ease 0s;
}

.pageContentContainer {
  position: relative;
}

.pageContentContainer:hover .content_thumbnail {
  -webkit-transform: scale(1.2) rotate(10deg);
  -moz-transform:    scale(1.2) rotate(10deg);
  -ms-transform:     scale(1.2) rotate(10deg);
  -o-transform:      scale(1.2) rotate(10deg);
  transform:         scale(1.2) rotate(10deg);
}

.odd .pageContentContainer:hover .content_thumbnail {
  -webkit-transform: scale(1.2) rotate(-10deg);
  -moz-transform:    scale(1.2) rotate(-10deg);
  -ms-transform:     scale(1.2) rotate(-10deg);
  -o-transform:      scale(1.2) rotate(-10deg);
  transform:         scale(1.2) rotate(-10deg);
}

.pageContentContainer {
  display: block;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-decoration: none;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.pageContentContainer .overlay i {
  position: absolute;
  right: 22px;
  bottom: 10px;
  font-size: 45px;
  cursor: pointer;
  z-index: 3;
  color:#ffc229;
}

.pageContentContainer .overlay {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition:all 0.2s ease 0s;
  -moz-transition:all 0.2s ease 0s;
  -o-transition:all 0.2s ease 0s;
  transition:all 0.2s ease 0s;
}

.pageContentContainer:hover .overlay {
    opacity: 1;
    background-color:rgba(19, 19, 19, 0.85);
}

.pageContentContainer .overlay .overlay-inner {
  color:#ffc229;
  display:inline-block;
  font-size:36px;
  letter-spacing:0;
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  text-align:center;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  font-size:27px;
  padding: 10px;
  font-family: 'Oswald', sans-serif;
}
.pageContentContainer .overlay .overlay-inner h2 {
  font-family: 'Oswald', sans-serif;
  padding: 0px 30px;	
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;	
  margin-left: -10px;
  -webkit-transition:all 0.3s ease 0s;
  -moz-transition:all 0.3s ease 0s;
  -o-transition:all 0.3s ease 0s;
  transition:all 0.3s ease 0s;
}

.pageContentContainer:hover .overlay .overlay-inner h2 {
	margin-left: 0px;
}

.pageContentContainer .overlay .overlay-inner p {
	line-height:37px;
	 padding: 0px 30px;
	 text-overflow: ellipsis;
	 white-space: nowrap;
	  overflow: hidden;
	  font-size:27px;
	  margin: 0;
	  text-transform: lowercase;
	  margin-left: -10px;
	  -webkit-transition:all 0.3s ease 0s;
	  -moz-transition:all 0.3s ease 0s;
	  -o-transition:all 0.3s ease 0s;
	  transition:all 0.3s ease 0s;	  

}

.pageContentContainer:hover .overlay .overlay-inner p {
	margin-left: 0px;
}

    
.pageContentContainer .overlay .overlay-inner blockquote {
	border-left: none;
	margin: 0;
	padding:0;
	 text-overflow: ellipsis;
	 white-space: nowrap;
	  overflow: hidden;	
	  display: inherit;
}

.pageContentContainer .overlay .overlay-inner blockquote p {
	font-size: 20px;
}
.pageContentContainer .overlay .overlay-inner blockquote p a {
	margin: 0;
}
.pageContentContainer .overlay .overlay-inner strong {
	font-weight: 400;
	 text-overflow: ellipsis;
	 white-space: nowrap;
	  overflow: hidden;
	  display: inherit;		
}

.pageContentContainer .overlay .overlay-inner b {
	font-weight: 400;
	 text-overflow: ellipsis;
	 white-space: nowrap;
	  overflow: hidden;	
	  display: inherit;	
}
.pageContentContainer .overlay .overlay-inner p p {
    color: #f3f3f3;
    padding: 0px;
}
.pageContentContainer .overlay .overlay-inner p a {
    font-style: italic;
    text-decoration: underline;
    color: #f3f3f3!important;
    padding: 0px;
     margin: 0 10px;
}
.pageContentContainer .overlay .overlay-inner p a:hover {
    text-decoration: none;
}


/*about*/

#page_about { 
  background-color: #f3f3f3;
  overflow: hidden;
}
#page_about h3 { 
  color: #080808;
}

.auriculares  {
  background: url("../../../img/themes/dj/auriculares.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 162px;
  margin: 0 auto;
  position: relative;
  width: 160px;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: contain;
}
img.users-photo  {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid #ebb627;
  left: calc(50% - 80px);
  width: 160px;
  position: absolute;
  z-index: 1;
}
/*contact*/
#page_contact {
  overflow: hidden;
}
#page_contact form {
  max-width: 80%;
  margin: 0 auto;
}
#page_contact .btn {
  width: 100%; 
  height: 63px;
  font-size: 16px;
  color: #ffb740;
  background-color: #080808;
  text-transform: uppercase;
  border-radius: 0;
  font-weight: 600;
  border: 1px solid #2b2b2b;
}
#page_contact .btn:hover {
  color: #080808;
  border: 1px solid #FFB740;
  background-color: #ffb740;

}

.form-control {
  text-align: center;
  height: 63px;
  border-radius: 0;
  font-size: 16px;
  color: #f3f3f3;
  background-color: #080808;
  border: 1px solid #2b2b2b;
  

}
textarea.form-control {
    color: #f3f3f3;
}
.form-control:-moz-placeholder {
  text-align: center;
  color: #f3f3f3;
}

.form-control::-moz-placeholder {
  text-align: center;
  color: #f3f3f3;
}

.form-control:-ms-input-placeholder {
  text-align: center;
  color: #f3f3f3;
}

.form-control::-webkit-input-placeholder {
  text-align: center;
  color: #f3f3f3;
}
.form-control:focus {
  border-color: #efb526;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 1px rgba(239, 181, 38, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 1px rgba(239, 181, 38, 0.6);
}

/*footer*/

#page_footer {
  background-image:url("../../../img/admin/bg_dark_mosaic.png");
  background-color:rgba(16, 16, 16, 0.9);
  background-attachment: fixed;
  overflow-y: auto;
  overflow-x:hidden;
}

#page_footer span {
    color: #878787;
    display: inline-block;
    padding: 10px 0;
    text-align: left !important;
}
#page_footer li span {
    padding: 0;
}

#page_footer span:hover {
  color: #ffb740;
}

#page_footer .profile {
  color: #f3f3f3;
  margin: 10px 0;
  text-align: left!important;
}

#page_footer h4, #page_footer h5 { 
	text-align: left;
	color: #f3f3f3;
	font-family: "Oswald",sans-serif;
	text-transform: uppercase;
}

#page_footer h4 {
  color:#ffc229;
}

#page_footer .recent-content a { 
  display: block;
  float: left;
  margin-bottom: 5px;
  padding-right: 5px;
  -webkit-transition:all 0.1s ease-in-out 0s;
  -moz-transition:all 0.1s ease-in-out 0s;
  -o-transition:all 0.1s ease-in-out 0s;
  transition:all 0.1s ease-in-out 0s;
  width: 75px!important;
  height: 40px!important;
  overflow: hidden;
  opacity: 0.4;
}

#page_footer .recent-content a:hover { 
  -webkit-transform: scale(1);
  -moz-transform:    scale(1);
  -ms-transform:     scale(1);
  -o-transform:      scale(1);
  transform:         scale(1);
  opacity: 1;
}

#page_footer .links {
  text-align: left;
  width: 100%;
  display: block;
  margin-bottom: 30px !important;
}

#page_footer .links h4 {
  display: inline-block;
}

#page_footer .links li {
  text-align: left;
  display: inline-block;
  padding: 5px;
}

#page_footer .social {
  max-height: 270px;
  display: block;
  overflow-y: auto;
}

#page_footer .social li {
  display: block;
  float: left;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
}

#page_footer .social li a {
  color: #878787!important;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
}

#page_footer .profileImage {
  position: relative;
  z-index: 2;
  height: 50px;
  max-width: 100%;
  border: 2px solid rgba(255, 194, 41,0.8);;
}

#page_footer .recent {
  max-width: 270px;
  max-height: 270px;
  overflow-y:auto;
}

#page_footer .content-section {
  width: calc(50% - 50px);
  float: left;
  margin: 25px;
  border-radius: 20px;
  border-left: 1px dashed cyan;
  border-color: #19151F #ffc229;
  padding: 25px;
  -webkit-transition:all 0.56s ease 0s;
  -moz-transition:all 0.56s ease 0s;
  -o-transition:all 0.56s ease 0s;
  transition:all 0.56s ease 0s;
}

#page_footer .content-section:hover {
  background-color: rgba(0,0,0,0.2);
}


/* Detail */
#page_detail {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  -webkit-transition:all 0.2s ease 0s;
  -moz-transition:all 0.2s ease 0s;
  -o-transition:all 0.2s ease 0s;
  transition:all 0.2s ease 0s;
  background-color: #f3f3f3;
  z-index: 3;
}

#page_detail i.controlNext,
#page_detail i.controlPrev,
#page_detail i.controlClose {
  padding: 15px;
  color:#f3f3f3;
  font-size: 20px;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  background-color:#131313;
}

#page_detail i.controlNext:hover,
#page_detail i.controlPrev:hover,
#page_detail i.controlClose:hover {
  background-color: #ffc229;
  color:#131313;
}

.detail_container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  left: 10%;
  top:10%;
  -webkit-transition:opacity 0.4s linear;
  -moz-transition:opacity 0.4s linear;
  -o-transition:opacity 0.4s linear;
  transition:opacity 0.4s linear;
  background-color: #f3f3f3;
}

.detail_container .stats {
  min-height: 50px;
}

.detail_container .stat {
  font-size:40px;
  margin-left: 25px;
  display: inline-block;
}

.detail_container .photo .controls_photo {
  position:absolute;
  width:70%;
  top:calc(50% - 50px);
  left:0;
  z-index:2;
}

.content_caption .event_map {
  color: #ffc229!important;
  padding: 5px 12px;
}

.detail_container iframe,
.detail_container object,
.detail_container embed,
.detail_container video,
.detail_container audio,
.detail_container .photo,
.detail_container .event,
.detail_container .post {
  position: relative;
  top:0;
  left: 0;
  height: 400px;
  width: 100%;
  background-color: #131313;
  display: inline-block;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.detail_container .player {
  width: 70%;
  background-color: #f3f3f3;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.content_caption {
  width: 30%;
  height: 400px;
  text-align: left;
  position: relative;
  z-index: 3;
  padding:20px;
  font-size: 15px!important;
  text-overflow:ellipsis;
  padding: 10px;
  color:#fff;
  background-color: #131313;
  font-family: 'Oswald', sans-serif;
  overflow-y: hidden;
  -webkit-transition:all 0.5s ease-in-out 0s;
  -moz-transition:all 0.5s ease-in-out 0s;
  -o-transition:all 0.5s ease-in-out 0s;
  transition:all 0.5s ease-in-out 0s;
  opacity: 1;
  filter: alpha(opacity=1);
}

.content_caption i {
  font-size: 40px;
  line-height: 23px;
  margin: 0 15px;
}

.content_caption * {
  display: inline-block;
  border: none;
  background: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
}

.content_caption h1,
.content_caption h2,
.content_caption h3 {
  margin: 10px auto;
  font-size: 30px!important;
  display: block!important;
  letter-spacing: 0.1em;
  font-family: 'Oswald', sans-serif;
  padding: 0 10px;
}

.content_caption p a {
  color: #fff;
  font-style: italic;
}
.content_caption p {
  margin: 0;
  font-size: 15px!important;
  padding: 0 10px;
  font-style: italic;
  line-height: 21px;
  font-family: 'Open Sans', sans-serif;



}
.content_caption blockquote small {
  color: #fff;
}

.account_profile {
  height:40px;
  width: 40px;
  max-width: 100%;
  border-radius:50%!important;
  border-width: 2px!important;
  border-style: solid!important;
  border-color:#ffc229!important;
  margin-bottom: 15px!important;
}

.more {
  color: #fff;
  text-transform: uppercase;
  font-family: "Oswald",sans-serif;
  position: relative;
  z-index: 2;
}


/*fb iframe*/
.fbFeedbackContent .composer {
	border: none!important;
	background-color:rgba(19, 19, 19, 1)!important;
}

.detail_container .comments iframe {
  background-color: transparent;
}

.comments_container {
    font-family: "Oswald",sans-serif;
    font-size: 15px;
    line-height: 35px;
}
.fbConnectWidgetFooter .fbFooterBorder {
	border:none!important;
}

/* Sliders */
.list_carousel {
  margin: 0 auto;
}

.list_carousel li {
  padding: 0;
  margin: 0px 6px 0 5px;
  display: block;
  float: left;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
}

.prev, .next {
  position: absolute;
  z-index: 3;
  width:30px;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.prev {
  left: 0;
  text-align: left;
  background-image:url("../../../img/themes/dj/prev-big.png");  
}

.next {
  right: 0;
  text-align: right;
  background-image:url("../../../img/themes/dj/next-big.png");  
}

#prev_related, .photo .prev {
  background:none;
  height: 100px;
  top:calc(50% - 50px);
  color: #fff!important;
  text-align: center;
}

#next_related, .photo .next {
  background:none;
  height: 100px;
  top:calc(50% - 50px);
  color: #fff!important;
  text-align: center;
}

.prev i,.next i {
  position: relative;
  font-size: 20px;
  top:calc(50% - 10px);
}

.prev i:hover, .next i:hover {
	color:#ffc229;
}

.carousel_container {
  width: 100%;
  overflow: hidden;
}

.caroufredsel_wrapper {
  width: auto!important;
  position: relative;
  overflow: hidden;
  height:100%!important;
}

.relateds {
  position: relative;
  text-align: center;
  background-color: #131313;
  height: 180px;
  overflow: hidden;
}

.relateds .carousel_container {
  width: calc(100% - 120px)!important;
  position: relative;
  margin: 40px 0!important;
  height: 100px;
  left: 60px;
}

.relateds .list_carousel li { 
  width: 100px;
  height: 100px;
}

.relateds .list_carousel li i { 
  font-size: 20px;
  position:relative;
  top:calc(50% - 10px);
  left:calc(50% - 10px);
  color:#f3f3f3;
}

.relateds .list_carousel li a {
    background-color: rgba(0, 0, 0, 0.6);
    display: block;
    height: 100%;
    width: 100% !important;
}
.relateds .list_carousel li a:hover {
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
    filter: alpha(opacity=0);    
}

/*page_track*/

#page_track {
  background: url("../../../img/themes/dj/bg_music.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #f3f3f3;
}

#page_track .content {
  position: static;
}

#page_track h3 {
  color: #f3f3f3;
}

#page_track .prev {
  left: 30px;
}

#page_track .next {
  right: 30px;
}

#page_track .content_thumbnail {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}

#page_track .more {
  font-size: 30px;
  padding: 0;
  margin: 0;
}
#page_track .more i {
  font-size: 40px;
  color: #fff;
}

#page_track img.users-photo {
  top: 0;
  left: 0;
  position: relative;
  margin-top: 40px;
  background-color:rgba(19, 19, 19, 0.85);
}

#page_track .caroufredsel_wrapper, #page_track #track_list {
	height:100%!important;
}

/*page_video*/

#page_video {
  /*background: url("../../../img/themes/dj/bg_footer.jpg") no-repeat center center fixed;*/
  background-color: #f3f3f3;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

#page_video .content {
  position: static;
}

#page_video h3 { 
  color: #080808;
}

#page_video .prev {
  left: 30px;
}

#page_video .next {
  right: 30px;
}

#page_video .content_thumbnail {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}

#page_video .more {
  font-size: 30px;
  padding: 0;
  margin: 0;
}

#page_video .more i {
  font-size: 40px;
  color: #fff;
}

#page_video img.users-photo {
  top: 0;
  left: 0;
  position: relative;
  margin-top: 40px;
  background-color:rgba(19, 19, 19, 0.85);
}

#page_video .caroufredsel_wrapper, #page_video #video_list {
	height:100%!important;
}

/*page_photo*/

#page_photo { 
  background: url("../../../img/themes/dj/bg_gallery.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

#page_photo .content {
  padding: 0 10px;
}

#page_photo ul { 
  text-align: left;
  overflow-y: auto;
  overflow-x:hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

#page_photo ul li {
  position: relative;
  width: 25%;
  height: 200px;
  display: inline-block;
  overflow: hidden;
}

#page_photo .content_thumbnail {
  width: 100%;
}

#page_photo .pageContentContainer:hover .content_thumbnail {
  -webkit-transform: scale(1.2);
  -moz-transform:    scale(1.2);
  -ms-transform:     scale(1.2);
  -o-transform:      scale(1.2);
  transform:         scale(1.2);
  -webkit-transition: transform 0.3s ease 0s;
  -moz-transition: transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;  
}


/*page_event*/

#page_event { 
  background-color: #f3f3f3;
}
#page_event h3 { 
  color: #080808;
}
#page_event .content {
  padding: 0 10px;
  background-color: #131313;
  padding: 32px 23px;
  position: relative;
}

#page_event .content_thumbnail {
  width: 100%;

  -webkit-transform: scale(1) rotate(0deg);
  -moz-transform:    scale(1) rotate(0deg);
  -ms-transform:     scale(1) rotate(0deg);
  -o-transform:      scale(1) rotate(0deg);
  transform:         scale(1) rotate(0deg);

  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;  
}

#page_event .event_menu {
  width: 180px;
  height: 100%;
  font-family: "Oswald",sans-serif;
}

#page_event .event_menu ul {
  margin-bottom: 10px !important;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

#page_event .event_menu ul li {
  border-bottom: 1px solid #1c1c1c;
  height: 120px;
  overflow: hidden;
  background-image: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.4;
  -webkit-transition:opacity 0.2s ease-in-out 0s;
  -moz-transition:opacity 0.2s ease-in-out 0s;
  -o-transition:opacity 0.2s ease-in-out 0s;
  transition:opacity 0.2s ease-in-out 0s;
}

#page_event .event_menu ul li.active {
  opacity: 1;
}

#page_event .event_menu ul li:hover {
  opacity: 1;
}

#page_event .event_menu ul li .event-date-day {
  line-height: 30px;
  margin: 0;
}

#page_event .event_menu ul li .event-date-container {
  position: relative;
  color: #ffc229;
  text-align: left;
  margin-left:0px;
  display: block;
  padding: 10px 13px 10px 0;
  letter-spacing: 0.05em;
}

#page_event .event_menu ul li.active .event-date-container {
    border-left: 5px solid #ffc229;
    height: 120px;
    padding-left: 10px;
    cursor: auto;
    background-color: rgba(28, 28, 28, 0.3);
}
#page_event .event_menu ul li:hover  {
    padding-left: 10px;
}
#page_event .event_menu ul li.active:hover  {
    padding-left: 0px;
}
#page_event .event_menu ul li.active:hover .event-date-container  {
    padding-left: 10px;
}
#page_event .event_menu ul li .event-date-long {
  color: #f3f3f3;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  line-height: 17px;
  font-weight: 400;
}

#page_event .event_container {
  width: calc(100% - 180px);
  height: 100%;  
  padding-left: 20px;
}

#page_event .overlay-inner {
  background-color: rgba(28,28,28,0.3);
}

#page_event .event_menu .more {
  color: #fff;
  float: right;
  text-transform: uppercase;
  font-family: "Oswald",sans-serif;
}

/*page_post*/

#page_post ul {
  text-align: left;
  overflow-y: auto;
  overflow-x:hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 2;
}

#page_post ul li {
  position: relative;
  width: 100%;
  height: calc(50% - 20px);
  display: block;
  overflow: hidden;
  margin: 10px;
  background-color: rgba(0,0,0,0.7);
}

#page_post ul li.odd {
  background-color: rgba(0,0,0,0.3);
}

#page_post ul li .content_thumbnail {
  width: 250px;
  height: 100%;
  position: relative;
}

#page_post .pageContentContainer:hover .content_thumbnail {
  -webkit-transform: scale(1);
  -moz-transform:    scale(1);
  -ms-transform:     scale(1);
  -o-transform:      scale(1);
  transform:         scale(1);
  -webkit-transition: transform 0.3s ease 0s;
  -moz-transition: transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;  
}

#page_post ul li .content_caption {
  margin-left: 25px;
  background: transparent;
  height: 100%;
  display: block;
  width: calc(100% - 280px);
  padding-right: 40px;
}

#page_post ul li .content_caption > h2, #page_post ul li i {
  color: #ffb740;
}

#page_post ul li i {
  bottom: 20px;
  position: absolute;
  left: 20px;
  z-index: 4;
  font-size: 45px;
  cursor: pointer;
}

#page_post ul li .content_caption * {
  background: transparent;
  display: initial;
}

#page_post .more:hover {
  color:initial;
}

/* Generics */

.cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  
}


/* Animations */

@keyframes hoverup {
  0%, 100% {
      transform: translateY(0px);
  }
  50% {
      transform: translateY(10px);
  }
}
@-moz-keyframes hoverup {
  0%, 100% {
      transform: translateY(0px);
  }
  50% {
      transform: translateY(10px);
  }
}
@-o-keyframes hoverup {
  0%, 100% {
      transform: translateY(0px);
  }
  50% {
      transform: translateY(10px);
  }
}
@-webkit-keyframes hoverup {
  0%, 100% {
      transform: translateY(0px);
  }
  50% {
      transform: translateY(10px);
  }
}