body {
  color: #080808; 
  overflow: hidden;
  -webkit-transition:all 0.66s ease;
  -moz-transition:all 0.66s ease;
  -o-transition:all 0.66s ease;
  transition:all 0.66s ease;
  background-color: #131313;
  font-family: 'Open Sans', sans-serif;/*la puse acá porque en Themedj.php no me la toma por defecto, eliminar de acá luego que este por defecto alla*/
  font-weight: 200;
}

* {
    scrollbar-face-color: #000000;
    scrollbar-shadow-color: #2D2C4D;  
    scrollbar-highlight-color:#7D7E94;  
    scrollbar-3dlight-color: #7D7E94;  
    scrollbar-darkshadow-color: #2D2C4D; 
    scrollbar-track-color: #7D7E94;  
    scrollbar-arrow-color: #C1C1D1;
    outline: none;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

*[ ng-click ] {
  cursor: pointer ;
}

*::-moz-selection{
   background-color: #efb526;
   color: #131313;
}

*::selection {
   background: #efb526;
   color: #131313;
}
img {
  max-width: 100%;
}

a,a:hover,a:active,a:focus,
img,img:hover,img:active,img:focus {
    outline: none;
}

a,a:hover,a:active,a:focus {
  outline: none;
  text-decoration: none;
}

.app {
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.both {
  clear: both;
}

.inline {
  display: inline-block;
}

.left {
  float: left;
}

.right {
  float: right;
}

.well {
  background-color: transparent;
}

.img-circle {
  border-radius:50%;
}

ul {
  list-style-type: none;
  padding:0!important;
  margin:0!important;
}

.next {
  float: right;
}

.prev {
  float: left;
}

a { 
  text-decoration:none; 
  color: #000!important;
  outline: 0;
  border: none;
  transition: all 0.5s ease;
}

a:hover, a:active, a:focus, iframe, object, embed, audio, video input::-moz-focus-inner {
  outline: 0;
  border: 0;
}

a:hover 
{ 
  text-decoration: none; 
  color: #efb526;

}

button {
	 transition: all 0.5s ease;
}

h3 {
   font-size: 30px;	
   color: #ffffff;
   text-transform: uppercase;
   text-align: center;
   margin: 0;
   font-family: 'Oswald', sans-serif;
   letter-spacing: 0.2em;
   padding: 45px 5px;
}

p {
	font-size: 20px;
	line-height: 40px;
}
.overlay_cover {
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
  transition:all 0.5s ease;
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
  filter: alpha(opacity=30);
  z-index: 1;
  background-size:cover;
  background-position: center;
}

.overlay_photo {
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
  transition:all 0.5s ease;
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity:1;
  filter: alpha(opacity=100);
  z-index: 1;
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
}

.content_caption {
  text-align: left;
  position: relative;
  z-index: 3;
  padding:20px;
  font-size: 15px!important;
  text-align: center;
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
  transition:all 0.5s ease;
  opacity: 1;
  filter: alpha(opacity=1);
}

.content_caption i {
  font-size: 40px;
  line-height: 23px;
  margin: 0 15px;
}

.content_caption * {
  display: inline-block;
  border: none;
  background: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
}

.content_caption h1,
.content_caption h2,
.content_caption h3 {
  margin: 0 auto;
  font-size: 20px!important;
  display: block!important;
}

.content_caption p a {
  color: #fff;
  font-style: italic;
}
.content_caption p {
  margin: 0;
  font-size: 13px!important;
  padding: 0 20px;
  font-style: italic;

}
.content_caption blockquote small {
  color: #fff;
}

.content {
	max-width: 1120px;
	margin: 0 auto;
}

/*colors*/

.yellow {
	border-top-color: #eab526!important;
	border-bottom-color: #eab526!important;
}
.black {
	border-top-color: #131313!important;
	border-bottom-color: #131313!important;
}
/*shapes*/
.page { 
	position: relative;
} 

.triangle-topleft { 
	width: 0;
	height: 0;
	border-top: 516px solid;
	border-right: 257px solid transparent;
	position: absolute;
}
.triangle-bottomright { 
	width: 0;
	height: 0;
	border-bottom: 516px solid;
	border-left:  257px solid transparent;
	position: absolute;
	bottom: 0;
	right: 0;
}

/*menu*/
#menu { 
	font-family: 'Oswald', sans-serif;/*la puse acá porque en Themedj.php no me la toma por defecto, eliminar de acá luego que este por defecto alla*/
	letter-spacing: 0.25em;
  position:fixed;
  bottom:0;
  z-index:10;
  width:100%;
  margin: 0;
  background-color: #020202;
  color: #ffffff;
  line-height: 83px;
  font-size: 17px;
  text-transform: uppercase;
}
#menu .active { 
   color: #ffb740;	
}
#menu span {
   transition: all 0.5s ease;
}
#menu span:hover {
   color: #ffb740;
}
#menu .item {
  padding: 0 30px;
  display: inline-block;
}


/*header*/
#page_profile {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
#page_profile h3 { 
	font-size: 150px;
	font-size: 7.9vw	;
	text-shadow: 4px 3px 0px rgba(0, 0, 0, 0.37);
	font-family: 'Rock Salt', cursive;
	letter-spacing: -0.05em;
	padding: 0;
}
.arrow-down {
    animation: 2s linear 0s normal none infinite hoverup;
    -webkit-animation: 2s linear 0s normal none infinite hoverup;
    -moz-animation: 2s linear 0s normal none infinite hoverup;
    -o-animation: 2s linear 0s normal none infinite hoverup;

    bottom: 100px;
    color: #fff!important;
    font-size: 47px;
    left: 50%;
    margin-left: -15px;
    position: absolute;
    z-index: 25;
}

.profile {
  padding-right: 20px;
  font-family: 'Rock Salt', cursive;
}

/*tracks*/

#page_track { 
  background: url("../../../img/themes/dj/bg_music.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*page_video*/

#page_video {
  background-color: #f3f3f3;
}
#page_video h3 { 
  color: #080808;
}

/*page_photo*/

#page_photo { 
  background: url("../../../img/themes/dj/bg_gallery.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

#page_photo ul { 
  text-align: left;
}

/*page_event*/

#page_event { 
  background-color: #f3f3f3;
}
#page_event h3 { 
  color: #080808;
}

/*page_post*/


/*about*/

#page_about { 
  background-color: #f3f3f3;
}
#page_about h3 { 
  color: #080808;
}
.auriculares  {
    background: url("../../../img/themes/dj/auriculares.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 262px;
    left: 43%;
    margin: 0 auto;
    position: absolute;
    width: 259px;
}
img.users-photo  {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid #ebb627;
    left: 43%;
    width: 260px;
    position: absolute;	
}
#page_about .content-info {
	margin-top: 300px;
}
/*contact*/
#page_contact form {
  margin-top: 28px;
}
#page_contact .btn {
  width: 100%; 
  height: 63px;
  font-size: 16px;
  color: #ffb740;
  background-color: #080808;
  text-transform: uppercase;
  border-radius: 0;
  font-weight: 600;
  border: 1px solid #2b2b2b;
}
#page_contact .btn:hover {
  color: #080808;
  border: 1px solid #FFB740;
  background-color: #ffb740;

}

.form-control {
  text-align: center;
  height: 63px;
  border-radius: 0;
  font-size: 16px;
  color: #f3f3f3;
  background-color: #080808;
  border: 1px solid #2b2b2b;
  

}
textarea.form-control {
    min-height: 164px;
    color: #f3f3f3;
}
.form-control:-moz-placeholder {
  text-align: center;
  color: #f3f3f3;
}

.form-control::-moz-placeholder {
  text-align: center;
  color: #f3f3f3;
}

.form-control:-ms-input-placeholder {
  text-align: center;
  color: #f3f3f3;
}

.form-control::-webkit-input-placeholder {
  text-align: center;
  color: #f3f3f3;
}
.form-control:focus {
  border-color: #efb526;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 1px rgba(239, 181, 38, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 1px rgba(239, 181, 38, 0.6);
}
.form-group {
    margin-bottom: 28px;
}

/*footer*/

#footer { 
  background: url("../../../img/themes/dj/bg_footer.jpg") no-repeat center center; 
  height: 137px;
}

/* Sliders */
.rows-slider-wrap {
  width:100%;margin:50px auto 40px auto;position:relative;padding:0 40px 10px 65px;outline:0
}
.rows-slider-wrap_adaptive {
  padding:0 90px 10px;
  width:auto;
  min-width:230px;
}
.rows-slider-wrap:after {
  position:absolute;
  height:1px;
  background-color:#000;
  left:0;
  right:0;
  bottom:-20px;
  content:'';
}
.rows-slider-wrap li {
  display:inline-block;
  width:221px;
  height:165px;
  margin:0 10px 10px 0;
  cursor:pointer;
  vertical-align:top;
  position:relative;-
  webkit-perspective:1000;
  overflow:hidden;
}
.rows-slider-wrap li>div {
  position:relative;
  overflow:hidden;
  width:221px;
  height:165px;
  display:table-cell;
  vertical-align: middle;
  background-color:rgba(27, 21, 16, 0.5);
}
.rows-slider-wrap li span {
  color:#0a1402;
  display:inline-block;
  font-size:36px;
  letter-spacing:0;
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  text-align:center;
  line-height:165px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  font-size:17px;
  padding: 10px;
  font-family: 'Oswald', sans-serif;
}
.text {
  bottom:0 !important;
  top:auto !important;
  line-height:normal !important;
  background-color:rgba(230, 127, 77, 0.7);
}
.rows-slider__controls-left,.rows-slider__controls-right {
  width:59px;
  height:63px;
  position:absolute;
  top:50%;
  margin-top:-35px;
  cursor:pointer;
  overflow:hidden;
  display:inline-block;
  z-index:1
}
.rows-slider__controls-left {
  background:url("../../../img/themes/dj/prev.png");
  left:0;
  background-position: center;
  background-repeat: no-repeat;
  background-color:rgba(230, 127, 77, 0.7);
}
.rows-slider__controls-right {
  background:url("../../../img/themes/dj/next.png");
  right:0;
  background-position: center;
  background-repeat: no-repeat;
  background-color:rgba(230, 127, 77, 0.7);
}
.rows-slider__controls_disabled {
  cursor:default
}
.rows-slider__controls-right.rows-slider__controls_disabled {
  background:none;left:0;
}
.rows-slider__controls-left.rows-slider__controls_disabled {
  background:none;left:0;
}


/* Animations */

@keyframes hoverup {
  0%, 100% {
      transform: translateY(0px);
  }
  50% {
      transform: translateY(10px);
  }
}
@-moz-keyframes hoverup {
  0%, 100% {
      transform: translateY(0px);
  }
  50% {
      transform: translateY(10px);
  }
}
@-o-keyframes hoverup {
  0%, 100% {
      transform: translateY(0px);
  }
  50% {
      transform: translateY(10px);
  }
}
@-webkit-keyframes hoverup {
  0%, 100% {
      transform: translateY(0px);
  }
  50% {
      transform: translateY(10px);
  }
}
