@media (max-width: 768px) {

	.detail_container .player, .detail_container .overlay_photo {
	  width: 100%;
	}

	.detail_container .content_caption {
		height: auto;
		width: 100%;
		float: none;
	}

	.detail_container iframe,
	.detail_container object,
	.detail_container embed,
	.detail_container video,
	.detail_container audio,
	.detail_container .photo,
	.detail_container .event,
	.detail_container .post {
		float: none;
	}

	#page_event .content {
	    overflow: hidden;
	    height: auto;
	}

	#page_post ul  {
		max-height:100%;
	}

	#page_post ul li {
	  height: auto;
	}

	#page_post ul li i	{
		left:auto;
		right:22px;
	}

	#page_post ul li .content_thumbnail {
	  width: 100%;
	  height:200px;
	}

	#page_post ul li .content_caption {
		width: 100%;
		margin: 0;
		padding: 0;
		padding: 20px 20px;
	}

	#page_post ul li .content_caption > h2, #page_post ul li i {
	  color: #ffb740;
	  font-size: 16px!important;
	}

	#page_post ul li .content_caption > p, #page_post ul li .content_caption > p {
		font-size: 12px!important;
		display:block;
	}

	#page_photo ul li {
		width: 50%;
	}
}

@media (max-width: 480px) {
	#page_track img.users-photo, #page_video img.users-photo {
		width: 100px;
	}

	.content-seccion {
		width: 100%;
	}	

	#page_footer .links li {
		float: left;
		margin: 5px;
	}

	#page_footer .social {
		height: 100%;
	}

	#page_photo ul li {
		width: 100%;
	}

	#page_event .event_menu {
		width: 100%;
	}

	#page_event .event_menu ul {
		width: 100%;
	}

	#page_event .event_container {
		display: none;
	}
}
