@media (max-width: 768px) {

	.detail_container .player, .detail_container .overlay_photo {
	  width: 100%;
	}

	.detail_container .content_caption {
		height: auto;
		width: 100%;
		float: none;
	}

	.detail_container iframe,
	.detail_container object,
	.detail_container embed,
	.detail_container video,
	.detail_container audio,
	.detail_container .photo,
	.detail_container .event,
	.detail_container .post {
		float: none;
	}

	#page_event .content {
	    overflow: hidden;
	    height: auto;
	}
	#page_post ul li {
		height: auto;
	}	
	#page_post ul li .content_thumbnail	{
		width: 100%;
	}
	#page_post ul li .content_caption {
	    height: auto;
	    margin-left: 25px;
	    padding: 20px 30px 55px 0;
	    width: calc(100% - 40px);
	}

}

@media (max-width: 480px) {
	#page_video .list_carousel li, .video_thumbnail {
		width:  200px;
		height: 200px;
	}

	.content-seccion {
		width: 100%;
	}	
	
}