*[ ng-click ] {
    cursor: pointer ;
}

.center {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.both {
  clear: both;
}

.hide {
  display: none;
}

.next {
  float: right;
}

.prev {
  float: left;
}

/* Admin */
.socialIcon {
  width: 20px;
}

.adminThemeMenu {
  position:absolute;
  top:0;
  left:0;
  z-index:1040;
  display:inline-block;
  width:auto;
  height:auto;
  overflow:hidden;
  padding: 0;
  margin: 0;
  color:white;
}

.adminThemeMenu .active {
  border-bottom: 1px solid white;
}

.pagefilter ul {
  padding: 0;
  margin: 0;
}

.pagefilter li {
  padding: 4px;
}