*[ ng-click ] {
    cursor: pointer ;
}

.center {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.both {
  clear: both;
}

.hide {
  display: none;
}

.next {
  float: right;
}

.prev {
  float: left;
}


#config {
    background: none repeat scroll 0 0 #F9F9F9;
    color: #213442 !important;
    font-size: 12px;
    line-height: 21px;
    position: absolute;
    text-transform: uppercase;
    top: 10%;
    z-index: 9000;
    transition:all 0.66s ease 0s;
    text-align: left;
    left:-300px;
}

#config .control {
    background: url("../../../img/config.png") no-repeat scroll center center #F9F9F9;
    display: block;
    height: 51px;
    position: absolute;
    text-indent: -9999px;
    top: 10%;
    width: 51px;
    outline: none;
    border: none;
}

#config .inside {
  padding: 10px;
  width: 300px;
}


/* Admin */
.socialIcon {
  width: 20px;
}

.active {
  border-bottom: 1px solid black;
}

.pagefilter ul, .contentsize ul {
  padding: 0;
  margin: 0;
}

.pagefilter li, .contentsize li {
  padding: 10px 10px 10px 0;
}