@media (max-width: 480px) {

  #container .small {
  width: calc(100% - 20px);
  }
  #container .medium {
  width: calc(100% - 20px);
  }
  #container .large {
  width: calc(100% - 20px);
  }
  #container .xlarge {
  width: calc(100% - 20px);
  }

  .navbar ul li {
    margin-bottom: 10px;
  }

  h1 a {
    font-size: 22px!important;
    line-height: 18px!important;
  }

  #container {
    width: 80%;
    left: 10%;
  }

  .arrows {
    width: 10%;
  }  

}

@media (min-width: 481px) and (max-width: 768px) {

  #container .small {
  width: calc(49% - 20px);
  }
  #container .medium {
  width: calc(49% - 20px);
  }
  #container .large {
  width: calc(72% - 20px);
  }
  #container .xlarge {
  width: calc(100% - 20px);
  }

  h1 a {
    font-size: 22px!important;
    line-height: 18px!important;
  }

  #container {
    width: 80%;
    left: 10%;
  }

  .arrows {
    width: 10%;
  }  
}

@media (min-width: 769px) and (max-width: 1024px) {

  #container .small {
    width: calc(49% - 20px);
  }
  #container .medium {
    width: calc(49% - 20px);
  }
  #container .large {
    width: calc(72% - 20px);
  }
  #container .xlarge {
    width: calc(100% - 20px);
  }

}

@media (min-width: 1025px) and (max-width: 2048px) {

  #container .small {
    width: calc(16% - 20px);
  }
  #container .medium {
    width: calc(25% - 20px);
  }
  #container .large {
    width: calc(33% - 20px);
  }
  #container .xlarge {
    width: calc(49% - 20px);
  }

}