@media (max-width: 480px) {

  #container .small {
  width: 97%;
  }
  #container .medium {
  width: 97%;
  }
  #container .large {
  width: 97%;
  }
  #container .xlarge {
  width: 97%;
  }

  .navbar ul li {
    margin-bottom: 10px;
  }

  h1 a {
    font-size: 22px!important;
    line-height: 18px!important;
  }

  #container {
    width: 80%;
    left: 10%;
  }

  .arrows {
    width: 10%;
  }  

}

@media (min-width: 481px) and (max-width: 768px) {

  #container .small {
  width: 47%;
  }
  #container .medium {
  width: 47%;
  }
  #container .large {
  width: 72%;
  }
  #container .xlarge {
  width: 97%;
  }

  h1 a {
    font-size: 22px!important;
    line-height: 18px!important;
  }

  #container {
    width: 80%;
    left: 10%;
  }

  .arrows {
    width: 10%;
  }  
}

@media (min-width: 769px) and (max-width: 1024px) {

  #container .small {
    width: 47%;
  }
  #container .medium {
    width: 47%;
  }
  #container .large {
    width: 72%;
  }
  #container .xlarge {
    width: 97%;
  }

}

@media (min-width: 1025px) and (max-width: 2048px) {

  #container .small {
    width: 15%;
  }
  #container .medium {
    width: 24%;
  }
  #container .large {
    width: 32%;
  }
  #container .xlarge {
    width: 49%;
  }

}