@media (max-width: 480px) {

  #container .small {
  width: 97%;
  }
  #container .medium {
  width: 97%;
  }
  #container .large {
  width: 97%;
  }
  #container .xlarge {
  width: 97%;
  }

  .navbar ul li {
    margin-bottom: 10px;
  }

  h1 a {
    font-size: 22px!important;
    line-height: 18px!important;
  }

  #container {
    width: 80%;
    left: 10%;
  }

  .arrows {
    width: 10%;
  }  

}

@media (min-width: 481px) and (max-width: 768px) {

  #container .small {
  width: 47%;
  }
  #container .medium {
  width: 47%;
  }
  #container .large {
  width: 72%;
  }
  #container .xlarge {
  width: 97%;
  }

  h1 a {
    font-size: 22px!important;
    line-height: 18px!important;
  }

  #container {
    width: 80%;
    left: 10%;
  }

  .arrows {
    width: 10%;
  }  
}

@media (min-width: 769px) and (max-width: 1024px) {

  #container .small {
    width: 47%;
  }
  #container .medium {
    width: 47%;
  }
  #container .large {
    width: 72%;
  }
  #container .xlarge {
    width: 97%;
  }

}

@media (min-width: 1025px) and (max-width: 2048px) {

  #container .small {
    width: 15%;
  }
  #container .medium {
    width: 24%;
  }
  #container .large {
    width: 32%;
  }
  #container .xlarge {
    width: 49%;
  }

}

.content_photo {
  -webkit-transition:all 0.56s ease;
  -moz-transition:all 0.56s ease;
  -o-transition:all 0.56s ease;
  transition:all 0.56s ease;
}


.content img {
  width: 100%;
  height: auto;
  /*
  max-width: 100%;
  width:auto;
  */
}

.post img {
  max-width: 100%;
  width:auto;  
}

.modalContent {
  -webkit-transition:all 0.56s ease;
  -moz-transition:all 0.56s ease;
  -o-transition:all 0.56s ease;
  transition:all 0.56s ease;  
  position: relative;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url("http://cloudcial.com/img/themes/digest/bg.png") repeat 0 0 #fff;
  background-color: #F7F7F7;
  z-index: 2;
}

.cloudcial_bg:hover {
  background-color: #2D2E26;
  color:#5AC3C4;  
}

.cloudcial_color:hover {
  color:#8254BA;
}

.facebook_bg:hover {
  background-color: #3b5998;
}
.facebook_color:hover {

  color:#fff;
}

.soundcloud_bg:hover {
  background-color: #ff4c00;
}

.soundcloud_color:hover {
  color:#000;
}

.tumblr_bg:hover {
  background-color: #385774;
}

.tumblr_color:hover {
  color:#fff;
}

.twitter_bg:hover {
  background-color: #00b0ed;
  border-color: #00b0ed;
  border-width: 10px;
}

.twitter_color:hover {
  color:#fff; 
}

.youtube_bg:hover {
  background-color: #bc2c28;
}

.youtube_color:hover {
  color:#fff;
}

.vimeo_bg:hover {
  background-color:#44bbff;
}

.vimeo_color:hover {
  color:#fff;
}

.mixcloud_bg:hover {
  background-color: #284450;
}

.mixcloud_color:hover {
  color:#fff;
} 


/* Next/Prev content */

.navigatorContent {
  min-height: 100%;
  min-width:1%;
}

.content_shadow {
  box-shadow: 0 3px 5px #444444;
}

#container .photo,
#container .post,
#container .track,
#container .video,
#container .chat,
#container .quote {
  position: relative;
  text-align: center;
}

.boxed {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
  -moz-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
  box-shadow: 0 1px 3px rgba(34,25,25,0.4);
}

.footer {
  position: fixed;
  display: block;
  top:100%;
  -webkit-transition:all 0.66s ease;
  -moz-transition:all 0.66s ease;
  -o-transition:all 0.66s ease;
  transition:all 0.66s ease;  
}

.scrollToTop, .user_message {
  position: relative;
  top:-100%;
  -webkit-transition:all 0.66s ease;
  -moz-transition:all 0.66s ease;
  -o-transition:all 0.66s ease;
  transition:all 0.66s ease;  
}

.scrollToTop img {
  width: 40px;
  height: auto;
}

.user_message {
  background-color: #EFEFEF;
  border: 1px solid #dedede;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;  
  padding:14px;
}

.content .photo .photo_prev {
  position: absolute;
  left: 0;
}

.content .photo .photo_next {
  position: absolute;
  right: 0;
}

.content .photo .photo_prev img, .content .photo .photo_next img {
  width:40px;
}

.content .soundcloud_track iframe, .content .tumblr_track iframe {
  width: 100%;
  height: 100%;
}