/* gral */
body 
{ 
    background-color:#000000;
    font-family: 'Playfair Display', serif; 
    color: #fff; 
    margin: 30px 15px 0;
    overflow: hidden;
}

*[ ng-click ] {
    cursor: pointer ;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.both {
    clear: both;
}

.inline {
  display: inline-block;
}

.center {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.next {
  float: right;
}

.prev {
  float: left;
}

ul {
    list-style-type: none;
}

.next {
    float: right;
}

.prev {
    float: left;
}

a 
{ 
    text-decoration:none; 
    color: #fff!important; 
    outline: none; 
} 
a:hover 
{ 
    text-decoration: none; 
    opacity: 0.8; 
} 
 
.container {
    max-width: 940px;
} 
  
.navbar { 
        background: url("../img/bg_nav.png") repeat 0 0 transparent!important; 
    border: none; 
    margin-bottom: 0; 
} 
.navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus { 
    background-color: transparent; 
    color: #fff!important; 
} 
.navbar-toggle { 
    margin-top: 76px; 
} 
.navbar-toggle:hover, 
.navbar-toggle:focus { 
  background-color: transparent; 
} 

/* Admin */
.socialIcon {
  width: 20px;
}

.adminThemeMenu {
  position:absolute;
  top:0;
  left:0;
  z-index:1040;
  display:inline-block;
  width:auto;
  height:auto;
  overflow:hidden;
  padding: 0;
  margin: 0;
}

.adminThemeMenu .active {
  border-bottom: 1px solid white;
}

.pagefilter ul {
  padding: 0;
  margin: 0;
}

.pagefilter li {
  padding: 4px;
}

/*menu*/
  
h1 { 
    background: none repeat scroll 0 0 transparent; 
    color: #FFFFFF; 
    float: left; 
    font-family: 'Playfair Display SC',serif; 
    font-size: 41px!important; 
    font-weight: 900; 
    text-transform: uppercase; 
    width: 130px; 
} 
h1 a { 
    line-height: 37px!important; 
    font-size: 41px!important; 
} 
  
h2 { 
    font-family: 'Playfair Display SC',serif; 
    font-size: 18px; 
    font-weight: 900; 
    line-height: 18px; 
    margin-top: 10px; 
    text-align: right; 
    text-transform: uppercase; 
} 
  
p { 
    color: #999999; 
    font-size: 14px; 
    font-style: italic; 
    font-weight: 500; 
    line-height: 16px; 
    margin-top: 10px; 
    text-align: right; 
} 
p a { 
    color: #D1D1D1; 
    line-height: 16px; 
} 
  
  
.navbar ul { 
    float: right; 
    margin-top: 75px; 
} 
.navbar ul li { 
    float: left; 
    margin-left: 32px; 
    font-family: 'Playfair Display SC',serif; 
    font-size: 20px; 
    font-weight: 900; 
    text-transform: uppercase; 
} 
  
#container {
    clear: both;
    display: block;
    height: 300px !important;
    margin: 0 auto;
    overflow: auto;
    text-align: center;
    width: 100%;
}

/* Masonry */
.masonry,
.masonry .content {
  -webkit-transition-duration: 0.7s;
   -moz-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
     -o-transition-duration: 0.7s;
      transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: height, width;
   -moz-transition-property: height, width;
    -ms-transition-property: height, width;
     -o-transition-property: height, width;
      transition-property: height, width;
}

.masonry .content {
  -webkit-transition-property: left, right, top;
   -moz-transition-property: left, right, top;
    -ms-transition-property: left, right, top;
     -o-transition-property: left, right, top;
      transition-property: left, right, top;
}

/* Responsive */

@media (max-width: 480px) {

  #container .small {
    width: 100%;
  }
  #container .medium {
    width: 100%;
  }
  #container .large {
    width: 100%;
  }
  #container .xlarge {
    width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {

  #container .small {
    width: 32.3%;
  }
  #container .medium {
    width: 65.6%;
  }
  #container .large {
    width: 99%;
  }
  #container .xlarge {
    width: 99%;
  }
}


@media (min-width: 769px) and (max-width: 1024px) {

  #container .small {
      width: 23%;
  }
  #container .medium {
      width: 48%;
  }
  #container .large {
      width: 73%;
  }
  #container .xlarge {
      width: 98%;
  }

}

@media (min-width: 1025px) and (max-width: 1200px) {

  #container .small {
      width: 18%;
  }
  #container .medium {
      width: 38%;
  }
  #container .medium iframe {
      width: 98%;
  }    
  #container .large {
      width: 58%;
  }
  #container .xlarge {
      width: 78%;
  }

}

@media all and (max-width: 2048px) and (min-width: 1201px) {

  #container .small {
      width: 14%;
  }
  #container .medium {
      width: 28%;
  }

  #container .large {
      width: 43%;
  }
  #container .xlarge {
      width: 57%;
  }
}

.content {
    display: inline-block;
    height: auto;    
}

.content img {
    width: 100%;
    height: auto;
    margin:0 auto;
    display: block;
}