<div class="accountPage {{account.network}}AccountPage">

	<div ng-show="!isAdding" ng-if="concepts.length > 1" class="filterList">
		
		<i class="fa fa-search filtersControl" ng-click="manageFilters()" tooltip="Filter"></i>

		<ul ng-show="showFilters">
			<li ng-repeat="concept in concepts" ng-click="filter(concept)" ng-style="filterStyle(concept)"tooltip="On/Off {{concept}}">
				<i ng-class="conceptIcon(concept)"></i> {{countByConcept(concept)}}
			</li>
		</ul>

	</div>

	<div ng-if="account.network == 'cloudcial'" class="addList" style="position:{{!isAdding ? 'fixed':'relative'}}">
		
		<i ng-show="!isAdding" class="fa fa-plus addControl" ng-click="manageAdd()" tooltip="Add content" tooltip-placement="right"></i>
		<i ng-show="isAdding" class="addControl fa fa-times" ng-click="hideAddContent()"></i>


		<ul ng-show="showAdd">
			<li ng-repeat="concept in concepts" tooltip="Add {{concept}}" tooltip-placement="bottom" style="opacity:{{!toAdd || toAdd == concept ? 1:0.3}}">
				<i ng-class="conceptIcon(concept)" ng-click="showAddContent(concept)"></i> {{countByConcept(concept)}}
			</li>
		</ul>

	</div>


	<div ng-show="!isAdding" class="accountPageHeader {{account.network}}AccountPageHeader both" ng-style="getPageHeaderStyle()" get-menu-height>

		<div class="controls">
			<i class="fa fa-arrow-left left control-left" ng-click="move(-1)" tooltip="Previous Account" tooltip-placement="right"></i>
			<i class="fa fa-arrow-right left control-right" ng-click="move(1)" tooltip="Next Account" tooltip-placement="right"></i>

			<i class="fa fa-plus-circle left control-more" ng-click="moreContent()" tooltip="More Content" tooltip-placement="right"></i>
			<i class="fa fa-times-circle-o left control-close" ng-click="closeAccount()" tooltip="Close Account" tooltip-placement="right"></i>

		</div>

		<div class="accountInfo">
			<img ng-src="{{account.profile_image}}" class="profileImage img-circle" />
			<strong class="accountUsername">{{account.login}}</strong>
		</div>

		<ul class="stats both right">
			<li ng-repeat="(key,stat) in account.stats" ng-if="canShowStat(stat)" class="stat">
				<div tooltip="{{key|capitalize}}: {{stat}}" tooltip-placement="right">
					<i ng-class="statIcon(key)"></i> {{stat}}
				</div>
			</li>
		</ul>

	</div>

	<div ng-show="!isAdding" class="both">

		<ul id="accountPageList" class="masonry" masonry="{'columnWidth':1,'gutter':1,'isAnimated':false,'itemSelector':'.adminContent'}" style="padding-top:{{getMenuHeight()}}px;">

			<li ng-repeat="content in list" class="adminContent {{contentSv.isContentEnabled(content) ? 'active' : 'inactive'}} medium " ng-class="getContentClass(content)" ng-switch="content.concept" masonry-item>

				<ul class="both right controls">
					<li class="left">
						<i ng-class="conceptIcon(content.concept)" tooltip="{{content.concept}}" tooltip-placement="bottom"></i>
					</li>
					<li class="right">
						<i ng-click="manageAction($index)" class="{{contentSv.isContentEnabled(content) ? 'fa fa-toggle-off' : 'fa fa-toggle-on'}}" tooltip="{{contentSv.isContentEnabled(content) ? 'Hide':'Show' }} content" tooltip-placement="bottom"></i>
					</li>
					<li ng-if="content.network == 'cloudcial'" class="right">
						<i ng-click="showEditContent($index)" class="fa fa-pencil" tooltip="Edit content" tooltip-placement="bottom"></i>
					</li>
				</ul>

				<div class="both">
				    <admin-content-video ng-switch-when='video'></admin-content-video>
				    <admin-content-photo ng-switch-when='photo'></admin-content-photo>
				    <admin-content-track ng-switch-when='track'></admin-content-track>
				    <admin-content-post  ng-switch-when='post' ></admin-content-post>
				    <admin-content-quote ng-switch-when='quote'></admin-content-quote>
				    <admin-content-chat  ng-switch-when='chat' ></admin-content-chat>
				    <admin-content-link  ng-switch-when='link' ></admin-content-link>
				    <admin-content-event ng-switch-when='event'></admin-content-event>
				</div>

				<div class="stats right">
					<ul>
						<li ng-repeat="(key,stat) in content.stats" ng-if="canShowStat(stat)" tooltip="{{key|capitalize}}: {{stat}}" tooltip-placement="bottom">
							<i ng-class="statIcon(key)"></i> {{stat}}
						</li>
					</ul>
				</div>

			</li>

		</ul>

		<h3><strong ng-if="noMore" class="both">There is no more content!</strong></h3>

	</div>

	<div ng-if="isAdding" class="addContent">
		<div ng-switch="toAdd">
			<admin-add-event content="objAdd" ng-switch-when='event'></admin-add-event>
		    <admin-add-video content="objAdd" ng-switch-when='video'></admin-add-video>
		    <admin-add-photo content="objAdd" ng-switch-when='photo'></admin-add-photo>
		    <admin-add-track content="objAdd" ng-switch-when='track'></admin-add-track>
		    <admin-add-post  content="objAdd" ng-switch-when='post' ></admin-add-post>
		</div>
	</div>


</div>