<div class="accountsContainer">

	<div ng-if="showingAccount" class="modalAccount">
		<fb app-id='211895592326072'></fb>
		<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		<admin-account class="accountDetail" account="account"></admin-account>
	</div>

	<div ng-hide="showingAccount">

		<div class="filterList">

			<i id="filter_account" class="fa fa-search filtersControl" ng-click="manageFilters()" tooltip="Filter"></i>

			<ul ng-show="showFilters">
				<li ng-repeat="(key,network) in networks" ng-click="filter(key)" ng-class="filterClass(key)"  tooltip="On/Off {{network.network|networkBrand}}" class="btn-group">
					<i ng-class="networkIcon(network.network)"></i>
					<span>{{countByNetwork(network.network)}}</span>
				</li>
				<li>
					<input type="text" ng-model="search" placeholder="Search" class="form-control inline"/>
				</li>
			</ul>

		</div>

		<div class="addList">

			<i id="add_account" class="fa fa-plus addControl" ng-click="manageAdd()" tooltip="Add account" tooltip-placement="right"></i>

			<ul ng-show="showAdd">
				<li ng-repeat="(key,network) in networks" ng-if="network.network!='cloudcial'" dropdown  class="btn-group" ng-class="getAddClass(network.network)">
					<i ng-class="networkIcon(network.network)" class="dropdown-toggle {{$first ? 'add_account_first':''}}" ng-click="showDropdown(network.network)"></i>
					<div class="dropdown-menu" role="menu" ng-if="networkAdd == network.network">

						<h4 class="networkBrand">{{network.network|networkBrand}}:</h4>

						<ul>
							<li ng-if="networks[network.network].oauth" style="border-bottom: 1px solid #adafae;">
								- My account: <i ng-class="networkIcon(network.network)" ng-click="addAccount(key)"></i>
							</li>
							<li ng-if="networks[network.network].follow">
								<p>- Follow someone:</p>
								<form class="navbar-form navbar-left" role="search" style="z-index:20;">
									<input type="text"  name="userAccount" placeholder="By UserName" class="form-control"/>
									<button type="text" class="btn btn-sm" ng-click="addFollow(network.network)">Add</button>
								</form>
								<i ng-if="addError" class="fa fa-warning"></i>
								<p ng-if="addError">{{addErrorMsg}}</p>								
							</li>
						</ul>

					</div>

				</li>
			</ul>

		</div>		

		<div class="list">

			<ul id="accountList" ng-style="getContainerStyle()">

				<li ng-repeat="account in list" id="account_{{$index}}" class="account {{account.network}}Account">

					<div class="accountLayerInfo {{account.network}}AccountRgba">

						<div class="controls">
							<i ng-click="delete($index)" class="{{account.network!='cloudcial' ? 'fa  fa-trash-o':'fa fa-exclamation-circle'}}" tooltip="{{account.network!='cloudcial' ? 'Delete account':'Can\'t Delete'}}" tooltip-placement="bottom"></i>
							<i ng-click="showAccount($index)" class="fa fa-search" tooltip="View content" tooltip-placement="bottom"></i>
						</div>

						<ul class="center">
							<li ng-repeat="(key,stat) in account.stats" ng-if="canShowStat(stat)" class="stat">
								<i tooltip="{{key|capitalize}}: {{stat}}" tooltip-placement="top" ng-class="statIcon(key)"></i>
								<span count-up="{{stat}}">{{stat}}</span>
							</li>
						</ul>

						<h3 class="{{account.network}}Account accountUsername" style="float:none;clear:both;"><strong>{{account.login|unslug|capitalize}}</strong></h3>

					</div>

					<div class="accountLayerImage" style="background-image:url('{{account.profile_image}}');">
						<i ng-click="showAccount($index)" class="{{account.network}}Account" ng-class="networkIcon(account.network)" style="padding:5px;line-height:15px;"></i>
					</div>

				</li>
			</ul>
		</div>

	</div>
</div>
