<div class="accountPage {{account.network}}AccountPage">

	<div ng-if="concepts.length > 1" class="filterList">
		
		<i class="fa fa-search filtersControl" ng-click="manageFilters()" tooltip="Filter"></i>

		<ul ng-show="showFilters">
			<li ng-repeat="concept in concepts" ng-click="filter(concept)" ng-style="filterStyle(concept)"tooltip="On/Off {{concept}}">
				<i ng-class="conceptIcon(concept)"></i> {{countByConcept(concept)}}
			</li>
		</ul>

	</div>

	<div ng-if="account.network == 'cloudcial'" class="addList">
		
		<i class="fa fa-plus addControl" ng-click="manageAdd()" tooltip="Add content" tooltip-placement="right"></i>

		<ul ng-show="showAdd">
			<li ng-repeat="concept in concepts" tooltip="Add {{concept}}" tooltip-placement="bottom">
				<i ng-class="conceptIcon(concept)" ng-click="showAddContent(concept)"></i> {{countByConcept(concept)}}
			</li>
		</ul>

	</div>


	<div class="accountPageHeader {{account.network}}AccountPageHeader both">

		<div class="controls">
			<i class="fa fa-arrow-left left" ng-click="move(-1)" tooltip="Previous Account" tooltip-placement="bottom"></i>
			<i class="fa fa-arrow-right left" ng-click="move(1)" tooltip="Next Account" tooltip-placement="bottom"></i>
		
			<img ng-src="{{account.profile_image}}" class="profileImage img-circle inline" />
			<strong>{{account.login}}</strong>

			<i class="fa fa-times-circle-o left both" ng-click="closeAccount()" tooltip="Close Account"></i>
			<i ng-click="moreContent()" class="fa fa-plus-circle left" tooltip="More Content"></i>
		</div>

		<ul class="stats">
			<li ng-repeat="(key,stat) in account.stats">
				<div ng-if="canShowStat(stat)" tooltip="{{key}}: {{stat}}" tooltip-placement="left">
					<i ng-class="statIcon(key)"></i> {{stat}}
				</div>
			</li>
		</ul>

	</div>

	<div class="both">

		<ul id="accountPageList" class="masonry" masonry="{'columnWidth':1,'gutter':1,'isAnimated':false,'itemSelector':'.adminContent'}">

			<li ng-repeat="content in list" class="adminContent" ng-class="getContentClass(content)" ng-style="getContentStyle(content)" ng-switch="content.concept" masonry-item>

			    <admin-content-video ng-switch-when='video'></admin-content-video>
			    <admin-content-photo ng-switch-when='photo'></admin-content-photo>
			    <admin-content-track ng-switch-when='track'></admin-content-track>
			    <admin-content-post  ng-switch-when='post' ></admin-content-post>
			    <admin-content-quote ng-switch-when='quote'></admin-content-quote>
			    <admin-content-chat  ng-switch-when='chat' ></admin-content-chat>
			    <admin-content-link  ng-switch-when='link' ></admin-content-link>
			    <admin-content-event ng-switch-when='event'></admin-content-event>

				<div class="stats left">
					<ul>
						<li ng-repeat="(key,stat) in content.stats" tooltip="{{key}}:{{stat}}">
							<div ng-if="canShowStat(stat)" >
								<i ng-class="statIcon(key)"></i> {{stat}}
							</div>
						</li>
					</ul>
				</div>

				<div class="both">
					<i ng-click="delete($index)" class="fa fa-trash-o" tooltip="Hide content"></i>
				</div>	

			</li>

		</ul>

	</div>

	<div ng-if="isAdding" style="position:absolute;width:80%;left:10%;top:10%;z-index:4;" class="well">
		<div ng-switch="toAdd">
			<p class="right">
				Create new {{toAdd}} or 
				<button class="btn btn-primary" ng-click="hideAddContent()">Close It</button>
			</p>
			<admin-add-event ng-switch-when='event'></admin-add-event>
		    <admin-add-video ng-switch-when='video'></admin-add-video>
		    <admin-add-photo ng-switch-when='photo'></admin-add-photo>
		    <admin-add-track ng-switch-when='track'></admin-add-track>
		    <admin-add-post  ng-switch-when='post' ></admin-add-post>
		</div>
	</div>


</div>