<div class="accountPage {{account.network}}AccountPage">

	<div class="accountPageHeader {{account.network}}AccountPageHeader both">

		<ul ng-if="concepts.length > 1" class="filterList right">
			
			<li>
				<h2>Filter by:</h2>
			</li>

			<li ng-repeat="concept in concepts" ng-click="filter(concept)" ng-style="filterStyle(concept)">
				<i ng-class="conceptIcon(concept)"></i> {{countByConcept(concept)}}
			</li>

		</ul>

		<ul ng-if="account.network == 'cloudcial'" class="filterList right">
			
			<li>
				<h2>Create:</h2>
			</li>

			<li ng-repeat="concept in concepts">
				<i ng-class="conceptIcon(concept)" ng-click="showAddContent(concept)"></i> {{countByConcept(concept)}}
			</li>

		</ul>

		<div>
			<span ng-click="move(-1)">Prev</span>
			<span ng-click="closeAccount()">Close</span>
			<span ng-click="move(1)">Next</span>
		</div>

		<img ng-src="{{account.profile_image}}" class="left profileImage img-circle" />
		<p><strong>{{account.login}}</strong></p>

		<ul class="stats">
			<li ng-repeat="(key,stat) in account.stats" title="{{key}}: {{stat}}">
				<div ng-if="canShowStat(stat)" >
					<i ng-class="statIcon(key)"></i> {{stat}}
				</div>
			</li>
		</ul>

		<span ng-click="moreContent()" class="both left">More Content</span>

	</div>

	<div class="both">

		<ul id="accountPageList" infinite-scroll="moreContent()" ng-style="getContainerStyle()" get-offset-top class="masonry" masonry="{'columnWidth':10,'gutter':5,'isAnimated':false,'itemSelector':'.adminContent'}">

			<li ng-repeat="content in list" class="adminContent" ng-class="getContentSize($index)" ng-style="getContentStyle(content)" ng-switch="content.concept" masonry-item>

			    <admin-content-video ng-switch-when='video'></admin-content-video>
			    <admin-content-photo ng-switch-when='photo'></admin-content-photo>
			    <admin-content-track ng-switch-when='track'></admin-content-track>
			    <admin-content-post  ng-switch-when='post' ></admin-content-post>
			    <admin-content-quote ng-switch-when='quote'></admin-content-quote>
			    <admin-content-chat  ng-switch-when='chat' ></admin-content-chat>
			    <admin-content-link  ng-switch-when='link' ></admin-content-link>
			    <admin-content-event ng-switch-when='event'></admin-content-event>

				<div class="stats left">
					<ul>
						<li ng-repeat="(key,stat) in content.stats" title="{{key}}:{{stat}}">
							<div ng-if="canShowStat(stat)" >
								<i ng-class="statIcon(key)"></i> {{stat}}
							</div>
						</li>
					</ul>
				</div>

				<div ng-if="isLogged()" class="both">
					<div class="right">{{content.status}}</div>
					<i ng-click="delete($index)" class="icon-trash right"></i>
				</div>	

			</li>

		</ul>

	</div>

	<div ng-if="isAdding" style="position:absolute;width:80%;left:10%;top:10%;z-index:2;" class="well">
		<div ng-switch="toAdd">
			<p class="right">
				Create new {{toAdd}} or 
				<button class="btn btn-primary" ng-click="hideAddContent()">Close It</button>
			</p>
			<admin-add-event ng-switch-when='event'></admin-add-event>
		    <admin-add-video ng-switch-when='video'></admin-add-video>
		    <admin-add-photo ng-switch-when='photo'></admin-add-photo>
		    <admin-add-track ng-switch-when='track'></admin-add-track>
		    <admin-add-post  ng-switch-when='post' ></admin-add-post>
		</div>
	</div>


</div>