<div class="accountsContainer">

	<div ng-if="showingAccount" class="modalAccount">
		<fb app-id='211895592326072'></fb>
		<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		<admin-account class="accountDetail" ng-repeat="account in currentAccount"></admin-account>
	</div>

	<div>

		<ul class="addList">
			<li>
				<h2>Add:</h2>
			</li>

			<li ng-repeat="(key,network) in networks" ng-click="addAccount(key)" ng-if="network.network!='aytema'">
				<img ng-src="{{networkIcon(network.network)}}" class="socialIcon" />
			</li>
		</ul>

		<ul class="filterList">

			<li>
				<h2>Filter by:</h2>
			</li>

			<li>
				<input type="text" ng-model="search" placeholder="Search" class="form-control" />
			</li>

			<li ng-repeat="(key,network) in networks" ng-click="filter(key)" ng-style="filterStyle(key)" >
				<img ng-src="{{networkIcon(network.network)}}" class="socialIcon" />
				{{countByNetwork(network.network)}}
			</li>

		</ul>

		<div class="both">

			{{list.length}}	of {{accounts.length}}

			<ul id="accountList" class="list" infinite-scroll="moreAccounts()" ng-style="getContainerStyle()" get-offset-top>

				<li ng-repeat="account in list" class="account {{account.network}}Account">

					<div class="accountLayerImage" style="background-image:url('{{account.profile_image}}');">
						<img ng-src="{{networkIcon(account.network)}}" class="socialIcon" />
					</div>

					<div class="accountLayerInfo">

						<div style="position:relative;width:80%;height:80%;top:10%;left:10%;">

							<div style="position:absolute;width:50%;height:100%;bottom:0;text-align:left;">

								<p ng-repeat="(key,stat) in account.stats" ng-if="canShowStat(stat)">
									<i title="{{key}}: {{stat}}" ng-class="statIcon(key)"></i> {{stat}}
								</p>

							</div>

							<div style="position:absolute;width:50%;left:50%;top:40%;">

								<p>
									<i ng-click="showAccount($index)" class="icon-search"></i>
								</p>
								
								<p>
									<i ng-if="account.network != 'cloudcial'" ng-click="delete($index)" class="icon-trash"></i>
								</p>

							</div>

						</div>


					</div>

				</li>
			</ul>
		</div>

	</div>
</div>
