<div class="background">

	<div class="both">
		<span class="left">Image</span>
		<select 
			ng-model="config.custom.background.selected"
			ng-options="name for (name,background) in config.custom.background.list" class="right">
		</select>
	</div>

	<div class="both">
		<input type="text" ng-model="newBg.img" placeholder="Url image">
		<input type="text" ng-model="newBg.name" placeholder="Name image">
		<a ng-if="canAdd()" href="#/" ng-click="addBackground()">Add</a>
	</div>	

	<div class="both">
		<a href="#/" ng-click="restoreConfig()" skip-default>Restore!</a>
		<a href="#/" ng-click="saveConfig()" skip-default>Save as my theme</a>
	</div>

</div>