<div class="background">

	<div class="both">
		<span class="left">Image</span>

		<div class="dropzone right" dropzone="dropzoneConfig" dropzone-instance="dropzone">
			<span><i class="fa fa-cloud-upload"></i> Upload</span>
		</div>

		<select 
			ng-model="config.custom.background.selected"
			ng-options="name for (name,background) in config.custom.background.list">
			<option value=0>None</option>
		</select>
	</div>

	<div class="both config_last">
		<input type="text" ng-model="newBg.img" placeholder="Url image">
		<input type="text" ng-model="newBg.name" placeholder="Name image">
		<a ng-if="canAdd()" href="#/" ng-click="addBackground()">Add</a>
	</div>	

	<div class="config-actions">
		<a href="#/" ng-click="saveConfig()" skip-default>Save as my Theme!</a>
		<a href="#/" ng-click="restoreConfig()" skip-default>Restore!</a>
	</div>

</div>