<div class="colors">

	<ul>
		<li ng-repeat="(color,settings) in config.custom.colors" class="item-color">
			<div class="item-color-label">{{settings.label}}:</div>
			<div class="item-color-element">
				<input minicolor name="{{color}}" maxlength="7" type="text" size="6" ng-model="config.custom.colors[color].value"/>
			</div>
		</li>
	</ul>

	<ul ng-if="config.custom.background.selected.length">
		<p>Based on your background image:</p>
		<li ng-repeat="color in colorsOnbackgroundImage" class="left">
			<div style="width:18px;height:18px;background-color:#{{color}};margin-right:5px;" class="inline"></div>
			{{color}}
		</li>
		<img ng-if="!colorsOnbackgroundImage.length" src="/img/ajax-loader.gif" />
	</ul>

	<div class="config-actions">
		<a href="#/" ng-click="saveConfig()" skip-default>Save as my Theme!</a>
		<a href="#/" ng-click="restoreConfig()" skip-default>Restore!</a>
	</div>

</div>