<div class="contentsize">

	<ul class="both">

		<li ng-repeat="network in networks" class="inline">
			
			<img ng-src="{{networkIcon(network)}}" class="socialIcon" ng-click="showNetworkSizeConfig($index)" ng-style="getNetworkStyle($index)"/>

		</li>

	</ul>


	<ul>

		<li ng-repeat="network in networks" ng-show="isNetworkActive($index)">
			
			<ul>

				<li ng-repeat="(concept,size) in config.custom.contentsizes[network]">

					<i ng-class="conceptIcon(concept)"></i>

					<ul class="right">
						
						<li ng-repeat="size in sizes" class="inline">
			
							<span ng-style="getNetworkConceptStyle(network,concept,size)" ng-click="setConceptSize(network,concept,size)">{{size}}</span>
			
						</li>

					</ul>

				</li>

			</ul>

		</li>

	</ul>

	<div class="both">
		<a href="#/" ng-click="restoreConfig()" skip-default>Restore!</a>
		<a href="#/" ng-click="saveConfig()" skip-default>Save</a>
	</div>

</div>