<div id="{{content.network}}_{{content.concept}}_{{content.external_id}}" class="event {{content.network}}_{{content.concept}}">

	<img alt="Google map on {{content.data.address}}" ng-src="{{contentSv.getThumbnail(content)}}" />
	<h2>{{content.data.name}}</h2>
	<p>{{content.data.date}} @ {{content.data.place}}</p>
	<span ng-if="time.length > 0">{{content.data.time}}</span>
	<span ng-if="door.length > 0">{{content.data.door}}</span>
	<a ng-if="content.data.ticket.length" href="{{content.data.ticket}}" target="_blank">Buy Tickets</a>

</div>