<div id="{{content.network}}_{{content.concept}}_{{content.external_id}}" class="content cover event {{content.network}}_{{content.concept}}" style="background-image:url({{contentSv.getThumbnail(content)}});">
	<div ng-if="getTitle().length>0 || contentSv.getDescription(content).length>0" class="content_caption {{content.network}}AccountRgba">
		<h2>{{content.data.name}}</h2>
		<p>{{content.data.date}} @ {{content.data.place}}</p>
		<span ng-if="time.length > 0">{{content.data.time}}</span>
		<span ng-if="door.length > 0">{{content.data.door}}</span>
		<a ng-if="content.data.ticket.length" href="{{content.data.ticket}}" target="_blank">Buy Tickets</a>
	</div>
</div>