<div id="{{content.network}}_{{content.concept}}_{{content.external_id}}" class="photo {{content.network}}_{{content.concept}}" style="position:relative;">

	<div ng-if="moreThanOne()" style="position: absolute;top: 10px;left:10px;" class="left">
		<a href="#/" skip-default ng-click="move(-1)">
			<i class="fa fa-chevron-left"></i>
	 	</a>
	</div>

	<div ng-if="moreThanOne()" style="position: absolute;top: 10px;right:10px;" class="right">
		<a href="#/" skip-default ng-click="move(1)">
			<i class="fa fa-chevron-right"></i>
		</a>
	</div>
	<img ng-repeat="photo in photolist" ng-show="$index == currentPos" ng-src="{{photo.src}}" ng-class="$index == currentPos ? 'content_photo':''"  />

	<h2 ng-if="getTitle().length>0">{{getTitle()}}</h2>
	<p ng-if="contentSv.getDescription(content).length>0" ng-bind-html="getDescription()"></p>

</div>