<div class="settingsContainer">

	<div class="profileImageContainer settingsWidget">

		<div class="settingsWidgetContainer">

			<h4>Profile Image</h4>
			
			<div id="profileImage" ng-style="getProfileImageStyle()" class="both"></div>

			<div class="both">

				<i ng-if="profileImages.length>1" class="fa fa-arrow-left" ng-click="moveProfileImage(-1)" tooltip="Previous Image" tooltip-placement="bottom"></i>
				<i ng-if="profileImages.length>1" class="fa fa-arrow-right" ng-click="moveProfileImage(1)" tooltip="Next Image" tooltip-placement="bottom"></i>
				<div class="dropzone" dropzone="dropzoneConfig" dropzone-instance="dropzoneProfile">
					<i ng-click="showDropzone()" class="fa fa-cloud-upload" tooltip="Upload Image" tooltip-placement="bottom"></i>
				</div>
				<i ng-click="saveProfileImage()" class="fa fa-save" tooltip="Save image" tooltip-placement="bottom"></i>

			</div>

		</div>

	</div>

	<div class="userContainer settingsWidget">

		<div class="settingsWidgetContainer">

			<h4>Personal Information</h4>

			<form action="/" method="POST" autocomplete="off">
				<input type="text" name="email" ng-model="user.email" required placeholder="Email">
				<ul ng-if="informationError.email.length">
					<li ng-repeat="error in informationError.email">{{error}}</li>
				</ul>

				<input type="text" name="username" ng-model="user.username" required placeholder="Username">
				<ul ng-if="informationError.username.length">
					<li ng-repeat="error in informationError.username">{{error}}</li>
				</ul>

				<input type="text" name="firstname" ng-model="user.firstname" required placeholder="First name">
				<ul ng-if="informationError.firstname.length">
					<li ng-repeat="error in informationError.firstname">{{error}}</li>
				</ul>

				<input type="text" name="lastname" ng-model="user.lastname" required placeholder="Last name">
				<ul ng-if="informationError.lastname.length">
					<li ng-repeat="error in informationError.lastname">{{error}}</li>
				</ul>

				<input type="password" ng-model="user.password" name="password" required placeholder="Password">
				<ul ng-if="informationError.password.length">
					<li ng-repeat="error in informationError.password">{{error}}</li>
				</ul>

				<input type="password" ng-model="user.password_confirm" name="password_confirm" required placeholder="Confirm Password">
				<ul ng-if="informationError.password_confirm.length">
					<li ng-repeat="error in informationError.password_confirm">{{error}}</li>
				</ul>
			</form>

			<div class="both">

				<i ng-click="saveInformation()" class="fa fa-save" tooltip="Save information" tooltip-placement="bottom"></i>

			</div>

			<ul ng-if="informationError.length" class="error">
				<li ng-repeat="error in informationError">{{error}}<li>
			</ul>

		</div>

	</div>

	<div class="mapContainer settingsWidget">

		<div class="settingsWidgetContainer">

			<h4>Address & Map</h4>
			<input type="text" ng-model="$parent.address" placeholder="Address > Country, City, Street Name Street Number" ng-required="true" />
			<div ng-if="address.length>0" class="mapContainerPhoto" style="background-image:url({{getMapSrc()}});background-size:cover;"></div>

		</div>

	</div>

	<div class="wysiwygContainer settingsWidget">

		<div class="settingsWidgetContainer">

			<h4>Biography</h4>
			<textarea ng-model="$parent.biography" class="tinymce" placeholder="post title" ng-required="true" ui-tinymce="tinymceOptions"></textarea>

		</div>

	</div>	

</div>