<div class="statsContainer">

	<div id="networkStats" class="left"></div>

	<div id="accountStats" class="right"></div>

	<div id="byNetworksStats">
		
		<div ng-repeat="(network, stats) in byNetworks" class="inline center {{network}}Account networkStatContainer">

			<p class="head">
				<i class="fa {{contentSv.getNetworkIcon(network)}}"></i>
				<strong class="{{network}}Account">{{totalNetworks[network].y}}</strong>
				{{network|networkBrand}} accounts
			</p>

			<ul class="statList">

				<li ng-repeat="(stat,value) in stats" ng-if="value" class="center inline statItem" style="{{!$last ? 'border-right:1px solid #f5f5f5;':''}}">
					
					<p class="center"><strong>{{value|statValueFormat:{ significantFigures: 2, autoFormatDecimals:true } }}</strong></p>
					<i class="fa {{contentSv.getStatIcon(stat)}}" tooltip="{{stat}} {{value}}" tooltip-placement="bottom"></i>

				</li>	

			</ul>
			
			

		</div>


	</div>

</div>