<div class="statsContainer">

	<div id="networkStats"></div>

	<div id="accountStats"></div>

	<div id="byNetworksStats">
		
		<div ng-repeat="(network, stats) in byNetworks" class="inline center {{network}}Account" style="margin:20px;border-radius:6px;">

			<p class="center" style="margin:14px;">
				<i class="fa {{contentSv.getNetworkIcon(network)}}" style="font-size:40px;"></i>
				<strong class="{{network}}Account" style="border-radius:50%;border-width:4px;border-style:solid;padding:6px;">{{totalNetworks[network].y}}</strong>
			</p>

			<ul style="background:#fff;">

				<li ng-repeat="(stat,value) in stats" ng-if="value" class="center inline" style="color:#252328;padding:10px 25px;{{!$last ? 'border-right:1px solid #f5f5f5;':''}}margin:5px 0px;">
					
					<p class="center"><strong>{{value}}</strong></p>
					<i class="fa {{contentSv.getStatIcon(stat)}}" tooltip="{{stat}}" tooltip-placement="bottom" style="color:#adafae;font-size:12px;"></i>

				</li>	

			</ul>
			
			

		</div>


	</div>

</div>