<div class="themesContainer">

	<ul class="list" ng-style="getContainerStyle()">

		<li>
			<ul class="filterList">

				<li>
					<h2>Filter by:</h2>
					{{list.length}}	of {{themes.length}}
				</li>

				<li>
					<input type="text" ng-model="search" placeholder="Search" class="form-control" />
				</li>

			</ul>
		</li>

		<li ng-repeat="theme in list" ng-class="getThemeClass($index)" id="theme_{{$index}}" ng-style="getThemeStyle()">

			<div class="themeThumbnail" style="background-image:url('{{theme.thumbnails[0]}}');"></div>

			<div class="themeInfo">
				
				<p>
					<h3>{{theme.name}}</h3>

					<a ng-href="/themes?type={{theme.key}}&username={{user.username}}" title="Full Edit">
						<i class="fa fa-cogs"></i>
					</a>
					
					<a href="#/" ng-if="$index != current" ng-click="previewSrc($index)" skip-default title="Preview">
						<i class="fa fa-search"></i>
					</a>

				</p>

			</div>

		</li>

	</ul>

	<div ng-if="showPreview && src.length>0" class="preview"  ng-style="getContainerStyle()">
		<div class="themeNavigation">
			<div class="themeControlThumbnail left"  ng-click="move(-1)" ng-style="getPreviousStyle()">
				<strong class="left">{{getPreviousThemeName()}}</strong>
			</div>			

			<i class="fa fa-times" ng-click="closePreview()"></i>

			<div class="themeControlThumbnail right" ng-click="move(1)" ng-style="getNextStyle()">
				<strong class="right">{{getNextThemeName()}}</strong>	
			</div>
		</div>
		<iframe ng-src="{{src}}"></iframe>
	</div>


</div>