<div class="themesContainer">

	<div class="filterList">

		<i class="fa fa-search filtersControl" ng-click="manageFilters()" tooltip="Filter" tooltip-placement="right"></i>

		<ul ng-show="showFilters">
			<li>
				<input type="text" ng-model="search" placeholder="Search" class="form-control" />
			</li>
		</ul>

	</div>

	<ul class="list" ng-style="getContainerStyle()">

		<li ng-repeat="theme in list" ng-class="getThemeClass($index)" id="theme_{{$index}}" ng-style="getThemeStyle()">

			<div class="themeThumbnail" thumbnails-slider></div>

			<div class="themeInfo">
				
				<h1 class="themeName">{{theme.name}}</h1>

				<a ng-href="/themes?type={{theme.key}}&username={{user.username}}" tooltip="Full Edit">
					<i class="fa fa-cog"></i>
				</a>
				
				<a href="#/" ng-click="previewSrc($index)" skip-default tooltip="Preview">
					<i class="fa fa-search"></i>
				</a>

			</div>

		</li>

	</ul>

	<div ng-if="showPreview && src.length>0" class="preview" ng-style="getPreviewStyle()">
		<div class="themeNavigation">
			<div class="themeControlThumbnail left"  ng-click="move(-1)" ng-style="getPreviousStyle()">
				<strong class="left">{{getPreviousThemeName()}}</strong>
			</div>			

			<p>
				<a href="{{src}}" tooltip="Full Edit" tooltip-placement="bottom">
					<i class="fa fa-cog"></i>
				</a>
				<span class="currentTheme">{{list[current].name}}</span>
				<i class="fa fa-times-circle-o" ng-click="closePreview()" tooltip="Close preview" tooltip-placement="bottom"></i>
			</p>

			<div class="themeControlThumbnail right" ng-click="move(1)" ng-style="getNextStyle()">
				<strong class="right">{{getNextThemeName()}}</strong>	
			</div>
		</div>
		<iframe ng-src="{{src}}"></iframe>
	</div>


</div>