<div class="themesContainer">

	<div class="filterList">

		<i class="fa fa-search filtersControl" ng-click="manageFilters()"></i>

		<ul ng-show="showFilters">
			<li>
				<input type="text" ng-model="search" placeholder="Search" class="form-control" />
			</li>
		</ul>

	</div>


	<ul class="list" ng-style="getContainerStyle()">

		<li ng-repeat="theme in list" ng-class="getThemeClass($index)" id="theme_{{$index}}" ng-style="getThemeStyle()">

			<div class="themeThumbnail" style="background-image:url('{{theme.thumbnails[0]}}');"></div>

			<div class="themeInfo">
				
				<p>
					<h1 class="themeName">{{theme.name}}</h1>

					<a ng-href="/themes?type={{theme.key}}&username={{user.username}}" title="Full Edit">
						<i class="fa fa-cogs"></i>
					</a>
					
					<a href="#/" ng-click="previewSrc($index)" skip-default title="Preview">
						<i class="fa fa-search"></i>
					</a>

				</p>

			</div>

		</li>

	</ul>

	<div ng-if="showPreview && src.length>0" class="preview"  ng-style="getContainerStyle()">
		<div class="themeNavigation">
			<div class="themeControlThumbnail left"  ng-click="move(-1)" ng-style="getPreviousStyle()">
				<strong class="left">{{getPreviousThemeName()}}</strong>
			</div>			

			<i class="fa fa-times-circle-o" ng-click="closePreview()"></i>

			<div class="themeControlThumbnail right" ng-click="move(1)" ng-style="getNextStyle()">
				<strong class="right">{{getNextThemeName()}}</strong>	
			</div>
		</div>
		<iframe ng-src="{{src}}"></iframe>
	</div>


</div>