<div class="app">

	<fb app-id='211895592326072'></fb>
	<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	<script src="http://platform.tumblr.com/v1/share.js"></script>
	<script async="" defer="" src="//platform.instagram.com/en_US/embeds.js"></script>

	<div ng-if="isLogged()" id="config" ng-style="getConfigStyle()" tooltip="Edit theme"  tooltip-placement="right">
		<a href="#/" class="configcontrol" ng-click="adminTheme()" ng-style="getConfigButtonStyle()" skip-default><i class="fa fa-cogs"></i></a>

		<tabset ng-if="showConfig">

			<tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active">
				<div ng-switch="tab.key" class="inside">
					<admin-background ng-switch-when='background'></admin-background>
					<admin-colors ng-switch-when='colors'></admin-colors>
					<admin-width ng-switch-when='width'></admin-width>
				</div>
			</tab>

		</tabset>

	</div>

    <ul class="cb-slideshow">
    	<li ng-repeat="content in contents.photo.list|limitTo:6">
    		<span style="background-image:url('{{contentSv.getThumbnail(content)}}')">
    			<p ng-if="contentSv.getTitle(content).length">{{contentSv.getTitle(content)}}</p>
    		</span>
    	</li>
    </ul>

	<nav id="bt-menu" class="bt-menu">
	    <a href="#" class="bt-menu-trigger"><span>Menu</span></a>
	    <ul>
	        <li class="{{current == 'photos' ? 'active':''}}">
	        	<a ng-if="contents.photo.list.length" ng-click="manageCurrent('photos')" href="#" class="bt-icon" skip-default>
	        	    <i class="fa icon-camera"></i>
		        	<div class="nav-label">
						<span>Photos</span>
					</div>
		        </a>
	        </li>
	        <li class="{{current == 'videos' ? 'active':''}}">
	        	<a ng-if="contents.video.list.length" ng-click="manageCurrent('videos')" href="#" class="bt-icon" skip-default>
	        	    <i class="fa icon-videocam"></i>
		        	<div class="nav-label">
						<span>Videos</span>
					</div>
	        	</a>
	        </li>
	        <li class="{{current == 'about' ? 'active':''}}">
	        	<a ng-click="manageCurrent('about')" href="#" class="bt-icon" skip-default>
	        	    <i class="fa icon-user"></i>
		        	<div class="nav-label">
						<span>About</span>
					</div>
	        	</a>
	        </li>
	        <li class="{{current == 'contact' ? 'active':''}}">
	        	<a ng-click="manageCurrent('contact')" href="#" class="bt-icon" skip-default>
	        	    <i class="fa icon-mail"></i>
		        	<div class="nav-label">
						<span>Contact</span>
					</div>
				</a>
	        </li>
	        <li>
	        	<a href="#" skip-default class="cover" style="background-image:url({{user.profile_image}});">
		        	<div class="nav-label">
						<span>{{user.username|uppercase}}</span>
					</div>
	        	</a>
	        </li>
	    </ul>
	    <div class="bt-overlay">
	    	
    		<div class="overlay-panel" ng-if="current == 'photos' && photolist.length" id="photos" masonry="{'columnWidth':1,'gutter':1,'isAnimated':false,'itemSelector':'.masonry-brick'}">
    			<div thumbnail="photo" ng-repeat="photo in contents.photo.list" class="masonry-brick cover {{getPhotoClass($index)}}" ng-click="showDetail(photo)" style="background-image:url({{contentSv.getThumbnail(photo)}})"></div>
	        	<a ng-if="current == 'photos' && contents.photo.list.length" href="#/" ng-click="getContent('photo')" class="more pull-left" skip-default>
	        		More <i class="fa fa-plus-circle"></i> #{{contents.photo.list.length}}
	        	</a>
          	</div>

			<div class="overlay-panel" ng-if="current == 'videos' && contents.video.list.length" id="videos" masonry="{'columnWidth':1,'gutter':1,'isAnimated':false,'itemSelector':'.masonry-brick'}">
    			<div thumbnail="video" ng-repeat="video in contents.video.list" class="masonry-brick cover {{getVideoClass($index)}}" ng-click="showDetail(video)" style="background-image:url({{contentSv.getThumbnail(video)}})"></div>
	        	<a ng-if="current == 'videos' && contents.video.list.length" href="#/" ng-click="getContent('video')" class="more pull-left" skip-default>
	        		More <i class="fa fa-plus-circle"></i> #{{contents.video.list.length}}
	        	</a>
			</div>

			<div ng-if="current == 'about'" id="about">
		  		<div class="profile col-md-6">
		  			<img ng-src="{{user.profile_image}}" alt="{{user.username}} Profile Image" class="img-thumbnail">
		    	</div>
		    	<div class="presentacion col-md-6" ng-bind-html="getBiography()"></div>
			</div>

			<div ng-if="current == 'contact'" id="contact">
				<address>
					<ul class="list-inline">
						<li>Phone: <span>(123) 456-7890</span></li>
						<li>Email: <a href="mailto:#">{{user.email}}</a></li>
					</ul>
				</address>
      		</div>

	    </div>
	    <div class="detail {{isDetail ? 'active':'inactive'}}">
	    	<div ng-show="isDetail" class="controls">

		    	<i class="fa fa-chevron-left inline" ng-click="moveDetail(-1)"></i>
		    	<i class="fa fa-close inline" ng-click="closeDetail()"></i>
		    	<i class="fa fa-chevron-right inline" ng-click="moveDetail(1)"></i>

				<img ng-repeat="detail in detaillist" ng-src="{{userSv.getNetworkProfileImage(detail.network,detail.external_user_id)}}" class="account_profile cover"/>
				<span ng-repeat="detail in detaillist" class="account_name">{{detail.external_user_name}}</span>

		    </div>
	    	<div ng-show="isDetail" class="detail_container" ng-repeat="detail in detaillist">
		  		<div class="profile col-md-6">
		    		<p ng-if="contentSv.getPlayer(detail).length" class="player" ng-bind-html="getPlayer(detail)"></p>
		    		<img ng-if="!contentSv.getPlayer(detail).length && contentSv.getThumbnail(detail).length" thumbnail="detail" src="{{contentSv.getThumbnail(detail)}}" class="thumbnail">
		    	</div>
		    	<div class="presentacion col-md-6">
			    	<h4 ng-if="contentSv.getTitle(detail).length>0" class="title">{{contentSv.getTitle(detail)}}</h4>

					<ul class="stats both">
						<li ng-repeat="(key,stat) in detail.stats" ng-if="stat != 0" tooltip="{{key|capitalize}}: {{stat}}" tooltip-placement="bottom" class="stat">
							<div>
								<i ng-class="contentSv.getStatIcon(key)"></i> 
								<span count-up="{{stat}}">{{stat}}</span>
							</div>
						</li>
					</ul>

					<fb-comments ng-if="isDetail" data-href="{{getContentCommentsHash()}}" data-notify="true" class="both comments_container"></fb-comments>
		    	</div>
	    	</div>
	    </div>
	</nav>

	<!--
    <a href="#/" id="trigger-overlay" class="bt showT viewed" skip-default>
        <span class="bg"></span>
        <span class="lines"><span></span><span></span><span></span></span>
    </a>
    -->

    <div id="wrap">

		<a title="Mike Murphy" href="#/" id="logo"  skip-default>
			<span class="logo">{{user.username}}</span>
			<span class="logo-tagline">Photographer</span>
		</a>

   	</div> <!-- /wrap -->

   	<!-- Start Footer  -->
   	<footer>
   		<div class="content-footer">

			<a ng-repeat="account in accounts" ng-if="account.Socialnet.token.length" href="/dashboard/#/socialnets/{{account.Socialnet.network}}/{{account.Socialnet.external_user_id}}" tooltip="{{account.Socialnet.login}}">
				<i class="{{networkIcon(account.Socialnet.network)}} fa-3"></i>
			</a>

	   </div> 
  </footer>
  <!-- End Footer  -->


</div>