body {
	text-align: center;
	margin: 0 auto;
	-webkit-transition:all 0.56s ease-in-out 0s;
	-moz-transition:all 0.56s ease-in-out 0s;
	-o-transition:all 0.56s ease-in-out 0s;
	transition:all 0.56s ease-in-out 0s;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

a,a:hover,a:active,a:focus,
img,img:hover,img:active,img:focus {
  outline: none;
}

a,a:hover,a:active,a:focus {
  outline: none;
  text-decoration: none;
  color: #ffffff;
  /*
  font-style: italic;
  */
}

p {

}

a, h1, h2, h3, h4, h5, h6, input, textarea {
  color: #ffffff!important;
}

input::-moz-focus-inner { 
  border: 0; 
}

blockquote {
	border: none;
	padding: 0;
	margin: 0;
}

*[ ng-click ] {
  cursor: pointer ;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.both {
  clear: both;
}

.inline {
  display: inline-block;
}

.left {
	float: left;
}

.right {
	float: right;
}

.app {
  margin: 0 auto;
  max-width: 980px;
}

ul {
	list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar {
  margin: 0;
  padding: 0;
}

#list .content {
  margin: 20px;
  padding: 20px;
  opacity: 0;
}

#list .content .right_column {
  width: 30%;
  padding-left: 20px;
  text-align: right;
}

#list .content .left_column {
  width: 70%;
  text-align: left;
  position: relative;
}

.photo .controls {
  position:absolute;
  top:0;
  left:0;
  width:100%;
}