<form class="navbar-form navbar-left" role="search">
	<div class="">
		<input type="text" ng-model="socialnetSearch" name="socialnetSearch" placeholder="Search socialnets" class="form-control socialnetSearch">
	</div>
</form>

<ul ng-if="socialnets.length > 0" class="socialnets">

	<li ng-repeat="socialnet in socialnets" class="socialnet">

		<div style="background-image:url('{{socialnet.profile_image || 'http://cloudcial.com/img/no-image.png'}}');" class="overlay_cover"></div>

		<div class="username">
			<strong>{{socialnet.login | capitalize}}</strong>
		</div>

		<div class="link">
			<a href="#/socialnets/{{socialnet.network}}/{{socialnet.external_user_id}}" class="network_link">
				<i class="fa fa-chevron-circle-right"></i>
			</a>
		</div>

	</li>

</ul>