<div class="socialnet">

	<div class="socialnetMenu {{account.network}}Account" ng-if="isAccount()">
		<ul class="center">
			<li ng-click="scrollToSection('page_profile')" style="background-image:url('{{account.profile_image}}');" class="item profile {{account.network}}Account {{current == 'page_profile' ? 'active':''}}"></li>
			<li ng-repeat="page in pages" ng-if="content[page].list.length>0" ng-click="scrollToSection('page_{{page}}')" class="item {{current == 'page_'+page ? 'active':''}}">
				<i tooltip="{{getPluralizedConcepts(page)|capitalize}}: {{content[page].list.length}}" tooltip-placement="top" ng-class="conceptIcon(page)"></i>
			</li>
		</ul>
	</div>

	<div id="page_profile" ng-if="isAccount()" style="height:{{appSv.getHeight()}}px;">

		<a href="{{account.profile_url}}" target="_blank">
			<div class="left center profileImage {{account.network}}Account" style="background-image:url('{{account.profile_image}}');"></div>
		</a>

		<a href="{{account.profile_url}}" class="profileLink" target="_blank">
			<h1 class="inline {{account.network}}Account" >{{account.login|unslug|capitalize}}</h1>
		</a>

		<ul class="{{account.network}}Account">
			<li ng-repeat="(key,stat) in account.stats" ng-if="canShowStat(stat)" tooltip="{{key|capitalize}}: {{stat}}" tooltip-placement="bottom" class="stat inline">
				<i ng-class="statIcon(key)"></i>
				<span>{{stat}}</span>
			</li>
		</ul>

		<div class="users" ng-if="users.length>0">

			<h3>People using this network:</h3>

			<div class="wrapper" ng-if="users.length>0">
				<div class="list_carousel">
					<a id="prev2" class="prev" href="#/">
						<i class="fa fa-chevron-circle-left"></i>
					</a>
					<a id="next2" class="next" href="#/">
						<i class="fa fa-chevron-circle-right"></i>
					</a>
					<div class="carousel_container left">
						<ul id="carousel" caroufredsel="{'selector':'#carousel', 'auto':false,'prev':'#prev2','next':'#next2','mousewheel':true,'swipe':{'onMouse':true,'onTouch':true}}">
							<li ng-repeat="user in users" style="background-image:url('{{user.profile_image || 'http://cloudcial.com/img/no-image.png'}}');" class="user">
								<div class="username">
									<strong>{{user.username | capitalize}}</strong>
								</div>

								<div class="theme">
									<a href="/users/{{user.username}}" class="profile_link">
										<i class="fa fa-chevron-circle-right"></i>
									</a>
								</div>

							</li>
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>

		</div>

	</div>

	<div ng-if="isAccount() && content[page].list.length>0" ng-repeat="page in pages" id="page_{{page}}" style="height:{{appSv.getHeight()}}px;" class="socialnetSlide {{account.network}}Account">
		<i class="fa fa-chevron-left prev" ng-click="movePage(page,-1)" ng-if="content[page].list.length>1"></i>
		<i class="fa fa-chevron-right next" ng-click="movePage(page,1)" ng-if="content[page].list.length>1"></i>
		<ul class="center">
			<li ng-repeat="content in content[page].list" ng-switch="content.concept" class="content center" id="content_{{$index}}" ng-show="isCurrent(page,$index)">

				<admin-content-video ng-switch-when='video'></admin-content-video>
				<admin-content-photo ng-switch-when='photo'></admin-content-photo>
				<admin-content-track ng-switch-when='track'></admin-content-track>
				<admin-content-post  ng-switch-when='post' ></admin-content-post>
				<admin-content-quote ng-switch-when='quote'></admin-content-quote>
				<admin-content-chat  ng-switch-when='chat' ></admin-content-chat>
				<admin-content-link  ng-switch-when='link' ></admin-content-link>
				<admin-content-event ng-switch-when='event'></admin-content-event>

			</li>
		</ul>
	</div>


</div>