<div class="socialnet">

	<ul class="socialnetMenu {{account.network}}Account" ng-if="isAccount()">
		<li ng-show="current != 'page_profile'" ng-click="changeMode()" class="item" style="padding-right:20px;">
			Mode:<i class="{{!mode ? 'fa fa-text-height':'fa fa-picture-o'}}" tooltip="{{getModeTitle()}}" tooltip-placement="bottom"></i>
		</li>
		<li ng-click="scrollToSection('page_profile')" style="background-image:url('{{account.profile_image}}');" class="item profile {{account.network}}Account {{current == 'page_profile' ? 'active':''}}"></li>
		<li ng-repeat="page in pages" ng-if="content[page].list.length>0" ng-click="scrollToSection('page_{{page}}')" class="item {{current == 'page_'+page ? 'active':''}}">
			<i tooltip="{{getPluralizedConcepts(page)|capitalize}}: {{content[page].list.length}}" tooltip-placement="bottom" ng-class="conceptIcon(page)"></i>
		</li>
		<li class="item" ng-if="appSv.getSocialnets().length">
			<a href="#/" tooltip="Previous" tooltip-placement="bottom" ng-click="moveSocialnet(-1)" skip-default>
				<i class="fa fa-arrow-left"></i>
			</a>
		</li>
		<li class="item">
			<a href="/dashboard/#/socialnets/" tooltip="Back To Socialnets" tooltip-placement="bottom">
				<i class="fa fa-times-circle"></i>
			</a>
		</li>
		<li class="item" ng-if="appSv.getSocialnets().length">
			<a href="#/" tooltip="Next" tooltip-placement="bottom" ng-click="moveSocialnet(1)" skip-default>
				<i class="fa fa-arrow-right"></i>
			</a>
		</li>
	</ul>

	<div id="page_profile" ng-if="isAccount()" style="height:{{appSv.getHeight()}}px;">

		<a href="{{account.profile_url}}" target="_blank">
			<div class="left center profileImage {{account.network}}Account" style="background-image:url('{{account.profile_image}}');"></div>
		</a>

		<a href="{{account.profile_url}}" class="profileLink" target="_blank">
			<h1 class="inline {{account.network}}AccountRgba" >{{account.login|unslug|capitalize}}</h1>
		</a>

		<ul class="stats {{account.network}}AccountRgba">
			<li ng-repeat="(key,stat) in account.stats" ng-if="canShowStat(stat)" tooltip="{{key|capitalize}}: {{stat}}" tooltip-placement="top" class="stat inline">
				<i ng-class="statIcon(key)"></i>
				<span count-up="{{stat}}">{{stat}}</span>
			</li>
		</ul>

		<div class="users" ng-if="users.length>0">

			<h3>People using this network:</h3>

			<div class="wrapper" ng-if="users.length>0">

				<div class="list_carousel">

					<a id="prev2" class="prev {{account.network}}Account" href="#/">
						<i class="fa fa-chevron-left"></i>
					</a>
					<a id="next2" class="next {{account.network}}Account" href="#/">
						<i class="fa fa-chevron-right"></i>
					</a>
					<div class="carousel_container left">
						<ul id="carousel" caroufredsel="{'selector':'#carousel', 'auto':false,'prev':'#prev2','next':'#next2','mousewheel':true,'swipe':{'onMouse':true,'onTouch':true}}">
							<li ng-repeat="user in users" style="background-image:url('{{user.profile_image}}');" class="user">
								<div class="username">
									<strong>{{user.username | capitalize}}</strong>
								</div>

								<div class="theme">
									<a href="/users/{{user.username}}" class="profile_link">
										<i class="fa fa-chevron-right"></i>
									</a>
								</div>

							</li>
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>

		</div>		

	</div>

	<div ng-if="isAccount() && content[page].list.length>0" ng-repeat="page in pages" id="page_{{page}}" style="height:{{appSv.getHeight()}}px;" class="socialnetSlide">
		<i class="fa fa-chevron-left prev" ng-click="movePage(page,-1)" ng-if="content[page].list.length>1"></i>
		<i class="fa fa-chevron-right next" ng-click="movePage(page,1)" ng-if="content[page].list.length>1"></i>
		<ul class="contents center">
			<li ng-repeat="content in content[page].list" ng-switch="content.concept" class="content {{isCurrent(page,$index) ? 'content_hover':''}}" id="content_{{$index}}">

				<content-video ng-switch-when='video'></content-video>
				<content-photo ng-switch-when='photo'></content-photo>
				<content-track ng-switch-when='track'></content-track>
				<content-post  ng-switch-when='post' ></content-post>
				<content-quote ng-switch-when='quote'></content-quote>
				<content-chat  ng-switch-when='chat' ></content-chat>
				<content-link  ng-switch-when='link' ></content-link>
				<content-event ng-switch-when='event'></content-event>

			</li>
		</ul>
	</div>

	<div class="footer {{isFullWidth ? 'footerFull':''}} {{account.network}}Account" ng-style="getFooterStyle()" get-footer-height>

		<a href="#/" class="footercontrol {{account.network}}Account" ng-click="footer()" ng-style="getFooterButtonStyle()" skip-default>
			<i class="fa fa-play-circle" ng-style="getFooterContrastStyle()"></i>
		</a>

		<div ng-show="showFooter" class="queued {{account.network}}Account">
			<ul ng-style="getQueueStyle()" class="queuedList">
				<li ng-repeat="content in contentSv.getQueue()" id="queue_{{$index}}" class="{{content.network}}_{{content.concept}}" style="position:relative;" ng-if="hasPlayer($index)">
					<i class="fa fa-times-circle" ng-click="contentSv.deleteFromQueue(content)" tooltip="Delete from queue" tooltip-placement="left"></i>
					<i class="fa fa-eye" ng-click="fullWidht($index)" tooltip="Full Size" tooltip-placement="left"></i>
					<i ng-if="isFullWidth && contentSv.getQueue().length>1" ng-click="moveQueue(1)" class="fa fa-arrow-right"></i>
					<i ng-if="isFullWidth && contentSv.getQueue().length>1" ng-click="moveQueue(-1)" class="fa fa-arrow-left"></i>
					<div class="player both" ng-bind-html="getPlayer($index)"></div>
				</li>
			</ul>
		</div>

	</div>


</div>