<div class="socialnet">

	<div class="socialnetMenu" ng-if="isAccount()">
		<ul class="center">
			<li ng-click="scrollToSection('page_profile')" style="background-image:url('{{account.profile_image}}');border-radius:50%;width:55px;height:55px;border-radius:50%;border-width: 5px;border-style:solid;" class="item profileMenu {{account.network}}Account"></li>
			<li ng-repeat="page in pages" ng-if="content[page].list.length>0" ng-click="scrollToSection('page_{{page}}')" class="item">
				<i tooltip="{{getPluralizedConcepts(page)|capitalize}}: {{content[page].list.length}}" tooltip-placement="top" ng-class="conceptIcon(page)"></i>
			</li>
		</ul>
	</div>

	<div id="page_profile" ng-if="isAccount()" style="height:{{appSv.getHeight()}}px;width:100%;">

		<a href="{{account.profile_url}}" target="_blank">
			<div class="left center {{account.network}}Account" style="width:350px;height:350px;background-image:url('{{account.profile_image}}');background-size:cover;background-repeat:no-repeat;background-position:center;border-radius:50%;border-width: 15px;border-style:solid;margin:20px;"></div>
		</a>

		<a href="{{account.profile_url}}" target="_blank">
			<h1 class="inline {{account.network}}Account" style="font-size:100px;background:none;">{{account.login|unslug|capitalize}}</h1>
		</a>

		<ul class="{{account.network}}Account">
			<li ng-repeat="(key,stat) in account.stats" ng-if="canShowStat(stat)" class="stat inline" style="font-size:40px;">
				<i tooltip="{{key}}: {{stat}}" tooltip-placement="bottom" ng-class="statIcon(key)"></i> {{stat}}
			</li>
		</ul>

	</div>

	<div ng-if="isAccount()" ng-repeat="page in pages" ng-if="content[page].list.length>0" id="page_{{page}}" style="height:{{appSv.getHeight()}}px;width:100%;" class="socialnetSlide {{account.network}}Account">
		<i class="fa fa-chevron-left prev" ng-click="movePage(page,-1)" ng-if="content[page].list.length>1"></i>
		<i class="fa fa-chevron-right next" ng-click="movePage(page,1)" ng-if="content[page].list.length>1"></i>
		<ul class="center">
			<li ng-repeat="content in content[page].list" ng-switch="content.concept" class="content center" id="content_{{$index}}" ng-if="isCurrent(page,$index)">

				<admin-content-video ng-switch-when='video'></admin-content-video>
				<admin-content-photo ng-switch-when='photo'></admin-content-photo>
				<admin-content-track ng-switch-when='track'></admin-content-track>
				<admin-content-post  ng-switch-when='post' ></admin-content-post>
				<admin-content-quote ng-switch-when='quote'></admin-content-quote>
				<admin-content-chat  ng-switch-when='chat' ></admin-content-chat>
				<admin-content-link  ng-switch-when='link' ></admin-content-link>
				<admin-content-event ng-switch-when='event'></admin-content-event>

			</li>
		</ul>
	</div>


</div>