<div class="accountsContainer">

	<div class="filterList">

		<i class="fa fa-search filtersControl" ng-click="manageFilters()" tooltip="Filter"></i>

		<ul ng-show="showFilters">
			<li ng-repeat="(key,network) in networks" ng-click="filter(key)" ng-class="filterClass(key)"  tooltip="On/Off {{network.network|networkBrand}}" ng-hide="countByNetwork(network.network) == 0" class="btn-group">
				<i ng-class="networkIcon(network.network)"></i>
				<span>{{countByNetwork(network.network)}}</span>
			</li>
			<li>
				<input type="text" ng-model="socialnetSearch" name="accountSearch" placeholder="Search socialnets" class="form-control socialnetSearch inline">
			</li>
		</ul>

	</div>

	<ul scroll-more="moreAccounts()" ng-style="getContainerStyle()">

		<li ng-repeat="account in socialnets" id="account_{{$index}}" class="account {{account.network}}Account">

			<div class="accountLayerInfo">

				<div class="controls">
					<a href="#/socialnets/{{account.network}}/{{account.external_user_id}}" class="network_link">
						<i class="fa fa-search" tooltip="View content" tooltip-placement="bottom"></i>
					</a>
				</div>

				<ul class="center">
					<li ng-repeat="(key,stat) in account.stats" ng-if="canShowStat(stat)" class="stat">
						<i tooltip="{{key|capitalize}}: {{stat}}" tooltip-placement="top" ng-class="statIcon(key)"></i> {{stat}}
					</li>
					<p class="{{account.network}}Account" style="float:none;clear:both;">{{account.login|unslug|capitalize}}</p>
				</ul>

			</div>

			<div class="accountLayerImage" style="background-image:url('{{account.profile_image || 'http://cloudcial.com/img/no-image.png'}}');">
				<i class="{{account.network}}Account" ng-class="networkIcon(account.network)" style="padding:5px;line-height:15px;"></i>
			</div>

		</li>
	</ul>

</div>