<form class="navbar-form navbar-left" role="search">
	<div class="">
		<input type="text" ng-model="userSearch" name="userSearch" placeholder="Search users" class="form-control userSearch">
	</div>
</form>

<ul scroll-more="moreUsers()" class="users">

	<li ng-repeat="user in users" class="user">

		<div style="background-image:url('{{user.profile_image || 'http://cloudcial.com/img/no-image.png'}}');" class="overlay_cover"></div>

		<div class="username">
			<strong>{{user.username | capitalize}}</strong>
		</div>

		<div class="theme">
			<span>Theme: <strong>{{user.theme | capitalize}}</strong></span>
			<a href="/users/{{user.username}}" class="profile_link">
				<i class="fa fa-chevron-circle-right"></i>
			</a>
		</div>

	</li>

</ul>