<div>

	<div>
		<h3>Photos</h3>

		<span style="margin-left:25px;">Types: {{dropzoneConfig.options.acceptedFiles}}</span>

		<strong>{{alert}}</strong>

	</div>

	<div class="dropzone left" dropzone="dropzoneConfig" dropzone-instance="dropzone" id="photo-dropzone" style="background-image:url({{contentSv.getThumbnail(photo)}});">
		<span class="title">Select Thumbnail</span>
	</div>

	<form ng-show="isEdit()" ng-submit="save()" class="left navbar-form navbar-left">
		<input type="text" name="title" ng-model="photo.data.title" placeholder="Title" />
		<textarea name="description" ng-model="photo.data.description" placeholder="Description"></textarea>
		<button class="btn btn-primary left both" tooltip="Save" tooltip-placement="bottom">
			<i class="fa fa-save"></i>
		</button>
	</form>

</div>