<div>

	<div>
		<h3>Photos</h3>

		<span> Types: {{dropzoneConfig.options.acceptedFiles}}</span>

		<strong>{{alert}}</strong>

	</div>

	<div thumbnail="photo" class="dropzone left" dropzone="dropzoneConfig" dropzone-instance="dropzone" id="photo-dropzone" style="background-image:url({{contentSv.getThumbnail(photo)}});">
		<span style="position:absolute;top:40%;width:100%;left:0;background:rgba(0,0,0,0.4);color:white;text-align:center;">Add/Change Image</span>
	</div>

	<form ng-show="isEdit()" ng-submit="save()" class="left navbar-form navbar-left">
		<input type="text" name="title" ng-model="photo.data.title" placeholder="Title" />
		<textarea name="description" ng-model="photo.data.description" placeholder="Description"></textarea>
		<button type="submit" class="btn btn-primary">Save</button>
	</form>

</div>