<div>
	<h3>Post Information</h3>

	<div class="both">

	    <div class="row">
		   	<form ng-submit="save()">

				<input type="text" class="form-control" ng-model="post.data.title" placeholder="post title" ng-required="true"/>												

	           	<textarea ng-model="post.data.description" class="tinymce" placeholder="post title" ng-required="true" ui-tinymce="tinymceOptions"></textarea>

	       		<button type="submit" class="btn btn-primary">Save</button>

		    </form>
		</div>

	</div>

</div>