<div>
	<h3>Post Information</h3>


	<div thumbnail="post" style="height:200px;margin-left:25px;" class="contain">

		<div class="hide dropzone" dropzone="dropzoneThumbnailConfig" dropzone-instance="dropzoneThumbnail" id="thumbnail-dropzone"></div>

		<span class="left both">Select Thumbnail <i class="{{contentSv.getConceptIcon('photo')}}" ng-click="activateDropzone('thumbnail-dropzone')"></i></span>

	</div>

   	<form ng-submit="save()">

		<input type="text" class="form-control" ng-model="post.data.title" placeholder="post title" ng-required="true"/>												

       	<textarea ng-model="post.data.description" class="tinymce" placeholder="post title" ng-required="true" ui-tinymce="tinymceOptions"></textarea>

		<button class="btn btn-primary left both save" tooltip="Save" tooltip-placement="bottom">
			<i class="fa fa-save"></i>
		</button>

    </form>

</div>