<div>
	<h3>Tracks</h3>

	<span> Types: {{dropzoneConfig.options.acceptedFiles}}</span>

	<strong>{{alert}}</strong>

	<form ng-show="isEdit()" ng-submit="save()">
		<div ng-bind-html="getPlayer()"></div>
		<input type="text" name="title" ng-model="track.data.title" placeholder="Title" />
		<textarea name="description" ng-model="track.data.description" placeholder="Description"></textarea>
		<button type="submit" class="btn btn-primary">Save</button>
	</form>

	<div class="dropzone" dropzone="dropzoneConfig" id="track-dropzone"></div>
	
</div>