<div>

	<div>
		<h3>Videos</h3>

		<span style="margin-left:25px;"> Types: {{dropzoneConfig.options.acceptedFiles}}</span>

		<strong>{{alert}}</strong>
	</div>

	<div thumbnail="video" style="width:200px;height:200px;margin-left:25px;" class="contain">

		<div class="hide dropzone" dropzone="dropzoneThumbnailConfig" dropzone-instance="dropzoneThumbnail" id="thumbnail-dropzone"></div>

		<div class="hide dropzone" dropzone="dropzoneConfig" dropzone-instance="dropzone" id="video-dropzone"></div>

		<div ng-bind-html="getPlayer()" class="player"></div>

	</div>

	<span class="left both" style="margin-left:25px;">Select Thumbnail <i class="{{contentSv.getConceptIcon('photo')}}" ng-click="activateDropzone('thumbnail-dropzone')"></i></span>

	<span class="left both" style="margin-left:25px;">Select Video <i class="{{contentSv.getConceptIcon('video')}}" ng-click="activateDropzone('video-dropzone')"></i></span>

	<form ng-show="isEdit()" ng-submit="save()" class="right navbar-form navbar-right">
		<input type="text" name="title" ng-model="video.data.title" placeholder="Title" />
		<input type="text" name="artist" ng-model="video.data.artist" placeholder="Artist" />
		<input type="text" name="album" ng-model="video.data.album" placeholder="Album" />
		<input type="text" name="year" ng-model="video.data.year" placeholder="Year" />
		<input type="text" name="genre" ng-model="video.data.genre" placeholder="Genre" />
		<input type="text" name="duration" ng-model="video.data.duration" placeholder="Duration hh:mm:ss" />
		<textarea name="description" ng-model="video.data.description" placeholder="Description"></textarea>
		<button class="btn btn-primary left both" tooltip="Save" tooltip-placement="bottom">
			<i class="fa fa-save"></i>
		</button>
	</form>

</div>